.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 2px);
    height: calc(100% + 2px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .root > :global(.__wab_flex-container) > picture > img,
  .root
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 2px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    margin-left: calc(0px + 0px) !important;
    max-width: 419px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__dZIg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 50px 8px 53px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dZIg {
    width: 460px;
  }
}
.scrollParallax__r8HP:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___4JB8L {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox___4JB8L > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___4JB8L > :global(.__wab_flex-container) > *,
.freeBox___4JB8L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4JB8L > :global(.__wab_flex-container) > picture > img,
.freeBox___4JB8L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4JB8L {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4JB8L > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4JB8L > :global(.__wab_flex-container) > *,
  .freeBox___4JB8L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4JB8L > :global(.__wab_flex-container) > picture > img,
  .freeBox___4JB8L
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__yclle {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox__yclle > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yclle > :global(.__wab_flex-container) > *,
.freeBox__yclle > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yclle > :global(.__wab_flex-container) > picture > img,
.freeBox__yclle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__vJAmc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.columns__dw4R {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-_lqAwWtqgIF3);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  padding-top: 0px;
  min-width: 0;
}
.columns__dw4R > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__dw4R > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__dw4R > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__dw4R > :global(.__wab_flex-container) > *,
.columns__dw4R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dw4R > :global(.__wab_flex-container) > picture > img,
.columns__dw4R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dw4R {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 0px;
    max-width: 378px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    padding-bottom: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dw4R > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dw4R > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dw4R > :global(.__wab_flex-container) > *,
  .columns__dw4R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__dw4R > :global(.__wab_flex-container) > picture > img,
  .columns__dw4R
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__qImUc {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jbp5J {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__jbp5J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jbp5J > :global(.__wab_flex-container) > *,
.freeBox__jbp5J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jbp5J > :global(.__wab_flex-container) > picture > img,
.freeBox__jbp5J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__bgER {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__bgER > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bgER > :global(.__wab_flex-container) > *,
.freeBox__bgER > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bgER > :global(.__wab_flex-container) > picture > img,
.freeBox__bgER
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bgER {
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bgER > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bgER > :global(.__wab_flex-container) > *,
  .freeBox__bgER > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bgER > :global(.__wab_flex-container) > picture > img,
  .freeBox__bgER
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.h1__iCzwf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 60px;
  font-weight: 900;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__iCzwf {
    text-align: center;
    max-width: 360px;
    width: 100%;
    min-width: 0;
  }
}
.text___9Ncbn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9Ncbn {
    text-align: center;
  }
}
.h2___4O9Ov {
  height: 96px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___4O9Ov {
    height: auto;
    width: 370px;
  }
}
.columns__ygrE {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ygrE > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ygrE > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ygrE {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ygrE > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vrWJm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.getStartedForFreeButton__xwYOa:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .getStartedForFreeButton__xwYOa:global(.__wab_instance):global(.__wab_instance) {
    position: relative;
  }
}
.column___4HY6J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px;
}
.learnMore {
  position: relative;
  display: flex;
}
.text__uqgMe {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__fAeOf {
  display: flex;
  position: relative;
  flex-direction: column;
  border-radius: 8px;
}
.img__aivs {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  height: 491px;
  margin-left: 0px;
  backdrop-filter: contrast(131%);
  width: auto;
  object-position: 50% 50%;
  margin-top: 0px;
  flex-shrink: 0;
  -webkit-backdrop-filter: contrast(131%);
  border-radius: 8px;
}
.img__aivs > picture > img {
  object-fit: contain;
  object-position: 50% 50%;
}
.img__aivs > :global(.__wab_img-spacer) > img {
  object-fit: contain;
  object-position: 50% 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__aivs {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 460px;
    width: 380px;
    max-width: 380px;
    flex-shrink: 0;
  }
}
.scrollParallax__ebrRa:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__krK6P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__krK6P {
    flex-direction: column;
    flex-column-gap: 0px;
    display: none;
  }
}
.img__axyYs {
  position: relative;
  object-fit: scale-down;
  max-width: 100%;
  width: 160px;
  left: auto;
  top: auto;
  height: 136px;
  flex-shrink: 0;
  border-radius: 5px;
  margin: 50px;
}
.img__axyYs > picture > img {
  object-fit: scale-down;
}
.img__axyYs > :global(.__wab_img-spacer) > img {
  object-fit: scale-down;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__axyYs {
    left: auto;
    top: auto;
  }
}
.img__pYuhe {
  position: relative;
  object-fit: scale-down;
  max-width: 100%;
  width: 130px;
  flex-shrink: 0;
  border-radius: 5px;
  margin: 50px;
}
.img__pYuhe > picture > img {
  object-fit: scale-down;
}
.img__pYuhe > :global(.__wab_img-spacer) > img {
  object-fit: scale-down;
}
.img__pIkxu {
  position: relative;
  object-fit: scale-down;
  max-width: 100%;
  width: 150px;
  flex-shrink: 0;
  border-radius: 5px;
  margin: 50px;
}
.img__pIkxu > picture > img {
  object-fit: scale-down;
}
.img__pIkxu > :global(.__wab_img-spacer) > img {
  object-fit: scale-down;
}
.img__cdtv {
  position: relative;
  object-fit: scale-down;
  max-width: 100%;
  width: 100px;
  flex-shrink: 0;
  border-radius: 5px;
  margin: 50px;
}
.img__cdtv > picture > img {
  object-fit: scale-down;
}
.img__cdtv > :global(.__wab_img-spacer) > img {
  object-fit: scale-down;
}
.img___2Cwnw {
  position: relative;
  object-fit: scale-down;
  max-width: 100%;
  width: 130px;
  flex-shrink: 0;
  border-radius: 5px;
  margin: 50px;
}
.img___2Cwnw > picture > img {
  object-fit: scale-down;
}
.img___2Cwnw > :global(.__wab_img-spacer) > img {
  object-fit: scale-down;
}
.img__vRt1J {
  position: relative;
  object-fit: scale-down;
  max-width: 100%;
  width: 160px;
  flex-shrink: 0;
  border-radius: 5px;
  margin: 50px;
}
.img__vRt1J > picture > img {
  object-fit: scale-down;
}
.img__vRt1J > :global(.__wab_img-spacer) > img {
  object-fit: scale-down;
}
.freeBox__nQx3L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 1660px;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  background: var(--token-n7nA62H27xPU);
  margin-bottom: 0px;
  padding: 50px 8px 49px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nQx3L {
    padding-bottom: 36px;
    height: 100%;
    width: 460px;
    padding-top: 0px;
    margin-top: calc(0px + 2px) !important;
    min-height: 0;
  }
}
.scrollParallax__tvYzn:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___10Kjo {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox___10Kjo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___10Kjo > :global(.__wab_flex-container) > *,
.freeBox___10Kjo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___10Kjo > :global(.__wab_flex-container) > picture > img,
.freeBox___10Kjo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2__yoyI0 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-v6LfSbn-y);
  line-height: 1;
  text-align: center;
  margin-top: calc(0px + 16px) !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__yoyI0 {
    max-width: 400px;
    width: 350px;
    margin-top: calc(0px + 16px) !important;
    padding: 30px;
  }
}
.text__aml0A {
  font-size: 20px;
  color: var(--token-tPMwc8PX0I8d);
  text-align: center;
  line-height: 28px;
  padding-right: 0px;
  margin-bottom: 0px;
  max-width: 981px;
  width: 100%;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aml0A {
    max-width: 350px;
    width: auto;
  }
}
.freeBox__owOzA {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 50px 8px 51px;
}
.text__snPa {
  font-size: 20px;
  color: #5856d6;
  text-align: center;
  line-height: 28px;
  font-weight: 900;
  align-self: auto;
  margin-right: 0px;
}
.freeBox__yToSt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 70px;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yToSt {
    padding-top: 0px;
    margin-top: calc(0px + 2px) !important;
    max-width: 460px;
  }
}
.scrollParallax__jmzq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox___4D0Ej {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox___4D0Ej > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___4D0Ej > :global(.__wab_flex-container) > *,
.freeBox___4D0Ej > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4D0Ej > :global(.__wab_flex-container) > picture > img,
.freeBox___4D0Ej
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4D0Ej {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4D0Ej > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4D0Ej > :global(.__wab_flex-container) > *,
  .freeBox___4D0Ej > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4D0Ej > :global(.__wab_flex-container) > picture > img,
  .freeBox___4D0Ej
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h2__p6Cdd {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  text-align: right;
  max-width: 811px;
  width: 100%;
  margin-right: 2px;
  padding-left: 0px;
  margin-top: calc(7px + 48px) !important;
  padding-right: 76px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__p6Cdd {
    max-width: 450px;
    width: 450px;
    margin-left: calc(0px + 0px) !important;
    padding-left: 79px;
    padding-right: 113px;
    text-align: center;
    margin-top: calc(7px + 24px) !important;
  }
}
.columns__anwWz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__anwWz > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__anwWz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__anwWz > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___7FFd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column___7FFd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___7FFd {
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___7FFd > :global(.__wab_flex-container) {
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___7FFd > :global(.__wab_flex-container) > *,
  .column___7FFd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column___7FFd > :global(.__wab_flex-container) > picture > img,
  .column___7FFd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 0px;
  }
}
.text__aK0D {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-right: 0px;
  margin-left: 39px;
  max-width: 822px;
  width: 100%;
  padding-right: 0px;
  height: 127px;
  padding-left: 116px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aK0D {
    max-width: 350px;
    width: 100%;
    padding-left: 5px;
    padding-bottom: 0px;
    height: 200px;
    margin-left: calc(0px + 0px) !important;
    min-width: 0;
    flex-shrink: 0;
  }
}
.link {
  color: var(--token-n7nA62H27xPU);
}
.freeBox__fFlrQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fFlrQ {
    padding-top: 7px;
    margin-top: calc(8px + 0px) !important;
    width: 460px;
  }
}
.columns__eoqe6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__eoqe6 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__eoqe6 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eoqe6 {
    width: auto;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eoqe6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__p5Umo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__p5Umo {
    padding-right: 0px;
  }
}
.h3__zGuew {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 403px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  padding-right: 146px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__zGuew {
    margin-top: 0px;
    text-align: left;
    max-width: 350px;
    width: 100%;
    padding-right: 0px;
    min-width: 0;
  }
}
.text__wYiiH {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 407px;
  width: auto;
  margin-top: 10px;
  padding-bottom: 32px;
  padding-right: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wYiiH {
    text-align: left;
    padding-right: 26px;
    padding-bottom: 26px;
    max-width: 350px;
    width: auto;
    margin-top: 9px;
  }
}
.h3___2Dtny {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3___2Dtny {
    text-align: left;
    max-width: 350px;
    width: 100%;
    min-width: 0;
  }
}
.text__tojJb {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  max-width: 410px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tojJb {
    text-align: left;
    max-width: 350px;
    width: auto;
    margin-top: 5px;
  }
}
.column___8RvUw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ryO1V {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  object-position: right 50%;
  align-self: flex-end;
  height: 364px;
  width: auto;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__ryO1V > picture > img {
  object-fit: contain;
  object-position: right 50%;
}
.img__ryO1V > :global(.__wab_img-spacer) > img {
  object-fit: contain;
  object-position: right 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ryO1V {
    width: 380px;
    max-width: 380px;
  }
}
.freeBox__wgToi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wgToi {
    width: auto;
    margin-top: calc(0px + 2px) !important;
  }
}
.scrollParallax__bl4DW:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__ok7Ef {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
  height: 1077px;
  width: auto;
}
.freeBox__ok7Ef > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__ok7Ef > :global(.__wab_flex-container) > *,
.freeBox__ok7Ef > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ok7Ef > :global(.__wab_flex-container) > picture > img,
.freeBox__ok7Ef
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ok7Ef {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 0px;
    height: 1100px;
    width: 450px;
    max-width: 460px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ok7Ef > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ok7Ef > :global(.__wab_flex-container) > *,
  .freeBox__ok7Ef > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ok7Ef > :global(.__wab_flex-container) > picture > img,
  .freeBox__ok7Ef
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h2__uglUb {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  text-align: center;
  margin-top: calc(50px + 48px) !important;
  padding-top: 0px;
  padding-right: 0px;
  width: 100%;
  padding-bottom: 0px;
  max-width: 981px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__uglUb {
    padding-right: 0px;
    max-width: 347px;
    width: 100%;
    padding-top: 0px;
    padding-left: 71px;
    margin-right: 0px;
    margin-top: calc(50px + 24px) !important;
    min-width: 0;
  }
}
.columns___4GblX {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 887px;
  min-width: 0;
  padding: 8px;
}
.columns___4GblX > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4GblX {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4GblX > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__gZwh5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  padding: 8px 27px 0px 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gZwh5 {
    justify-content: center;
    align-items: center;
  }
}
.text__avwzb {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-right: 1px;
  margin-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  height: 91px;
  max-width: 621px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__avwzb {
    max-width: 350px;
    width: 350px;
    height: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.text__jTs7T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 587px;
  padding-bottom: 1px;
  min-width: 0;
}
.ol {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 652px;
  text-align: left;
  height: 204px;
  margin-left: 0px;
  padding-left: 105px;
  margin-right: 3px;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .ol {
    width: 380px;
    margin-right: 0px;
    margin-left: 0px;
    height: 300px;
    margin-bottom: 0px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.li__g1XRe {
  width: 458px;
  color: var(--token-3btyuIOaZa0x);
  font-size: 20px;
  margin-right: 0px;
  text-align: left;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__g1XRe {
    width: 315px;
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 48px;
  }
}
.li__lZ7B {
  width: 209px;
  color: var(--token-3btyuIOaZa0x);
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__lZ7B {
    width: 289px;
    padding-left: 6px;
    margin-right: 98px;
  }
}
.li__i2UCd {
  width: 545px;
  color: var(--token-3btyuIOaZa0x);
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__i2UCd {
    width: 275px;
  }
}
.li__xnuU {
  width: 538px;
  color: var(--token-3btyuIOaZa0x);
  font-size: 20px;
  text-align: left;
  margin-right: 2px;
  padding-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__xnuU {
    margin-right: 0px;
    width: 250px;
  }
}
.li__l0Ono {
  width: 563px;
  color: var(--token-3btyuIOaZa0x);
  font-size: 20px;
  margin-right: 0px;
  text-align: left;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__l0Ono {
    width: 252px;
    margin-right: 0px;
    padding-bottom: 0px;
  }
}
.columns__aeZrG {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: calc(74px + 48px) !important;
  padding: 0px 8px 8px;
}
.columns__aeZrG > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__aeZrG > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aeZrG {
    width: 450px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(74px + 24px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aeZrG > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tsZN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 11px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__tsZN {
    padding-right: 0px;
    padding-left: 5px;
    justify-content: center;
    align-items: center;
  }
}
.h2__shzg3 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  padding-bottom: 20px;
}
.h3__rZuBw {
  padding-right: 0px;
  color: #5856d6;
  text-align: left;
  padding-left: 0px;
  width: 399px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__rZuBw {
    width: 350px;
    height: 49px;
  }
}
.text__zg7Zv {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
  padding-top: 0px;
  max-width: 406px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zg7Zv {
    margin-right: 0px;
    max-width: 350px;
    width: 100%;
    padding-right: 8px;
    min-width: 0;
  }
}
.column___0QuNr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__eMjOw {
  position: relative;
  object-fit: scale-down;
  max-width: 100%;
  align-self: center;
  left: auto;
  top: auto;
  z-index: 1;
  border-radius: 8px;
}
.img__eMjOw > picture > img {
  object-fit: scale-down;
}
.img__eMjOw > :global(.__wab_img-spacer) > img {
  object-fit: scale-down;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__eMjOw {
    margin-bottom: 7px;
    width: 380px;
    height: 332px;
    flex-shrink: 0;
  }
}
.freeBox__cGo34 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
  margin: 80px 80px 80px 68px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cGo34 {
    padding-top: 4px;
    margin-top: calc(475px + 2px) !important;
    width: 460px;
    max-height: none;
    margin-left: calc(0px + 0px) !important;
    margin-right: 0px;
  }
}
.scrollParallax__wKnNp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.freeBox__uaXaw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: var(--token-_lqAwWtqgIF3);
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uaXaw {
    width: 357px;
    padding-left: 17px;
    justify-content: center;
    align-items: center;
  }
}
.h2__meclb {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  position: relative;
  width: 100%;
  height: 65px;
  max-width: 800px;
  background: #ffffff;
  text-align: center;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__meclb {
    padding-left: 0px;
    height: auto;
    width: 350px;
    margin-left: 0px;
  }
}
.text__mc3FI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 846px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  font-size: 20px;
  margin-top: 63px;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mc3FI {
    text-align: left;
    max-width: 350px;
    width: 350px;
    height: auto;
    padding: 0px 10px 0px 39px;
    margin: 20px 20px 0px;
  }
}
.columns__ru70O {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ru70O > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ru70O {
    width: 380px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ru70O > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__mtf70 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ibJu {
  position: relative;
  object-fit: contain;
  max-width: 150%;
  height: 400px;
  width: auto;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__ibJu > picture > img {
  object-fit: contain;
}
.img__ibJu > :global(.__wab_img-spacer) > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ibJu {
    object-fit: contain;
    width: 350px;
    height: 400px;
    max-width: 400px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ibJu > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ibJu > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.scrollParallax__dLDro:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .scrollParallax__dLDro:global(.__wab_instance) {
    width: 450px;
  }
}
.freeBox__gtKs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: auto;
  height: 100%;
  max-width: 100%;
  box-shadow: none;
  min-height: 0;
  padding: 0px 8px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gtKs {
    margin-top: 174px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.freeBox__kGaun {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 0px;
  height: 483px;
  background: #ffffff;
}
.freeBox__kGaun > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kGaun {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 0px;
    height: 783px;
    padding-top: 0px;
    width: 450px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kGaun > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kGaun > :global(.__wab_flex-container) > *,
  .freeBox__kGaun > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kGaun > :global(.__wab_flex-container) > picture > img,
  .freeBox__kGaun
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h2__tsnhg {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  text-align: center;
  margin-top: 100px;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__tsnhg {
    margin-top: calc(0px + 24px) !important;
    width: 373px;
    height: auto;
    text-align: center;
    padding-left: 25px;
  }
}
.columns___72XVq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___72XVq > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___72XVq > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___72XVq {
    width: 460px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___72XVq > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dociy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__dociy {
    justify-content: center;
    align-items: center;
  }
}
.text__jPzIb {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jPzIb {
    padding-top: 0px;
    max-width: 350px;
    width: auto;
    margin-right: 3px;
    margin-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: left;
    position: relative;
    left: auto;
    top: auto;
  }
}
.column__eY3L8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__eY3L8 {
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
  }
}
.text__cK42J {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 0px;
  margin-top: 0px;
  max-width: 338px;
  width: 100%;
  max-height: 300px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cK42J {
    padding-bottom: 0px;
    text-align: left;
    padding-right: 0px;
    max-width: 350px;
    width: auto;
  }
}
.centeredSection:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__jd4L4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1689px;
  height: auto;
  max-width: var(--token-_lqAwWtqgIF3);
  margin-bottom: 47px;
  padding: 8px 8px 7px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jd4L4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 450px;
  }
}
.h2__j71Ux {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 71px;
  margin-bottom: 58px;
  padding-bottom: 2px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__j71Ux {
    max-width: 350px;
    width: auto;
  }
}
.text__bVZlj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-bottom: 3px;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 20px;
  padding-bottom: 61px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bVZlj {
    padding-bottom: 1px;
    max-width: 350px;
    width: auto;
  }
}
.img__uMqIb {
  position: relative;
  object-fit: scale-down;
  max-width: 100%;
  height: 455px;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__uMqIb > picture > img {
  object-fit: scale-down;
}
.img__uMqIb > :global(.__wab_img-spacer) > img {
  object-fit: scale-down;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__uMqIb {
    margin-top: 4px;
    height: 458px;
    width: 400px;
    object-fit: contain;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__uMqIb > picture > img {
    object-fit: contain;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__uMqIb > :global(.__wab_img-spacer) > img {
    object-fit: contain;
  }
}
.freeBox__h8IPh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-QboS_izMJ);
  filter: none;
  backdrop-filter: none;
  min-width: 0;
  -webkit-backdrop-filter: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h8IPh {
    width: 460px;
  }
}
.freeBox__hA9Z4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 10px;
  margin: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hA9Z4 {
    width: 100%;
    min-width: 0;
  }
}
.h1___1ROm {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-nXWKqet0fltC);
  line-height: 1;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
  padding: 10px;
  margin: 10px;
}
.text__igcXq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  color: var(--token-tPMwc8PX0I8d);
  text-align: center;
  min-width: 0;
  padding: 10px;
  margin: 10px;
}
.getStartedForFreeButton__eFgMj:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fathymFooter:global(.__wab_instance) {
    margin-left: calc(5px + 0px) !important;
    width: 460px;
    margin-right: 0px;
  }
}
