.root2 {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root2 > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root2 > :global(.__wab_flex-container) > *,
.root2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root2 > :global(.__wab_flex-container) > picture > img,
.root2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox___2KxT4 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-Y8fX6nOU619);
}
.img {
  position: relative;
  object-fit: contain;
  max-width: 75%;
  margin-bottom: 0px;
  height: 185px;
  max-height: 75px;
  object-position: center center;
  align-self: center;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
  object-position: center center;
}
.img > .__wab_img-spacer > img {
  object-fit: contain;
  object-position: center center;
}
.freeBox__oowL0 {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-fLWk9mlb4);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__oowL0 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__oowL0 > :global(.__wab_flex-container) > *,
.freeBox__oowL0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oowL0 > :global(.__wab_flex-container) > picture > img,
.freeBox__oowL0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oowL0 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oowL0 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oowL0 > :global(.__wab_flex-container) > *,
  .freeBox__oowL0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__oowL0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__oowL0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___1Gr70 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___1Gr70 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___1Gr70 > :global(.__wab_flex-container) > *,
.freeBox___1Gr70 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1Gr70 > :global(.__wab_flex-container) > picture > img,
.freeBox___1Gr70
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Gr70 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Gr70 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1Gr70 > :global(.__wab_flex-container) > *,
  .freeBox___1Gr70 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1Gr70 > :global(.__wab_flex-container) > picture > img,
  .freeBox___1Gr70
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__dEjnk {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__dEjnk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__dEjnk > :global(.__wab_flex-container) > *,
.freeBox__dEjnk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dEjnk > :global(.__wab_flex-container) > picture > img,
.freeBox__dEjnk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__fOqet {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.httpswwwfathymcom {
  position: relative;
  color: var(--token-OH9KfP6Z4G-);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root2 .httpswwwfathymcom:hover {
  color: var(--token-NEon4Y--Z);
}
.httpswwwfathymcomiot {
  position: relative;
  color: var(--token-OH9KfP6Z4G-);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root2 .httpswwwfathymcomiot:hover {
  color: var(--token-NEon4Y--Z);
}
.httpswwwhabistackcom {
  position: relative;
  color: var(--token-OH9KfP6Z4G-);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root2 .httpswwwhabistackcom:hover {
  color: var(--token-NEon4Y--Z);
}
.httpswwwproadjectcom {
  position: relative;
  color: var(--token-OH9KfP6Z4G-);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root2 .httpswwwproadjectcom:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__mnNvy {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__mnNvy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mnNvy > :global(.__wab_flex-container) > *,
.freeBox__mnNvy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mnNvy > :global(.__wab_flex-container) > picture > img,
.freeBox__mnNvy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__hwXye {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.httpswwwfathymcomdocs {
  position: relative;
  color: var(--token-OH9KfP6Z4G-);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root2 .httpswwwfathymcomdocs:hover {
  color: var(--token-NEon4Y--Z);
}
.httpswwwfathymcomblog {
  position: relative;
  color: var(--token-OH9KfP6Z4G-);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root2 .httpswwwfathymcomblog:hover {
  color: var(--token-NEon4Y--Z);
}
.mailtosupportfathymcom {
  position: relative;
  color: var(--token-OH9KfP6Z4G-);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root2 .mailtosupportfathymcom:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__hfLsa {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__hfLsa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hfLsa > :global(.__wab_flex-container) > *,
.freeBox__hfLsa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hfLsa > :global(.__wab_flex-container) > picture > img,
.freeBox__hfLsa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__qkJbh {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.httpswwwfathymcom2 {
  color: var(--token-OH9KfP6Z4G-);
  font-size: 14px;
  margin-right: 0px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.httpswwwfathymcom3 {
  position: relative;
  color: var(--token-OH9KfP6Z4G-);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.httpswwwfathymcom4 {
  position: relative;
  color: var(--token-OH9KfP6Z4G-);
  font-size: 14px;
  max-width: 153px;
  width: 100%;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.freeBox__eMqu5 {
  flex-direction: column;
  position: relative;
  width: 200px;
  flex-shrink: 0;
  display: none;
}
.freeBox__eMqu5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__eMqu5 > :global(.__wab_flex-container) > *,
.freeBox__eMqu5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eMqu5 > :global(.__wab_flex-container) > picture > img,
.freeBox__eMqu5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__ui6Ra {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.text__dkdii {
  position: relative;
  font-size: 14px;
  color: var(--token-OH9KfP6Z4G-);
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.textInput3:global(.__wab_instance) {
  position: relative;
}
.svg__k7P5C {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button3:global(.__wab_instance) {
  position: relative;
}
.svg__pYky {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg__b1Sve {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__bEtx5 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__jyFgI {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-Y8fX6nOU619);
}
.freeBox__a3Sut {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token-fLWk9mlb4);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__a3Sut > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a3Sut {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a3Sut > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a3Sut > :global(.__wab_flex-container) > *,
  .freeBox__a3Sut > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__a3Sut > :global(.__wab_flex-container) > picture > img,
  .freeBox__a3Sut
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__kmVgh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__yizef {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-OH9KfP6Z4G-);
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yizef {
    padding-right: 45px;
  }
}
.freeBox__tRQL {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__tRQL > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__tRQL > :global(.__wab_flex-container) > *,
.freeBox__tRQL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tRQL > :global(.__wab_flex-container) > picture > img,
.freeBox__tRQL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.httpstwittercomFathymIt {
  position: relative;
  display: flex;
}
.fathymIt:global(.__wab_instance) {
  flex-shrink: 0;
}
.twitter {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root2 .twitter:hover {
  color: var(--token-dph1wZ7NjV9);
}
.httpswwwinstagramcomfathymit2 {
  position: relative;
  display: flex;
}
.httpswwwinstagramcomfathymit:global(.__wab_instance) {
  flex-shrink: 0;
}
.instagram {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root2 .instagram:hover {
  color: var(--token-dph1wZ7NjV9);
}
.httpsgithubcomfathym {
  position: relative;
  display: flex;
}
.httpsgithubcomfathym4:global(.__wab_instance) {
  flex-shrink: 0;
}
.gitHub2 {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root2 .gitHub2:hover {
  color: var(--token-dph1wZ7NjV9);
}
.httpswwwlinkedincomcompanyfathym2 {
  position: relative;
  display: flex;
}
.httpswwwlinkedincomcompanyfathym:global(.__wab_instance) {
  flex-shrink: 0;
}
.linkedin {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 16px;
  height: 16px;
}
.root2 .linkedin:hover {
  color: var(--token-dph1wZ7NjV9);
}
.httpswwwfacebookcomFathymInc2 {
  position: relative;
  display: flex;
}
.httpswwwfacebookcomFathymInc:global(.__wab_instance) {
  flex-shrink: 0;
}
.facebook {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root2 .facebook:hover {
  color: var(--token-dph1wZ7NjV9);
}
