.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__ueIo2 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__ueIo2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__ueIo2 > :global(.__wab_flex-container) > *,
.freeBox__ueIo2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ueIo2 > :global(.__wab_flex-container) > picture > img,
.freeBox__ueIo2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ueIo2 {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.reveal___0JSLg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__dXe4W {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.reveal___8M3HI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__vlvGy {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.reveal__wZd3V:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns___0OiOy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___0OiOy > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___0OiOy > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0OiOy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___0OiOy > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sEu0 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__ebNhf:global(.__wab_instance) {
  position: relative;
}
.svg__pmH5D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__nlBzh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__je5Vm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__fiHrW {
  position: relative;
  text-decoration-line: underline;
}
.columns__nSk65 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 1322px;
  min-width: 0;
  padding: 8px;
}
.columns__nSk65 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nSk65 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nSk65 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__zPsj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.reveal__vFFm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__bjAqo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.reveal__zMsLz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__hNiKq {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.reveal__fDv9P:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__lwJgP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 515px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.text__ghVr1 {
  position: relative;
  font-size: 24px;
  text-align: center;
}
.link__bhp52 {
  position: relative;
  font-size: 21px;
  padding-right: 0px;
  text-decoration-line: underline;
  margin-top: 30px;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-n7nA62H27xPU);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__oeuA {
  flex-direction: column;
  display: flex;
}
.freeBox__oeuA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__oeuA > :global(.__wab_flex-container) > *,
.freeBox__oeuA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oeuA > :global(.__wab_flex-container) > picture > img,
.freeBox__oeuA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__z02G {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.reveal__xpOq6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__wcLPx {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
}
.freeBox__peSlM {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__peSlM > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__peSlM > :global(.__wab_flex-container) > *,
.freeBox__peSlM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__peSlM > :global(.__wab_flex-container) > picture > img,
.freeBox__peSlM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__f1Yk6 {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__f1Yk6 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__f1Yk6 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__f1Yk6 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__f1Yk6 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__f1Yk6 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__f1Yk6 > :global(.__wab_flex-container) > *,
.columns__f1Yk6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__f1Yk6 > :global(.__wab_flex-container) > picture > img,
.columns__f1Yk6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f1Yk6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f1Yk6 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f1Yk6 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f1Yk6 > :global(.__wab_flex-container) > *,
  .columns__f1Yk6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__f1Yk6 > :global(.__wab_flex-container) > picture > img,
  .columns__f1Yk6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__zF58C {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__jo1Nc:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__v1YwD {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__am160 {
  padding-left: 0px;
}
.column__sTsXt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__va245:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__hxZvA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__bjPt {
  padding-left: 0px;
}
.column__mTqr8 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__lBCeg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__qcpVc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__zc6E3 {
  padding-left: 0px;
}
.column__unNAu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__wa7Yc:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__lNdgt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__eJnY {
  padding-left: 0px;
}
.freeBox__swcH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 355px;
  background: none;
  min-width: 0;
  padding: 8px;
}
.button__atOMu:global(.__wab_instance) {
  position: relative;
}
.svg__bxazI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__vT0H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__yx3Zb {
  position: relative;
  padding: 8px 8px 8px 21px;
}
.columns__cja6E {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__cja6E > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__cja6E > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cja6E {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cja6E > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ppDbe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column___3XZpY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__xTdDk {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__xTdDk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__xTdDk > :global(.__wab_flex-container) > *,
.freeBox__xTdDk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xTdDk > :global(.__wab_flex-container) > picture > img,
.freeBox__xTdDk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xTdDk {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__wUik {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__wUik > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__wUik > :global(.__wab_flex-container) > *,
.freeBox__wUik > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wUik > :global(.__wab_flex-container) > picture > img,
.freeBox__wUik
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__oFjAb {
  flex-direction: column;
  display: flex;
}
.freeBox__oFjAb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__oFjAb > :global(.__wab_flex-container) > *,
.freeBox__oFjAb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oFjAb > :global(.__wab_flex-container) > picture > img,
.freeBox__oFjAb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__aUjfY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__hjoKf {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hjoKf {
    text-align: center;
  }
}
.text___6Vnvp {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__j6MM {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__j6MM > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__j6MM > :global(.__wab_flex-container) > *,
.freeBox__j6MM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j6MM > :global(.__wab_flex-container) > picture > img,
.freeBox__j6MM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j6MM {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j6MM > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j6MM > :global(.__wab_flex-container) > *,
  .freeBox__j6MM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__j6MM > :global(.__wab_flex-container) > picture > img,
  .freeBox__j6MM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__ieyxK:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__dlzfQ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___2ORVz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__zz2Vp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xgdUw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__iPvRp {
  height: auto;
}
.priceCard__dgAo:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__dkYfj {
  color: var(--token-dPpkVE5bFb5j);
}
.valueProp__v2Xzr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fYvZo {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__c7PzD:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dQiO {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mqi4T:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__eyhd5 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__i3P6 {
  height: auto;
}
.priceCard__lW6P7:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__uHbCz {
  color: var(--token-pTKH6-tH8_-f);
}
.valueProp__sBb3C:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xHw9A {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gmpF7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vnQFq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__qVaIy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__q32VR {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yr03Q:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cNhod {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__wNnw0 {
  height: auto;
}
.priceCard__orG00:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___0Jb7Q {
  color: var(--token-XtMYfNHa74Tv);
}
.valueProp__fKaMm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qnKuh {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__lfuk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__aGzcS {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mRBza:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__iqTg7 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__jw8Zg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vhUo3 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__bz4Zi {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
