.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    margin-left: 0px;
    max-width: 419px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__mWaKy {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 125px 8px 75px;
}
.freeBox__juCC {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__juCC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__juCC > :global(.__wab_flex-container) > *,
.freeBox__juCC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__juCC > :global(.__wab_flex-container) > picture > img,
.freeBox__juCC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__juCC {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__juCC > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__juCC > :global(.__wab_flex-container) > *,
  .freeBox__juCC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__juCC > :global(.__wab_flex-container) > picture > img,
  .freeBox__juCC
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__qyAk {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox__qyAk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qyAk > :global(.__wab_flex-container) > *,
.freeBox__qyAk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qyAk > :global(.__wab_flex-container) > picture > img,
.freeBox__qyAk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___5XvKq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.columns__zNuLb {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-_lqAwWtqgIF3);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__zNuLb > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__zNuLb > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__zNuLb > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__zNuLb > :global(.__wab_flex-container) > *,
.columns__zNuLb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__zNuLb > :global(.__wab_flex-container) > picture > img,
.columns__zNuLb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zNuLb {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 0px;
    max-width: 378px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zNuLb > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zNuLb > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zNuLb > :global(.__wab_flex-container) > *,
  .columns__zNuLb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__zNuLb > :global(.__wab_flex-container) > picture > img,
  .columns__zNuLb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__wCk3T {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__qwO8Z {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__qwO8Z > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__qwO8Z > :global(.__wab_flex-container) > *,
.freeBox__qwO8Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qwO8Z > :global(.__wab_flex-container) > picture > img,
.freeBox__qwO8Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__y4Jx4 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__y4Jx4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__y4Jx4 > :global(.__wab_flex-container) > *,
.freeBox__y4Jx4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y4Jx4 > :global(.__wab_flex-container) > picture > img,
.freeBox__y4Jx4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y4Jx4 {
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y4Jx4 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__y4Jx4 > :global(.__wab_flex-container) > *,
  .freeBox__y4Jx4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__y4Jx4 > :global(.__wab_flex-container) > picture > img,
  .freeBox__y4Jx4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__j9M2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 60px;
  font-weight: 900;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__j9M2 {
    text-align: center;
  }
}
.text___6Rt5Q {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 35px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___6Rt5Q {
    text-align: center;
  }
}
.text__hB92W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hB92W {
    text-align: center;
  }
}
.columns__n30It {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__n30It > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__n30It > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n30It {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n30It > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___8289X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__meoV1:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__meoV1:global(.__wab_instance) {
    position: relative;
  }
}
.svg__kt0CJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ss3Il {
  height: auto;
}
.svg___9Kq9J {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__oqUYt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px;
}
.learnMore {
  position: relative;
  display: flex;
}
.text__w2983 {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__bjT9T {
  display: flex;
  position: relative;
  flex-direction: column;
}
.img__cJpgi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__cJpgi > picture > img {
  object-fit: cover;
}
.img__cJpgi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__mFd1S {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 0px 8px 75px;
}
.freeBox__giVVr {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox__giVVr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__giVVr > :global(.__wab_flex-container) > *,
.freeBox__giVVr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__giVVr > :global(.__wab_flex-container) > picture > img,
.freeBox__giVVr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__mjbC1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__rtFs9 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  text-align: center;
}
.text__yqJfr {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: center;
  line-height: 28px;
  padding-right: 0px;
}
.freeBox__c6Z50 {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 0px 8px 75px;
}
.text__opgAa {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: center;
  line-height: 28px;
  font-weight: 900;
  align-self: auto;
  margin-right: 0px;
}
.freeBox__iyvAf {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 0px 8px 75px;
}
.freeBox__h6V8E {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox__h6V8E > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__h6V8E > :global(.__wab_flex-container) > *,
.freeBox__h6V8E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__h6V8E > :global(.__wab_flex-container) > picture > img,
.freeBox__h6V8E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h6V8E {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h6V8E > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h6V8E > :global(.__wab_flex-container) > *,
  .freeBox__h6V8E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__h6V8E > :global(.__wab_flex-container) > picture > img,
  .freeBox__h6V8E
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1__alT9Z {
  font-size: 60px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  text-align: center;
}
.columns___7C5Zn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___7C5Zn > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___7C5Zn > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7C5Zn {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7C5Zn > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__kkxh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__xEheX {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
}
.column__eQhG {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__s5MmS {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
}
.columns__xHj8 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__xHj8 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__xHj8 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xHj8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xHj8 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vvHQx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__emVj0 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__emVj0 > picture > img {
  object-fit: cover;
}
.img__emVj0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__f0NUd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__s38P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3___5Qvaz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__qyWfD {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox__qQ4X {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.h3__yAa3H {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__n98Kz {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.button___6GZdq:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___6GZdq:global(.__wab_instance) {
    position: relative;
  }
}
.svg___1Ss5E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__klpJn {
  height: auto;
  text-align: left;
}
.svg__tkqoQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__abo0D {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 125px 8px 75px;
}
.freeBox__yWsI7 {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox__yWsI7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__yWsI7 > :global(.__wab_flex-container) > *,
.freeBox__yWsI7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yWsI7 > :global(.__wab_flex-container) > picture > img,
.freeBox__yWsI7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yWsI7 {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yWsI7 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yWsI7 > :global(.__wab_flex-container) > *,
  .freeBox__yWsI7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yWsI7 > :global(.__wab_flex-container) > picture > img,
  .freeBox__yWsI7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1__uvblD {
  font-size: 60px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  text-align: center;
}
.columns__ugBoD {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ugBoD > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ugBoD > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ugBoD {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ugBoD > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__xuWo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___0ZbJv {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
  padding-right: 0px;
}
.column___23Mhl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__wQoX9 {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 0px;
}
.columns__dwCpc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__dwCpc > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__dwCpc > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dwCpc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dwCpc > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__rSe2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___8YIl1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___8YIl1 > picture > img {
  object-fit: cover;
}
.img___8YIl1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__iP8Ws {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__ik4Wo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3___0Ttg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__mpK20 {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox___8CwGf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.h3__fKqUy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__vp9WG {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.button__cJ2E:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__cJ2E:global(.__wab_instance) {
    position: relative;
  }
}
.svg__jdPxJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__yyRuy {
  height: auto;
  text-align: left;
}
.svg__s0Ue {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.columns__iVgBs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__iVgBs > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__iVgBs > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iVgBs {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iVgBs > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vKa3Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__sZecn {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
.text__nqrFt {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.column__w9VZm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__uaEhx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__uaEhx > picture > img {
  object-fit: cover;
}
.img__uaEhx > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__sU20 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__sU20 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__sU20 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sU20 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sU20 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__yZfj2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__yzBcw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__yzBcw > picture > img {
  object-fit: cover;
}
.img__yzBcw > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__a9MIc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2___06Vox {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
.text__fImcb {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.text__mjUo2 {
  position: relative;
}
.columns__kwXvg {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__kwXvg > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__kwXvg > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kwXvg {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kwXvg > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__b7LTw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__eq856 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
.text__uQf9V {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  padding-top: 0px;
}
.column__nKn5U {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__h0ALb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__h0ALb > picture > img {
  object-fit: cover;
}
.img__h0ALb > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___1DPD {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 125px 8px 75px;
}
.freeBox__cl2EP {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox__cl2EP > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__cl2EP > :global(.__wab_flex-container) > *,
.freeBox__cl2EP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cl2EP > :global(.__wab_flex-container) > picture > img,
.freeBox__cl2EP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cl2EP {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cl2EP > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cl2EP > :global(.__wab_flex-container) > *,
  .freeBox__cl2EP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cl2EP > :global(.__wab_flex-container) > picture > img,
  .freeBox__cl2EP
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1__r7Ztp {
  font-size: 60px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  text-align: center;
}
.columns___7ZvpZ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___7ZvpZ > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___7ZvpZ > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7ZvpZ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7ZvpZ > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__my4FE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__nJLn {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 0px;
}
.column__hpsg9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__hoeC5 {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
}
.columns__lqvJd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__lqvJd > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lqvJd > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lqvJd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lqvJd > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___9FGHq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ap7Lf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ap7Lf > picture > img {
  object-fit: cover;
}
.img__ap7Lf > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__m7LjW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__vmovi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__nNzNk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__tLfso {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox__zlVao {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.h3__r86T0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text___2P4Gl {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.button__gs2BC:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__gs2BC:global(.__wab_instance) {
    position: relative;
  }
}
.svg__hNnh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__qV5R {
  height: auto;
  text-align: left;
}
.svg__u0MyW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.columns__vtlLi {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__vtlLi > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__vtlLi > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vtlLi {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vtlLi > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__e2XT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__uqTrc {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
.text__ehzae {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.column___9Awhw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__eiu5A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 36px;
}
.img__eiu5A > picture > img {
  object-fit: cover;
}
.img__eiu5A > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.columns__jJ3Pa {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__jJ3Pa > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__jJ3Pa > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jJ3Pa {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jJ3Pa > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___5JDg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___9J55N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 35px;
}
.img___9J55N > picture > img {
  object-fit: cover;
}
.img___9J55N > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__ssNtP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2___519Jv {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
.text___9LruN {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.columns__i8ZJj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__i8ZJj > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__i8ZJj > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__i8ZJj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__i8ZJj > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__a3GW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__vKwfR {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
.text__sUuy6 {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  padding-left: 0px;
  margin-top: 0px;
}
.column__ejIoQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__jR47G {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__jR47G > picture > img {
  object-fit: cover;
}
.img__jR47G > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__mvXr1 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox__mvXr1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__mvXr1 > :global(.__wab_flex-container) > *,
.freeBox__mvXr1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mvXr1 > :global(.__wab_flex-container) > picture > img,
.freeBox__mvXr1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mvXr1 {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox___6Rimt {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox___6Rimt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___6Rimt > :global(.__wab_flex-container) > *,
.freeBox___6Rimt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Rimt > :global(.__wab_flex-container) > picture > img,
.freeBox___6Rimt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__yqjB5 {
  flex-direction: column;
  display: flex;
}
.freeBox__yqjB5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yqjB5 > :global(.__wab_flex-container) > *,
.freeBox__yqjB5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yqjB5 > :global(.__wab_flex-container) > picture > img,
.freeBox__yqjB5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__gaSeN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__pSvG {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pSvG {
    text-align: center;
  }
}
.freeBox__ifCtJ {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ifCtJ > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__ifCtJ > :global(.__wab_flex-container) > *,
.freeBox__ifCtJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ifCtJ > :global(.__wab_flex-container) > picture > img,
.freeBox__ifCtJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ifCtJ {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ifCtJ > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ifCtJ > :global(.__wab_flex-container) > *,
  .freeBox__ifCtJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ifCtJ > :global(.__wab_flex-container) > picture > img,
  .freeBox__ifCtJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__a71ZL:global(.__wab_instance) {
  position: relative;
  width: 100%;
  max-width: 316px;
  min-width: 0;
}
.freeBox__ib2Tb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 255px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 8px;
}
.img__zcb2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 211px;
  height: 282px;
  flex-shrink: 0;
}
.img__zcb2 > picture > img {
  object-fit: cover;
}
.img__zcb2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__xYnYw {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 336px;
  min-width: 0;
  display: none;
  padding: 8px;
}
.valueProp__ooxyb:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  min-width: 0;
  margin: 0px 0px 20px;
}
.text__ojvbp {
  height: auto;
}
.svg__lgIcC {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ceq4N:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  margin-bottom: 20px;
  min-width: 0;
}
.text___28GYu {
  height: auto;
}
.svg__v2Epw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___52U:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  min-width: 0;
  margin: 0px 0px 20px;
}
.text__pk0Qk {
  height: auto;
}
.svg___7Uy9E {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__lKorr:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  margin-bottom: 20px;
  min-width: 0;
}
.text__gxZvI {
  height: auto;
}
.svg__aObYn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__muGj5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__zJVr2 {
  padding-right: 0px;
}
.svg__xyGdw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.getStarted {
  display: flex;
}
.text__d1Qhi {
  height: auto;
}
.priceCard__p06Lz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: auto;
  max-width: 316px;
}
.text__evMy3 {
  color: var(--token-dPpkVE5bFb5j);
}
.freeBox__fTcSl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 281px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.img___6AcQz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 201px;
  height: 281px;
  flex-shrink: 0;
}
.img___6AcQz > picture > img {
  object-fit: cover;
}
.img___6AcQz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.personalPlan {
  display: flex;
}
.text__vvvV2 {
  height: auto;
}
.priceCard__nkMM:global(.__wab_instance) {
  position: relative;
  width: 100%;
  max-width: 316px;
  min-width: 0;
}
.text__prfTe {
  color: var(--token-pTKH6-tH8_-f);
}
.freeBox__fpN7D {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 260px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.img__qLdXj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 217px;
  height: 260px;
  flex-shrink: 0;
}
.img__qLdXj > picture > img {
  object-fit: cover;
}
.img__qLdXj > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.proPlan {
  display: flex;
}
.text__ny48C {
  height: auto;
}
.priceCard___5RfAi:global(.__wab_instance) {
  position: relative;
  width: 100%;
  max-width: 316px;
  min-width: 0;
}
.text__bxx3I {
  color: var(--token-XtMYfNHa74Tv);
}
.freeBox__fvVx8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 255px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.img__msBsu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 215px;
  height: 255px;
  flex-shrink: 0;
}
.img__msBsu > picture > img {
  object-fit: cover;
}
.img__msBsu > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.businessPlan {
  display: flex;
}
.text__qUnGy {
  height: auto;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-Fp84Xuw2Y);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___4A1WH {
  flex-direction: column;
  display: flex;
}
.freeBox___4A1WH > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___4A1WH > :global(.__wab_flex-container) > *,
.freeBox___4A1WH > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4A1WH > :global(.__wab_flex-container) > picture > img,
.freeBox___4A1WH
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___9BbLy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2___1ViXn {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__l5Fdp {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-left: 0px;
}
.columns__ksJ36 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ksJ36 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ksJ36 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ksJ36 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__kfBIr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___7Jiro:global(.__wab_instance) {
  position: relative;
}
.svg__fCcz8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__aR7Lj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
