.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__xg4Ue {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__xg4Ue > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__xg4Ue > :global(.__wab_flex-container) > *,
.freeBox__xg4Ue > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xg4Ue > :global(.__wab_flex-container) > picture > img,
.freeBox__xg4Ue
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xg4Ue {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.reveal__ffwgl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__kYaBb {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.reveal__g6DY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___8PuRq {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.reveal__wfJz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__sg1Wb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__sg1Wb > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__sg1Wb > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sg1Wb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__sg1Wb > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ozY7I {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__bhyPl:global(.__wab_instance) {
  position: relative;
}
.svg___4Rdzg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___5LTig {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column___6Dfmi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__o9Qm {
  position: relative;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.reveal__zBhqE:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__wbB26 {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox__wbB26 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__wbB26 > :global(.__wab_flex-container) > *,
.freeBox__wbB26 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wbB26 > :global(.__wab_flex-container) > picture > img,
.freeBox__wbB26
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__mnFfC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__ynWgt {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__ynWgt {
    text-align: center;
  }
}
.text__jvZyz {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: center;
  line-height: 28px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.reveal__qxkSc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp__iKrx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__u96GQ {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__u96GQ {
    max-width: 249px;
    width: 100%;
    min-width: 0;
  }
}
.link__tzCcK {
  display: flex;
  font-weight: 700;
}
.text__mglrP {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  text-align: left;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg__rTeu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__arqQf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__z4Fi5 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.reveal__cFiUf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp___97Cxx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hFgCz {
    max-width: 241px;
    width: 100%;
    min-width: 0;
  }
}
.link__bywyd {
  display: flex;
  font-weight: 700;
}
.text___759G8 {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg__fb6Lb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___4MYF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__jHFeX {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.reveal__v4Vl5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp___5DLxs:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__ubss6 {
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ubss6 {
    max-width: 247px;
    width: 100%;
    min-width: 0;
  }
}
.link___1Pczu {
  display: flex;
  font-weight: 700;
}
.text__vVgMu {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg__qdVaW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__gtwB8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__l38Ka {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__v6Tch {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.reveal__oVkx3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__p2NTv {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  height: auto;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ciVwm {
    font-size: 18px;
  }
}
.columns__lu3Pu {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__lu3Pu > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lu3Pu > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lu3Pu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lu3Pu > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1EOxr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___15WcJ:global(.__wab_instance) {
  position: relative;
}
.svg__vf2Hb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__uhFaW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__hWyXc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link___2MNx7 {
  display: flex;
  font-weight: 700;
}
.text___7Pb1F {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
}
.button__dmkg:global(.__wab_instance) {
  display: none;
}
.svg___3EdaP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__aLeW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-n7nA62H27xPU);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___3FPaV {
  flex-direction: column;
  display: flex;
}
.freeBox___3FPaV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___3FPaV > :global(.__wab_flex-container) > *,
.freeBox___3FPaV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3FPaV > :global(.__wab_flex-container) > picture > img,
.freeBox___3FPaV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__a7MyY {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.reveal___8KGq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2__ah9P {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__yHufV {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-top: 0px;
}
.freeBox___5OVsc {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox___5OVsc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___5OVsc > :global(.__wab_flex-container) > *,
.freeBox___5OVsc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5OVsc > :global(.__wab_flex-container) > picture > img,
.freeBox___5OVsc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__vUc5 {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__vUc5 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__vUc5 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__vUc5 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__vUc5 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__vUc5 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__vUc5 > :global(.__wab_flex-container) > *,
.columns__vUc5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__vUc5 > :global(.__wab_flex-container) > picture > img,
.columns__vUc5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vUc5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vUc5 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vUc5 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vUc5 > :global(.__wab_flex-container) > *,
  .columns__vUc5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__vUc5 > :global(.__wab_flex-container) > picture > img,
  .columns__vUc5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__mf4Dc {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__odjgY:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___54WnX {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text___3JR0C {
  padding-left: 0px;
}
.column__fJKfY {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__vz1O:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__hpkp5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__tqOaC {
  padding-left: 0px;
}
.column__g9IJy {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___8Tcxn:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__xRyyu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__ns8SF {
  padding-left: 0px;
}
.column___7E31V {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___0VvGu:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__kZgR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__jSdEt {
  padding-left: 0px;
}
.freeBox__vPu3P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 355px;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.button__h1Nq2:global(.__wab_instance) {
  position: relative;
}
.svg__tiiEm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__vu8UY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__q50YD {
  position: relative;
}
.columns__pou1Y {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__pou1Y > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__pou1Y > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pou1Y {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pou1Y > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ipHr3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column___2C9JB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__kAb5Z {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__kAb5Z > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kAb5Z > :global(.__wab_flex-container) > *,
.freeBox__kAb5Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kAb5Z > :global(.__wab_flex-container) > picture > img,
.freeBox__kAb5Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kAb5Z {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__qr7Z {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__qr7Z > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__qr7Z > :global(.__wab_flex-container) > *,
.freeBox__qr7Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qr7Z > :global(.__wab_flex-container) > picture > img,
.freeBox__qr7Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox___7KpA {
  flex-direction: column;
  display: flex;
}
.freeBox___7KpA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___7KpA > :global(.__wab_flex-container) > *,
.freeBox___7KpA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7KpA > :global(.__wab_flex-container) > picture > img,
.freeBox___7KpA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___2JtG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__oJzV3 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oJzV3 {
    text-align: center;
  }
}
.text__aWlf9 {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__mgfxh {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__mgfxh > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__mgfxh > :global(.__wab_flex-container) > *,
.freeBox__mgfxh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mgfxh > :global(.__wab_flex-container) > picture > img,
.freeBox__mgfxh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mgfxh {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mgfxh > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mgfxh > :global(.__wab_flex-container) > *,
  .freeBox__mgfxh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__mgfxh > :global(.__wab_flex-container) > picture > img,
  .freeBox__mgfxh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__dlk9Z:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__wz6Bg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tYQpm {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___1W8Nz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rFTr9 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___0Urzh {
  height: auto;
}
.priceCard__sCFz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__feu8W {
  color: var(--token-dPpkVE5bFb5j);
}
.valueProp__pImWd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dz9Oy {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a5Gpi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sDIcx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yXoom:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tJbG {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___8G8Sy {
  height: auto;
}
.priceCard__jr2Kg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__xZss {
  color: var(--token-pTKH6-tH8_-f);
}
.valueProp___02MYb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qZtd4 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__lQylr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kqMk3 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__pBnk9:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__btcgi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ov97W:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ss5Qe {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__l41Sj {
  height: auto;
}
.priceCard___10Xk:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__wFJmo {
  color: var(--token-XtMYfNHa74Tv);
}
.valueProp___7IsU:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mjawx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__k63La:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ejfmX {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vtMyj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oeecW {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gBhak:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ypEze {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__rlRxd {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
