.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    margin-left: 0px;
    max-width: 419px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__jz83 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 125px 8px 75px;
}
.freeBox___4ZPIa {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox___4ZPIa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___4ZPIa > :global(.__wab_flex-container) > *,
.freeBox___4ZPIa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4ZPIa > :global(.__wab_flex-container) > picture > img,
.freeBox___4ZPIa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4ZPIa {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4ZPIa > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4ZPIa > :global(.__wab_flex-container) > *,
  .freeBox___4ZPIa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4ZPIa > :global(.__wab_flex-container) > picture > img,
  .freeBox___4ZPIa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__oqJ4E {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox__oqJ4E > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__oqJ4E > :global(.__wab_flex-container) > *,
.freeBox__oqJ4E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oqJ4E > :global(.__wab_flex-container) > picture > img,
.freeBox__oqJ4E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__gLviZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.columns__i9DI0 {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-_lqAwWtqgIF3);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__i9DI0 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__i9DI0 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__i9DI0 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__i9DI0 > :global(.__wab_flex-container) > *,
.columns__i9DI0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__i9DI0 > :global(.__wab_flex-container) > picture > img,
.columns__i9DI0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__i9DI0 {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 0px;
    max-width: 378px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__i9DI0 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__i9DI0 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__i9DI0 > :global(.__wab_flex-container) > *,
  .columns__i9DI0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__i9DI0 > :global(.__wab_flex-container) > picture > img,
  .columns__i9DI0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column___8YGh6 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___4ZTg {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox___4ZTg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___4ZTg > :global(.__wab_flex-container) > *,
.freeBox___4ZTg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4ZTg > :global(.__wab_flex-container) > picture > img,
.freeBox___4ZTg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__wam0 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__wam0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__wam0 > :global(.__wab_flex-container) > *,
.freeBox__wam0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wam0 > :global(.__wab_flex-container) > picture > img,
.freeBox__wam0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wam0 {
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wam0 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wam0 > :global(.__wab_flex-container) > *,
  .freeBox__wam0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__wam0 > :global(.__wab_flex-container) > picture > img,
  .freeBox__wam0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.text__uboiu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 60px;
  font-weight: 900;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uboiu {
    text-align: center;
  }
}
.text__duPzt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 35px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__duPzt {
    text-align: center;
  }
}
.text__ncQxZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ncQxZ {
    text-align: center;
  }
}
.columns__j4TRs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__j4TRs > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__j4TRs > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__j4TRs {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__j4TRs > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__pKjij {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__jGjip:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__jGjip:global(.__wab_instance) {
    position: relative;
  }
}
.svg__wUfwt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__kdWy {
  height: auto;
}
.svg__s07XP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__lzsXm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px;
}
.learnMore {
  position: relative;
  display: flex;
}
.text__bc317 {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__sauIw {
  display: flex;
  position: relative;
  flex-direction: column;
}
.img__x9DLr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__x9DLr > picture > img {
  object-fit: cover;
}
.img__x9DLr > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox___0Yia1 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 0px 8px 75px;
}
.freeBox__hdkWl {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox__hdkWl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hdkWl > :global(.__wab_flex-container) > *,
.freeBox__hdkWl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hdkWl > :global(.__wab_flex-container) > picture > img,
.freeBox__hdkWl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__defQr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__zc1Gn {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  text-align: center;
}
.text__gDdU {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: center;
  line-height: 28px;
  padding-right: 0px;
}
.freeBox__xOzus {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 0px 8px 75px;
}
.text__mnCo2 {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: center;
  line-height: 28px;
  font-weight: 900;
  align-self: auto;
  margin-right: 0px;
}
.freeBox__ukjhZ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px 75px;
}
.freeBox___6YqY5 {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox___6YqY5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___6YqY5 > :global(.__wab_flex-container) > *,
.freeBox___6YqY5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6YqY5 > :global(.__wab_flex-container) > picture > img,
.freeBox___6YqY5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6YqY5 {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6YqY5 > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6YqY5 > :global(.__wab_flex-container) > *,
  .freeBox___6YqY5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6YqY5 > :global(.__wab_flex-container) > picture > img,
  .freeBox___6YqY5
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1__dtAfs {
  font-size: 60px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  text-align: center;
}
.columns__lWwUs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__lWwUs > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lWwUs > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lWwUs {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lWwUs > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__ljuB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gDgTi {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
}
.column__w67Ol {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___4PmZi {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
}
.columns__uVs4P {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__uVs4P > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__uVs4P > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uVs4P {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uVs4P > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__nHfvM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__f4Ktq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__f4Ktq > picture > img {
  object-fit: cover;
}
.img__f4Ktq > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__v5YjJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__ztGRg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3___3Rk2T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__fIwE1 {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox__xztn8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.h3__oRr9W {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__paJg7 {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.button__w2R2:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__w2R2:global(.__wab_instance) {
    position: relative;
  }
}
.svg__kjeJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___5Npm {
  height: auto;
  text-align: left;
}
.svg__a8MgA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__qbKhh {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 125px 8px 75px;
}
.freeBox__vdDkr {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox__vdDkr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__vdDkr > :global(.__wab_flex-container) > *,
.freeBox__vdDkr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vdDkr > :global(.__wab_flex-container) > picture > img,
.freeBox__vdDkr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vdDkr {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vdDkr > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vdDkr > :global(.__wab_flex-container) > *,
  .freeBox__vdDkr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vdDkr > :global(.__wab_flex-container) > picture > img,
  .freeBox__vdDkr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1__luXzX {
  font-size: 60px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  text-align: center;
}
.columns__lZz5D {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__lZz5D > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lZz5D > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lZz5D {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lZz5D > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__gucet {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__pYMep {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
  padding-right: 0px;
}
.column___5JlQy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__ks8RN {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
  padding-bottom: 0px;
}
.columns__g6DHx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__g6DHx > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__g6DHx > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__g6DHx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__g6DHx > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__mxCtX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ghu4A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ghu4A > picture > img {
  object-fit: cover;
}
.img__ghu4A > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___4AxTz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__mo7Oz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__i3Iw9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__jtiaq {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox__oZha {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.h3__dPuTo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__fXr4Z {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.button___0Q9H7:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___0Q9H7:global(.__wab_instance) {
    position: relative;
  }
}
.svg__t7IXn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__k8T5W {
  height: auto;
  text-align: left;
}
.svg__vl4Dj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.columns__o0Vu8 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__o0Vu8 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__o0Vu8 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__o0Vu8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__o0Vu8 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__mtq3L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__f629O {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
.text__vl2Vr {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.column__aOs5T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__vdklu {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__vdklu > picture > img {
  object-fit: cover;
}
.img__vdklu > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns___35Y5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___35Y5 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___35Y5 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___35Y5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___35Y5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dwfnf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__pXoua {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__pXoua > picture > img {
  object-fit: cover;
}
.img__pXoua > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__xc2Zi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__s0KxY {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
.text__udZPm {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.text__xm6BA {
  position: relative;
}
.columns__yzxM1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__yzxM1 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__yzxM1 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yzxM1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yzxM1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tEyTm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__gGtXu {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
.text__zCeO {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  padding-top: 0px;
}
.column___0CnK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__atCca {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__atCca > picture > img {
  object-fit: cover;
}
.img__atCca > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__ge9I8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 125px 8px 75px;
}
.freeBox__s22VJ {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox__s22VJ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__s22VJ > :global(.__wab_flex-container) > *,
.freeBox__s22VJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s22VJ > :global(.__wab_flex-container) > picture > img,
.freeBox__s22VJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s22VJ {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s22VJ > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s22VJ > :global(.__wab_flex-container) > *,
  .freeBox__s22VJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__s22VJ > :global(.__wab_flex-container) > picture > img,
  .freeBox__s22VJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h1__fjZiy {
  font-size: 60px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  text-align: center;
}
.columns__juFeZ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__juFeZ > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__juFeZ > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__juFeZ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__juFeZ > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___0Z9Zj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__cpCyY {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 0px;
}
.column__wxqTw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___0Rgid {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
}
.columns__cz8Ep {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__cz8Ep > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__cz8Ep > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cz8Ep {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cz8Ep > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vr4WB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__fp3Jx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__fp3Jx > picture > img {
  object-fit: cover;
}
.img__fp3Jx > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__cc3Oq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.freeBox__s89Ob {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.h3__c7WOn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__tUaAp {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.freeBox___0Obms {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  padding: 8px;
}
.h3__cvWb9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 0;
}
.text__uydf9 {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
}
.button__lYZlo:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__lYZlo:global(.__wab_instance) {
    position: relative;
  }
}
.svg__qsH3D {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__hfHex {
  height: auto;
  text-align: left;
}
.svg__iQdA1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.columns__aqBq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__aqBq > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__aqBq > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aqBq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aqBq > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sxJ1K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__tvvwg {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
.text__ua7Bm {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.column___6Jgp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___0C5J {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-left: 36px;
}
.img___0C5J > picture > img {
  object-fit: cover;
}
.img___0C5J > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__hXeSq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__hXeSq > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__hXeSq > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hXeSq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hXeSq > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fe9Fi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__aLTob {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-right: 35px;
}
.img__aLTob > picture > img {
  object-fit: cover;
}
.img__aLTob > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__kojso {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__gdG7O {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
.text__cbinK {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
}
.columns__kl8SD {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__kl8SD > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__kl8SD > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kl8SD {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kl8SD > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__q0R3P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h2__tOlN1 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
.text___6Fglo {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  padding-left: 0px;
  margin-top: 0px;
}
.column__jui4G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__i2Pu9 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__i2Pu9 > picture > img {
  object-fit: cover;
}
.img__i2Pu9 > .__wab_img-spacer > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-Fp84Xuw2Y);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__ysIsj {
  flex-direction: column;
  display: flex;
}
.freeBox__ysIsj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ysIsj > :global(.__wab_flex-container) > *,
.freeBox__ysIsj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ysIsj > :global(.__wab_flex-container) > picture > img,
.freeBox__ysIsj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__s7QfZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__jp7Mf {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__m4Dm2 {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-left: 0px;
}
.columns__tPTt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__tPTt > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tPTt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tPTt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tbOyc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___7Pw6B:global(.__wab_instance) {
  position: relative;
}
.svg___3RmVk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___9JOwv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___8ZCkT {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox___8ZCkT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___8ZCkT > :global(.__wab_flex-container) > *,
.freeBox___8ZCkT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8ZCkT > :global(.__wab_flex-container) > picture > img,
.freeBox___8ZCkT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8ZCkT {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__edd3O {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__edd3O > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__edd3O > :global(.__wab_flex-container) > *,
.freeBox__edd3O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__edd3O > :global(.__wab_flex-container) > picture > img,
.freeBox__edd3O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox___8Rvuk {
  flex-direction: column;
  display: flex;
}
.freeBox___8Rvuk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___8Rvuk > :global(.__wab_flex-container) > *,
.freeBox___8Rvuk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Rvuk > :global(.__wab_flex-container) > picture > img,
.freeBox___8Rvuk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__qYFk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__xxDhW {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xxDhW {
    text-align: center;
  }
}
.freeBox__vtpB {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__vtpB > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__vtpB > :global(.__wab_flex-container) > *,
.freeBox__vtpB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vtpB > :global(.__wab_flex-container) > picture > img,
.freeBox__vtpB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vtpB {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vtpB > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vtpB > :global(.__wab_flex-container) > *,
  .freeBox__vtpB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vtpB > :global(.__wab_flex-container) > picture > img,
  .freeBox__vtpB
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__kbKyq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  max-width: 316px;
  min-width: 0;
}
.valueProp__l9Dy7:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  min-width: 0;
}
.text__gnLl {
  height: auto;
}
.svg__tHrZg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ceq4N:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  min-width: 0;
}
.text__rRvo {
  height: auto;
}
.svg__nUgCb {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___52U:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  min-width: 0;
}
.text__sme3I {
  height: auto;
}
.svg__h8Dg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__lKorr:global(.__wab_instance) {
  width: 100%;
  max-width: 192px;
  min-width: 0;
}
.text___0EwHf {
  height: auto;
}
.svg___2YBxn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__muGj5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__lVIlK {
  padding-right: 0px;
}
.svg__lOy2O {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__aMLvk {
  height: auto;
}
.priceCard__fIhYa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__doZ7B {
  color: var(--token-dPpkVE5bFb5j);
}
.valueProp___6BdqE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dHYsH {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vGtWy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tuiZa {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yuEoS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ruCzQ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__x6Xux:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__iuimI {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__dKsUe {
  height: auto;
}
.priceCard__f8Dv5:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__uJxUx {
  color: var(--token-pTKH6-tH8_-f);
}
.valueProp__iqiot:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__w8KZf {
  padding-right: 0px;
}
.svg__wXfsi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vd8AV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xOud1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bXfxm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pe0Jm {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ipej:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__b9J5R {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__gaPL {
  height: auto;
}
.priceCard___6HDjg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___93AKv {
  color: var(--token-XtMYfNHa74Tv);
}
.valueProp__gIGse:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dpVaA {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__xo6Lk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gy3Bk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kx9Lm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__b36G {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___0EluE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___4FkOm {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___0Z4J {
  height: auto;
}
.habistackFooter:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: block;
}
