.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    margin-left: 0px;
    max-width: 419px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__dZIg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px 8px 53px;
}
.freeBox___4JB8L {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox___4JB8L > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___4JB8L > :global(.__wab_flex-container) > *,
.freeBox___4JB8L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4JB8L > :global(.__wab_flex-container) > picture > img,
.freeBox___4JB8L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4JB8L {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4JB8L > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4JB8L > :global(.__wab_flex-container) > *,
  .freeBox___4JB8L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4JB8L > :global(.__wab_flex-container) > picture > img,
  .freeBox___4JB8L
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__yclle {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox__yclle > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yclle > :global(.__wab_flex-container) > *,
.freeBox__yclle > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yclle > :global(.__wab_flex-container) > picture > img,
.freeBox__yclle
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__vJAmc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.columns__dw4R {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-_lqAwWtqgIF3);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  padding-top: 0px;
  min-width: 0;
}
.columns__dw4R > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__dw4R > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__dw4R > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__dw4R > :global(.__wab_flex-container) > *,
.columns__dw4R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dw4R > :global(.__wab_flex-container) > picture > img,
.columns__dw4R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dw4R {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 0px;
    max-width: 378px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    padding-bottom: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dw4R > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dw4R > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dw4R > :global(.__wab_flex-container) > *,
  .columns__dw4R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__dw4R > :global(.__wab_flex-container) > picture > img,
  .columns__dw4R
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__qImUc {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jbp5J {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__jbp5J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__jbp5J > :global(.__wab_flex-container) > *,
.freeBox__jbp5J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jbp5J > :global(.__wab_flex-container) > picture > img,
.freeBox__jbp5J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__bgER {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__bgER > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bgER > :global(.__wab_flex-container) > *,
.freeBox__bgER > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bgER > :global(.__wab_flex-container) > picture > img,
.freeBox__bgER
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bgER {
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bgER > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bgER > :global(.__wab_flex-container) > *,
  .freeBox__bgER > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bgER > :global(.__wab_flex-container) > picture > img,
  .freeBox__bgER
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 60px;
  font-weight: 900;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    text-align: center;
  }
}
.text___9Ncbn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9Ncbn {
    text-align: center;
  }
}
.h2___4O9Ov {
  height: 96px;
}
.columns__ygrE {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ygrE > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ygrE > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ygrE {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ygrE > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__vrWJm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__lqhIw:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__lqhIw:global(.__wab_instance) {
    position: relative;
  }
}
.svg__yymHn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__iehFv {
  height: auto;
}
.svg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column___4HY6J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px;
}
.learnMore {
  position: relative;
  display: flex;
}
.text__uqgMe {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.column__fAeOf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.img__aivs {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  height: 491px;
  margin-left: 0px;
  backdrop-filter: contrast(131%);
  width: auto;
  object-position: 50% 50%;
  margin-top: 0px;
  flex-shrink: 0;
  -webkit-backdrop-filter: contrast(131%);
  border-radius: 8px;
}
.img__aivs > picture > img {
  object-fit: contain;
  object-position: 50% 50%;
}
.img__aivs > .__wab_img-spacer > img {
  object-fit: contain;
  object-position: 50% 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__aivs {
    margin-top: -50px;
    margin-bottom: 0px;
  }
}
.freeBox__nQx3L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  background: var(--token-n7nA62H27xPU);
  margin-bottom: 0px;
  min-width: 0;
  padding: 50px 8px 49px;
}
.freeBox___10Kjo {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox___10Kjo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___10Kjo > :global(.__wab_flex-container) > *,
.freeBox___10Kjo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___10Kjo > :global(.__wab_flex-container) > picture > img,
.freeBox___10Kjo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2__yoyI0 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-v6LfSbn-y);
  line-height: 1;
  text-align: center;
  margin-top: calc(0px + 16px) !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__yoyI0 {
    max-width: 411px;
    width: 100%;
    margin-top: calc(0px + 16px) !important;
    min-width: 0;
  }
}
.text__aml0A {
  font-size: 20px;
  color: var(--token-tPMwc8PX0I8d);
  text-align: center;
  line-height: 28px;
  padding-right: 0px;
  margin-bottom: 0px;
  max-width: 981px;
  width: 100%;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aml0A {
    max-width: 369px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__owOzA {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 50px 8px 51px;
}
.text__snPa {
  font-size: 20px;
  color: #5856d6;
  text-align: center;
  line-height: 28px;
  font-weight: 900;
  align-self: auto;
  margin-right: 0px;
}
.freeBox__yToSt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 70px;
  min-width: 0;
  padding: 0px 8px;
}
.freeBox___4D0Ej {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox___4D0Ej > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___4D0Ej > :global(.__wab_flex-container) > *,
.freeBox___4D0Ej > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4D0Ej > :global(.__wab_flex-container) > picture > img,
.freeBox___4D0Ej
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4D0Ej {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4D0Ej > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4D0Ej > :global(.__wab_flex-container) > *,
  .freeBox___4D0Ej > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4D0Ej > :global(.__wab_flex-container) > picture > img,
  .freeBox___4D0Ej
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h2__p6Cdd {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  text-align: right;
  max-width: 811px;
  width: 100%;
  margin-right: 2px;
  padding-left: 0px;
  margin-top: calc(7px + 48px) !important;
  padding-right: 76px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__p6Cdd {
    max-width: 490px;
    width: 100%;
    margin-left: calc(0px + 0px) !important;
    padding-left: 57px;
    padding-right: 113px;
    margin-top: calc(7px + 24px) !important;
    min-width: 0;
  }
}
.columns__anwWz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__anwWz > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__anwWz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__anwWz > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___7FFd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__aK0D {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-right: 0px;
  margin-left: 39px;
  max-width: 822px;
  width: 100%;
  padding-right: 0px;
  height: 127px;
  padding-left: 116px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aK0D {
    max-width: 358px;
    width: 100%;
    padding-left: 5px;
    padding-bottom: 0px;
    min-width: 0;
  }
}
.link {
  color: var(--token-n7nA62H27xPU);
}
.freeBox__fFlrQ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fFlrQ {
    padding-top: 7px;
    margin-top: 8px;
  }
}
.columns__eoqe6 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__eoqe6 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__eoqe6 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eoqe6 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eoqe6 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__p5Umo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h3__zGuew {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 403px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  padding-right: 146px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__zGuew {
    margin-top: 73px;
    text-align: left;
    max-width: 348px;
    width: 100%;
    padding-right: 174px;
    min-width: 0;
  }
}
.text__wYiiH {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 407px;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 32px;
  padding-right: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wYiiH {
    text-align: left;
    padding-right: 26px;
    padding-bottom: 26px;
    max-width: 342px;
    width: 100%;
    min-width: 0;
  }
}
.h3___2Dtny {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3___2Dtny {
    text-align: left;
    max-width: 353px;
    width: 100%;
    min-width: 0;
  }
}
.text__tojJb {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  max-width: 410px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tojJb {
    text-align: left;
    max-width: 353px;
    width: 100%;
    min-width: 0;
  }
}
.column__kZKoU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ryO1V {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  object-position: right 50%;
  align-self: flex-end;
  height: 364px;
  width: auto;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__ryO1V > picture > img {
  object-fit: contain;
  object-position: right 50%;
}
.img__ryO1V > .__wab_img-spacer > img {
  object-fit: contain;
  object-position: right 50%;
}
.freeBox__wgToi {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px 8px 50px;
}
.freeBox__ok7Ef {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
  height: 1077px;
}
.freeBox__ok7Ef > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__ok7Ef > :global(.__wab_flex-container) > *,
.freeBox__ok7Ef > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ok7Ef > :global(.__wab_flex-container) > picture > img,
.freeBox__ok7Ef
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ok7Ef {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 0px;
    height: 1124px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ok7Ef > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__ok7Ef > :global(.__wab_flex-container) > *,
  .freeBox__ok7Ef > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__ok7Ef > :global(.__wab_flex-container) > picture > img,
  .freeBox__ok7Ef
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h2__uglUb {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  text-align: center;
  margin-top: calc(50px + 48px) !important;
  padding-top: 0px;
  padding-right: 66px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__uglUb {
    padding-right: 0px;
    max-width: 584px;
    width: 100%;
    margin-top: calc(50px + 24px) !important;
    min-width: 0;
  }
}
.columns___4GblX {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 887px;
  min-width: 0;
  padding: 8px;
}
.columns___4GblX > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4GblX {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___4GblX > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__gZwh5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  padding: 8px 27px 0px 20px;
}
.text__avwzb {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-right: 1px;
  margin-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  height: 91px;
  max-width: 710px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__avwzb {
    max-width: 360px;
    width: 100%;
    height: 114px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.text__jTs7T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 587px;
  padding-bottom: 1px;
  min-width: 0;
}
.ol {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 652px;
  text-align: left;
  height: 204px;
  margin-left: 0px;
  padding-left: 105px;
  margin-right: 3px;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .ol {
    width: 519px;
    margin-right: 0px;
    margin-left: 0px;
    height: 206px;
    margin-bottom: 0px;
  }
}
.li__g1XRe {
  width: 458px;
  color: var(--token-3btyuIOaZa0x);
  font-size: 20px;
  margin-right: 0px;
  text-align: left;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__g1XRe {
    width: 315px;
    padding-left: 0px;
    margin-left: 0px;
  }
}
.li__lZ7B {
  width: 209px;
  color: var(--token-3btyuIOaZa0x);
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__lZ7B {
    width: 289px;
    padding-left: 6px;
    margin-right: 98px;
  }
}
.li__i2UCd {
  width: 545px;
  color: var(--token-3btyuIOaZa0x);
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__i2UCd {
    width: 319px;
  }
}
.li__xnuU {
  width: 538px;
  color: var(--token-3btyuIOaZa0x);
  font-size: 20px;
  text-align: left;
  margin-right: 2px;
  padding-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__xnuU {
    margin-right: 0px;
    width: 349px;
  }
}
.li__l0Ono {
  width: 563px;
  color: var(--token-3btyuIOaZa0x);
  font-size: 20px;
  margin-right: 0px;
  text-align: left;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__l0Ono {
    width: 336px;
  }
}
.columns__aeZrG {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: calc(74px + 48px) !important;
  min-width: 0;
  padding: 0px 8px 8px;
}
.columns__aeZrG > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__aeZrG > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aeZrG {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(74px + 24px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aeZrG > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tsZN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 11px 8px 8px;
}
.h2__shzg3 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  padding-bottom: 20px;
}
.h3__rZuBw {
  padding-right: 0px;
  color: #5856d6;
  text-align: left;
  padding-left: 0px;
  width: 399px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__rZuBw {
    width: 355px;
  }
}
.text__zg7Zv {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
  padding-top: 0px;
  max-width: 406px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zg7Zv {
    margin-right: 0px;
    max-width: 332px;
    width: 100%;
    padding-right: 8px;
    min-width: 0;
  }
}
.column___0QuNr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__eMjOw {
  position: relative;
  object-fit: contain;
  max-width: 100%;
  align-self: center;
  left: auto;
  top: auto;
  z-index: 1;
  border-radius: 8px;
}
.img__eMjOw > picture > img {
  object-fit: contain;
}
.img__eMjOw > .__wab_img-spacer > img {
  object-fit: contain;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__eMjOw {
    margin-bottom: 7px;
  }
}
.freeBox__cGo34 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cGo34 {
    padding-top: 4px;
    margin-top: 229px;
  }
}
.freeBox__uaXaw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 921px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.h2__meclb {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  position: relative;
  width: 100%;
  height: 65px;
  max-width: 800px;
  background: #ffffff;
  text-align: center;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-left: 122px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__meclb {
    padding-left: 0px;
  }
}
.text__mc3FI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 846px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  font-size: 20px;
  margin-top: 63px;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mc3FI {
    text-align: left;
    max-width: 335px;
    width: 100%;
    padding-bottom: 0px;
    min-width: 0;
  }
}
.columns__ru70O {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ru70O > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ru70O > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ru70O {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ru70O > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__opza {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__m8JVp {
  position: relative;
  object-fit: scale-down;
  max-width: 100%;
  height: 400px;
  margin-right: 11px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__m8JVp > picture > img {
  object-fit: scale-down;
}
.img__m8JVp > .__wab_img-spacer > img {
  object-fit: scale-down;
}
.column__mtf70 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ibJu {
  position: relative;
  object-fit: contain;
  max-width: 150%;
  height: 400px;
  width: 100%;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__ibJu > picture > img {
  object-fit: contain;
}
.img__ibJu > .__wab_img-spacer > img {
  object-fit: contain;
}
.freeBox__gtKs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 8px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gtKs {
    margin-top: 478px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.freeBox__kGaun {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 0px;
  height: 483px;
  padding-bottom: 0px;
}
.freeBox__kGaun > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kGaun > :global(.__wab_flex-container) > *,
.freeBox__kGaun > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kGaun > :global(.__wab_flex-container) > picture > img,
.freeBox__kGaun
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kGaun {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 0px;
    height: 856px;
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kGaun > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kGaun > :global(.__wab_flex-container) > *,
  .freeBox__kGaun > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kGaun > :global(.__wab_flex-container) > picture > img,
  .freeBox__kGaun
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h2__tsnhg {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  text-align: center;
  margin-top: calc(100px + 48px) !important;
  padding-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__tsnhg {
    margin-top: calc(100px + 24px) !important;
  }
}
.columns___72XVq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___72XVq > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___72XVq > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___72XVq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___72XVq > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dociy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
.text__jPzIb {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jPzIb {
    padding-top: 0px;
    max-width: 307px;
    width: 100%;
    margin-right: 3px;
    margin-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    min-width: 0;
  }
}
.column__eY3L8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__eY3L8 {
    padding-bottom: 0px;
  }
}
.text__cK42J {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 0px;
  margin-top: 0px;
  max-width: 314px;
  width: 100%;
  max-height: 244px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cK42J {
    padding-bottom: 0px;
    text-align: center;
    padding-right: 0px;
    max-width: 323px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__poMuo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-n7nA62H27xPU);
  margin-top: 61px;
  min-width: 0;
  padding: 63px 8px 140px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__poMuo {
    margin-top: 45px;
  }
}
.h2__jkk90 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-nXWKqet0fltC);
  line-height: 1;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__jkk90 {
    max-width: 411px;
    width: 100%;
    min-width: 0;
  }
}
.text__pVhLz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-tPMwc8PX0I8d);
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pVhLz {
    max-width: 377px;
    width: 100%;
    min-width: 0;
  }
}
.img__fqLpJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 527px;
  margin-top: 34px;
  width: 750px;
  align-self: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__fqLpJ > picture > img {
  object-fit: cover;
}
.img__fqLpJ > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__fqLpJ {
    height: 274px;
    width: 407px;
    flex-shrink: 0;
  }
}
.freeBox__jd4L4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1689px;
  height: auto;
  max-width: 100%;
  margin-bottom: 47px;
  padding: 8px 8px 7px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jd4L4 {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
.h2__j71Ux {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 71px;
  margin-bottom: 58px;
  padding-bottom: 2px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__j71Ux {
    max-width: 386px;
    width: 100%;
    min-width: 0;
  }
}
.text__bVZlj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-bottom: 3px;
  margin-top: 0px;
  padding-top: 0px;
  font-size: 20px;
  padding-bottom: 61px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bVZlj {
    padding-bottom: 1px;
    max-width: 376px;
    width: 100%;
    min-width: 0;
  }
}
.img__uMqIb {
  position: relative;
  object-fit: scale-down;
  max-width: 100%;
  height: 455px;
  flex-shrink: 0;
  border-radius: 8px;
}
.img__uMqIb > picture > img {
  object-fit: scale-down;
}
.img__uMqIb > .__wab_img-spacer > img {
  object-fit: scale-down;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__uMqIb {
    margin-top: 4px;
    height: 458px;
    width: 439px;
    flex-shrink: 0;
  }
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-Fp84Xuw2Y);
  padding: 64px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    margin-top: 0px;
  }
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__miqAn {
  flex-direction: column;
  display: flex;
}
.freeBox__miqAn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__miqAn > :global(.__wab_flex-container) > *,
.freeBox__miqAn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__miqAn > :global(.__wab_flex-container) > picture > img,
.freeBox__miqAn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___0thF {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__vem8O {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
  text-align: center;
}
.text__c7SrJ {
  font-size: 20px;
  color: var(--token-tPMwc8PX0I8d);
  line-height: 28px;
  height: auto;
  text-align: center;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__c7SrJ {
    max-width: 399px;
    width: 100%;
    min-width: 0;
  }
}
.columns__hYaZy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__hYaZy > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hYaZy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__hYaZy > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__t8VBq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__f1Aqs:global(.__wab_instance) {
  position: relative;
}
.svg__wEyXa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__bSc7R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fathymFooter:global(.__wab_instance) {
    margin-left: 29px;
    width: 487px;
    margin-right: 0px;
  }
}
