.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox___7K8P9 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox___7K8P9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___7K8P9 > :global(.__wab_flex-container) > *,
.freeBox___7K8P9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7K8P9 > :global(.__wab_flex-container) > picture > img,
.freeBox___7K8P9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7K8P9 {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___0CrGy {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
  padding-top: 0px;
}
.text___42HHg {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__xuUd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 446px;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.columns__xuUd > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__xuUd > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xuUd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xuUd > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1PbHe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__aePmE:global(.__wab_instance) {
  position: relative;
}
.svg__e3W00 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__qlMEe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__dGyu6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link___2TmJ8 {
  position: relative;
  text-decoration-line: underline;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
  max-width: 1529px;
  width: 100%;
  min-width: 0;
}
.freeBox__fJikh {
  flex-direction: column;
  display: flex;
  height: auto;
  max-width: 1457px;
  width: 100%;
  min-width: 0;
}
.freeBox__fJikh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fJikh > :global(.__wab_flex-container) > *,
.freeBox__fJikh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fJikh > :global(.__wab_flex-container) > picture > img,
.freeBox__fJikh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__wesQc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__ocA9Q {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  text-align: center;
}
.text___8FSm {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: center;
  line-height: 28px;
  padding-bottom: 0px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__e8W2M:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__aaggr {
  height: auto;
  max-width: 240px;
  width: 100%;
  min-width: 0;
}
.react {
  display: flex;
}
.text___55WFh {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  text-align: left;
  font-weight: 700;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg__jRxMt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__a2F3L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ypiA6 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__kZzrt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__dN4 {
  max-width: 242px;
  width: 100%;
  min-width: 0;
}
.vue {
  display: flex;
}
.text___2InBy {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  font-weight: 700;
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg__igIm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___2FSp1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xh9LW {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__fSr4Z:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__kujm7 {
  padding-bottom: 0px;
  max-width: 242px;
  width: 100%;
  min-width: 0;
}
.svelte {
  display: flex;
}
.text__sOugM {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  font-weight: 700;
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg___17BMs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__g8TGo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__bIrbp {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__kLlj8 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__p2NTv {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  height: auto;
  padding-right: 0px;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  min-width: 0;
}
.columns__eNf1S {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__eNf1S > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__eNf1S > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eNf1S {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eNf1S > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___8URFu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__l9QH4:global(.__wab_instance) {
  position: relative;
}
.svg___7KDqH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__lMfPd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__rdhWw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 21px;
}
.link__xKbY {
  display: flex;
}
.text__uNsew {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  font-weight: 700;
}
.button___5UfXl:global(.__wab_instance) {
  display: none;
}
.svg__goHd1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__j61CO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-n7nA62H27xPU);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__etPJ {
  flex-direction: column;
  display: flex;
}
.freeBox__etPJ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__etPJ > :global(.__wab_flex-container) > *,
.freeBox__etPJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__etPJ > :global(.__wab_flex-container) > picture > img,
.freeBox__etPJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__v4WYr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__qbTxt {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__evz {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  width: auto;
}
.freeBox__nvzb3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__nvzb3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__nvzb3 > :global(.__wab_flex-container) > *,
.freeBox__nvzb3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nvzb3 > :global(.__wab_flex-container) > picture > img,
.freeBox__nvzb3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__uvfxt {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__uvfxt > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__uvfxt > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__uvfxt > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__uvfxt > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__uvfxt > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__uvfxt > :global(.__wab_flex-container) > *,
.columns__uvfxt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__uvfxt > :global(.__wab_flex-container) > picture > img,
.columns__uvfxt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uvfxt {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uvfxt > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uvfxt > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__uvfxt > :global(.__wab_flex-container) > *,
  .columns__uvfxt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__uvfxt > :global(.__wab_flex-container) > picture > img,
  .columns__uvfxt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__hoEjy {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__rvXn9:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__vgC7B {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text___9G1Ce {
  padding-left: 0px;
}
.column__wYhuI {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___1AmIh:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__rpa5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__yKPyr {
  padding-left: 0px;
}
.column__zy5Ni {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__fQ3F:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__m3Hi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__nXXvK {
  padding-left: 0px;
}
.column__ch5Ow {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__r9SXz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__obPbq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__x3Vgw {
  padding-left: 0px;
}
.columns___7KOse {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___7KOse > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___7KOse > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7KOse {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7KOse > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__uB6RH {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__bNift {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 355px;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.button__jkN9Q:global(.__wab_instance) {
  position: relative;
}
.svg__ll07I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___1AlUs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__hll0Q {
  position: relative;
  height: 32px;
  align-self: center;
}
.column__qXOvn {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px 8px 8px 0px;
}
.freeBox__opc6J {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__opc6J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__opc6J > :global(.__wab_flex-container) > *,
.freeBox__opc6J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__opc6J > :global(.__wab_flex-container) > picture > img,
.freeBox__opc6J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__opc6J {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__s3YjA {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__s3YjA > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__s3YjA > :global(.__wab_flex-container) > *,
.freeBox__s3YjA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s3YjA > :global(.__wab_flex-container) > picture > img,
.freeBox__s3YjA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__kS5V {
  flex-direction: column;
  display: flex;
}
.freeBox__kS5V > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__kS5V > :global(.__wab_flex-container) > *,
.freeBox__kS5V > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kS5V > :global(.__wab_flex-container) > picture > img,
.freeBox__kS5V
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__xUfWe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__ecG6R {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ecG6R {
    text-align: center;
  }
}
.text__bEgzL {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__rEg4W {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__rEg4W > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__rEg4W > :global(.__wab_flex-container) > *,
.freeBox__rEg4W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rEg4W > :global(.__wab_flex-container) > picture > img,
.freeBox__rEg4W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rEg4W {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rEg4W > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rEg4W > :global(.__wab_flex-container) > *,
  .freeBox__rEg4W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__rEg4W > :global(.__wab_flex-container) > picture > img,
  .freeBox__rEg4W
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard___6Cy2A:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__vXpsx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7A6Wz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gnokw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rqrw2 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___0VgWu {
  height: auto;
}
.priceCard__bWard:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__rtCop {
  color: var(--token-dPpkVE5bFb5j);
}
.valueProp__qFDuq:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ou3OR {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ei9F8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nuFiY {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__dTtgk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jSyR {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__bmbVj {
  height: auto;
}
.priceCard__lQoPx:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__tXaGd {
  color: var(--token-pTKH6-tH8_-f);
}
.valueProp___1S8Hu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__d7BVe {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gs9On:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tFviJ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bwxTo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fb3Cg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__qaKSn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rVzJm {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__sVg6 {
  height: auto;
}
.priceCard__gTgTv:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__n0Cd5 {
  color: var(--token-XtMYfNHa74Tv);
}
.valueProp__co1O:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mC4Vb {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__tmobF:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__j6IZx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__aoQ61:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fuHff {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___5VoB:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__eNxPq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__rsghz {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
