.root {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-column-gap: 0px;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px;
}
.freeBox__tPsE {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 32px;
}
.freeBox__tPsE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__tPsE > :global(.__wab_flex-container) > *,
.freeBox__tPsE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tPsE > :global(.__wab_flex-container) > picture > img,
.freeBox__tPsE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__tae1 {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid #eaeaea;
}
.img__yzwZr {
  position: relative;
  object-fit: contain;
  height: 75px;
  object-position: center center;
  max-height: 75%;
  flex-shrink: 0;
}
.img__yzwZr > picture > img {
  object-fit: contain;
  object-position: center center;
}
.img__yzwZr > :global(.__wab_img-spacer) > img {
  object-fit: contain;
  object-position: center center;
}
.freeBox__gFT {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox___01PoC {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox___01PoC > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox___01PoC > :global(.__wab_flex-container) > *,
.freeBox___01PoC > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___01PoC > :global(.__wab_flex-container) > picture > img,
.freeBox___01PoC
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__jmqG6 {
  position: relative;
  width: 100%;
  height: auto;
  font-weight: 500;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.fathymFramework {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text__uIBjF {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.ioTEnsemble {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text__mdVuf {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.habistack {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text___5WcVl {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  min-width: 0;
}
.freeBox__m0Q8H {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__m0Q8H > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__m0Q8H > :global(.__wab_flex-container) > *,
.freeBox__m0Q8H > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__m0Q8H > :global(.__wab_flex-container) > picture > img,
.freeBox__m0Q8H
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__wgciB {
  position: relative;
  width: 100%;
  height: auto;
  font-weight: 500;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.docs {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text__ci87X {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.blog {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text___7NZgi {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.support {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text___0ClOq {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.freeBox__eokVd {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
  padding: 0px;
}
.freeBox__eokVd > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__eokVd > :global(.__wab_flex-container) > *,
.freeBox__eokVd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__eokVd > :global(.__wab_flex-container) > picture > img,
.freeBox__eokVd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___2L2F1 {
  position: relative;
  width: 100%;
  height: auto;
  font-weight: 500;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.enterpriseAgreement {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text__g9Sii {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.termsOfService {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text__azIhf {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.privacyPolicy {
  position: relative;
  display: flex;
  font-size: 14px;
}
.text__iPFfQ {
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.freeBox___8Nf7O {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid #eaeaea;
}
.freeBox__luVcc {
  width: 100%;
  height: 24px;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-height: 32px;
  min-width: 0;
  flex-shrink: 0;
}
.freeBox__pb4Zp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: 24px;
}
.text__lwxKi {
  position: relative;
  width: auto;
  height: auto;
  font-size: 14px;
  color: var(--token-EAvSUfuNRAq);
  font-family: "Encode Sans Semi Condensed", sans-serif;
  padding-top: 0px;
}
.img__kgJav {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__kgJav > picture > img {
  object-fit: cover;
}
.img__kgJav > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.text___4XPy7 {
  position: relative;
  width: auto;
  height: auto;
  font-size: 14px;
  color: var(--token-EAvSUfuNRAq);
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.freeBox__ciwWx {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ciwWx > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ciwWx > :global(.__wab_flex-container) > *,
.freeBox__ciwWx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ciwWx > :global(.__wab_flex-container) > picture > img,
.freeBox__ciwWx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.httpstwittercomFathymIt {
  position: relative;
  display: flex;
}
.svg___8GduG {
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.httpsgithubcomfathym {
  position: relative;
  display: flex;
}
.svg__zNwXc {
  object-fit: cover;
  width: 32px;
  height: 32px;
  color: var(--token-vaTuh5tFL3B);
  flex-shrink: 0;
}
.httpswwwfacebookcomFathymInc {
  position: relative;
  display: flex;
}
.svg___6QCsv {
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
