.root {
  flex-direction: row;
  display: flex;
  cursor: pointer;
  position: relative;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootshowStartIcon {
  display: flex;
}
.rooticonOnly {
  padding-top: 11px;
  padding-bottom: 11px;
}
.rootoutline {
  border: 1px solid var(--token-gpO3GCY3yCCh);
}
.rootbgDifference {
  mix-blend-mode: difference;
}
.rootround {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 24px;
}
.rootflat {
  padding: 0px;
}
.rootextraSmallShadow {
  box-shadow: 0px 1px 1px 1px #0000001a;
}
.rootisDisabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.rootcolor_green {
  background: #34c759;
}
.rootcolor_indigo {
  cursor: pointer;
  flex-direction: row;
  background: #5856d6;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.rootcolor_indigo > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.rootcolor_indigo > :global(.__wab_flex-container) > *,
.rootcolor_indigo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rootcolor_indigo > :global(.__wab_flex-container) > picture > img,
.rootcolor_indigo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
  margin-top: 0px;
}
.rootcolor_blue {
  background: var(--token-vImgGkP7257E);
}
.rootcolor_red {
  background: var(--token-dPpkVE5bFb5j);
}
.rootcolor_white {
  background: var(--token-nXWKqet0fltC);
}
.root:hover {
  background: var(--token-tPMwc8PX0I8d);
}
.rootcolor_green:hover {
  background: #40e569;
}
.rootcolor_indigo:hover {
  background: #5e5ce6;
}
.rootcolor_blue:hover {
  background: #1a88ff;
}
.rootcolor_red:hover {
  background: #fd5046;
}
.root:focus {
  box-shadow: 0px 0px 0px 4px #0095ff80;
  outline: none;
}
.slotTargetStartIcon {
  color: var(--token-Gh2swhE2QtwV);
}
.slotTargetStartIconcolor_green {
  color: var(--token-nXWKqet0fltC);
}
.slotTargetStartIconcolor_indigo {
  color: var(--token-nXWKqet0fltC);
}
.slotTargetStartIconcolor_blue {
  color: var(--token-nXWKqet0fltC);
}
.slotTargetStartIconcolor_red {
  color: var(--token-nXWKqet0fltC);
}
.slotTargetStartIconcolor_white {
  color: var(--token-Gh2swhE2QtwV);
}
.slotTargetStartIconcolor_link {
  color: var(--token-vImgGkP7257E);
}
.svg__zuaUn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
.slotTargetChildren {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  white-space: pre;
}
.slotTargetChildrenlarge {
  font-size: 24px;
  line-height: 1.5em;
}
.slotTargetChildrencolor_green {
  color: var(--token-nXWKqet0fltC);
}
.slotTargetChildrencolor_indigo {
  color: var(--token-nXWKqet0fltC);
}
.slotTargetChildrencolor_blue {
  color: var(--token-nXWKqet0fltC);
}
.slotTargetChildrencolor_red {
  color: var(--token-nXWKqet0fltC);
}
.slotTargetChildrencolor_link {
  color: var(--token-vImgGkP7257E);
}
.slotTargetChildrencolor_navLink {
  font-weight: 400;
  color: var(--token-3btyuIOaZa0x);
}
.rootcolor_navLink:hover .slotTargetChildrencolor_navLink {
  color: var(--token-Gh2swhE2QtwV);
}
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > :global(.__wab_text),
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > :global(.__wab_slot-string-wrapper),
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper),
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_text),
.rootcolor_navLink:hover
  .slotTargetChildrencolor_navLink
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot)
  > :global(.__wab_slot-string-wrapper) {
  text-decoration-line: underline;
}
.slotTargetEndIcon {
  color: var(--token-Gh2swhE2QtwV);
}
.slotTargetEndIconcolor_green {
  color: var(--token-nXWKqet0fltC);
}
.slotTargetEndIconcolor_indigo {
  color: var(--token-nXWKqet0fltC);
}
.slotTargetEndIconcolor_blue {
  color: var(--token-nXWKqet0fltC);
}
.slotTargetEndIconcolor_red {
  color: var(--token-nXWKqet0fltC);
}
.slotTargetEndIconcolor_white {
  color: var(--token-Gh2swhE2QtwV);
}
.slotTargetEndIconcolor_link {
  color: var(--token-vImgGkP7257E);
}
.svg__oHjTi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  flex-shrink: 0;
}
