.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
  margin-left: 0px;
}
.freeBox__plcEc {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__plcEc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__plcEc > :global(.__wab_flex-container) > *,
.freeBox__plcEc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__plcEc > :global(.__wab_flex-container) > picture > img,
.freeBox__plcEc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__plcEc {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__yeICk {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.text__yYcOe {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__izh7R {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__izh7R > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__izh7R > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__izh7R {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__izh7R > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__qvKez {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__rrtQx:global(.__wab_instance) {
  position: relative;
}
.svg__peecT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__wQx6P {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__hUEeo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__eLnjF {
  position: relative;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-n7nA62H27xPU);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__f1BS {
  flex-direction: column;
  display: flex;
}
.freeBox__f1BS > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__f1BS > :global(.__wab_flex-container) > *,
.freeBox__f1BS > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__f1BS > :global(.__wab_flex-container) > picture > img,
.freeBox__f1BS
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__y5Ynj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text___4ISix {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  margin-bottom: 0px;
  align-self: center;
}
.freeBox__qne9B {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__qne9B > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__qne9B > :global(.__wab_flex-container) > *,
.freeBox__qne9B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qne9B > :global(.__wab_flex-container) > picture > img,
.freeBox__qne9B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__xClfw {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__xClfw > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__xClfw > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__xClfw > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__xClfw > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__xClfw > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__xClfw > :global(.__wab_flex-container) > *,
.columns__xClfw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__xClfw > :global(.__wab_flex-container) > picture > img,
.columns__xClfw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xClfw {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xClfw > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xClfw > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__xClfw > :global(.__wab_flex-container) > *,
  .columns__xClfw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__xClfw > :global(.__wab_flex-container) > picture > img,
  .columns__xClfw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__a6MPj {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__tYbDe:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__wYuIc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__c2Xe {
  padding-left: 0px;
}
.column__whFrn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__n805B:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__yvYHx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__qrzC3 {
  padding-left: 0px;
}
.column__a0LiF {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__frToU:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___7RkfC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__s4QRc {
  padding-left: 0px;
}
.column__u6XWg {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__k3Z8:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__n43So {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__wNcWw {
  padding-left: 0px;
}
.columns__aWCct {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__aWCct > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__aWCct > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aWCct {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aWCct > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__aNdOo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__bZuTt:global(.__wab_instance) {
  position: relative;
}
.svg___32Ex7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___8ZXmu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__czgS1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__wjk7E {
  position: relative;
}
.freeBox__qf7Hy {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__qf7Hy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__qf7Hy > :global(.__wab_flex-container) > *,
.freeBox__qf7Hy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qf7Hy > :global(.__wab_flex-container) > picture > img,
.freeBox__qf7Hy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qf7Hy {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__bldzx {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__bldzx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__bldzx > :global(.__wab_flex-container) > *,
.freeBox__bldzx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bldzx > :global(.__wab_flex-container) > picture > img,
.freeBox__bldzx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__w9FsT {
  flex-direction: column;
  display: flex;
}
.freeBox__w9FsT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__w9FsT > :global(.__wab_flex-container) > *,
.freeBox__w9FsT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__w9FsT > :global(.__wab_flex-container) > picture > img,
.freeBox__w9FsT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__szHxr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__d2Hxp {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__d2Hxp {
    text-align: center;
  }
}
.text__pl4Do {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox___5Dmj8 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___5Dmj8 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___5Dmj8 > :global(.__wab_flex-container) > *,
.freeBox___5Dmj8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5Dmj8 > :global(.__wab_flex-container) > picture > img,
.freeBox___5Dmj8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Dmj8 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Dmj8 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Dmj8 > :global(.__wab_flex-container) > *,
  .freeBox___5Dmj8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5Dmj8 > :global(.__wab_flex-container) > picture > img,
  .freeBox___5Dmj8
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__hSVi:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__fgx8M:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yFj9W {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__hZlOj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__cOwCv {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___0ZuiN {
  height: auto;
}
.priceCard__ucoGl:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__tVRzD {
  color: var(--token-dPpkVE5bFb5j);
}
.valueProp___4LsDl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__q6N8O {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__dNvG1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dNgI {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__hBEa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__g981C {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__dnPIr {
  height: auto;
}
.priceCard__kgYr:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__pwClA {
  color: var(--token-pTKH6-tH8_-f);
}
.valueProp__wDyn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__j8GxK {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___7Z4Lg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gBIdI {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___9KLQw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tSlBh {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mFeo7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__msfIj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__nGkXp {
  height: auto;
}
.priceCard__oOclt:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___2IBr3 {
  color: var(--token-XtMYfNHa74Tv);
}
.valueProp__yuriN:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9Yqsn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__oXzu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__i4Xl4 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__fb8PN:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__viSBo {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__sIdK8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__x9HxU {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__fZWo {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
