@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Encode+Sans%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Encode+Sans+Semi+Condensed%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-XtMYfNHa74Tv: #007aff;
  --plasmic-token-blue: var(--token-XtMYfNHa74Tv);
  --token-_lqAwWtqgIF3: 1080px;
  --plasmic-token-content-max-width: var(--token-_lqAwWtqgIF3);
  --token-tPMwc8PX0I8d: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-tPMwc8PX0I8d);
  --token-gpO3GCY3yCCh: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-gpO3GCY3yCCh);
  --token-Gh2swhE2QtwV: #000000d9;
  --plasmic-token-light-label: var(--token-Gh2swhE2QtwV);
  --token-3btyuIOaZa0x: #05050599;
  --plasmic-token-light-secondary: var(--token-3btyuIOaZa0x);
  --token-vImgGkP7257E: #007aff;
  --plasmic-token-light-blue: var(--token-vImgGkP7257E);
  --token-dPpkVE5bFb5j: #ff3b30;
  --plasmic-token-light-red: var(--token-dPpkVE5bFb5j);
  --token-nXWKqet0fltC: #ffffff;
  --plasmic-token-white: var(--token-nXWKqet0fltC);
  --token-Lti9oswZ1DWR: #ffffffd9;
  --plasmic-token-dark-label: var(--token-Lti9oswZ1DWR);
  --token-truO5x1pubEB: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-truO5x1pubEB);
  --token-CKRbSKdSyF0n: #0000001a;
  --plasmic-token-light-quarternary: var(--token-CKRbSKdSyF0n);
  --token-_O7Q0lEa_LL0: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-_O7Q0lEa_LL0);
  --token-ZRWHIKQtuwzd: #32d74b;
  --plasmic-token-dark-green: var(--token-ZRWHIKQtuwzd);
  --token-Ly8-quLqNjbX: #0a84ff;
  --plasmic-token-dark-blue: var(--token-Ly8-quLqNjbX);
  --token-DUtXULAh4AQc: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-DUtXULAh4AQc);
  --token-pTKH6-tH8_-f: #34c759;
  --plasmic-token-light-green: var(--token-pTKH6-tH8_-f);
  --token-n7nA62H27xPU: #5856d6;
  --plasmic-token-light-indigo: var(--token-n7nA62H27xPU);
  --token-78YoODGkwSF: #eaeaea;
  --plasmic-token-divider: var(--token-78YoODGkwSF);
  --token-EAvSUfuNRAq: #666666;
  --plasmic-token-text: var(--token-EAvSUfuNRAq);
  --token-RQQYmdMPGho: rgb(255, 255, 255);
  --plasmic-token-white-2: var(--token-RQQYmdMPGho);
  --token-Fp84Xuw2Y: #4a918e;
  --plasmic-token-fathym: var(--token-Fp84Xuw2Y);
  --token-QboS_izMJ: var(--token-Fp84Xuw2Y);
  --plasmic-token-unnamed-style-token: var(--token-QboS_izMJ);
}

.plasmic_default_styles {
  --mixin-rBZ9HTX5zRVL_font-family: "Roboto";
  --mixin-rBZ9HTX5zRVL_font-size: 16px;
  --mixin-rBZ9HTX5zRVL_font-weight: 400;
  --mixin-rBZ9HTX5zRVL_font-style: normal;
  --mixin-rBZ9HTX5zRVL_color: var(--token-Gh2swhE2QtwV);
  --mixin-rBZ9HTX5zRVL_text-align: left;
  --mixin-rBZ9HTX5zRVL_text-transform: none;
  --mixin-rBZ9HTX5zRVL_line-height: 1.5;
  --mixin-rBZ9HTX5zRVL_letter-spacing: normal;
  --mixin-rBZ9HTX5zRVL_white-space: pre-wrap;
  --mixin-rBZ9HTX5zRVL_user-select: text;
  --mixin-rBZ9HTX5zRVL_text-decoration-line: none;
  --mixin-rBZ9HTX5zRVL_text-overflow: clip;
  --mixin-jS_9zBL7awDq_white-space: pre-wrap;
  --mixin-BJe8Z-cBhvQ8_font-family: "Inter";
  --mixin-BJe8Z-cBhvQ8_color: #000000;
  --mixin-BJe8Z-cBhvQ8_font-size: 32px;
  --mixin-BJe8Z-cBhvQ8_font-weight: 600;
  --mixin-BJe8Z-cBhvQ8_letter-spacing: -0.8px;
  --mixin-BJe8Z-cBhvQ8_line-height: 1.2;
  --mixin-BJe8Z-cBhvQ8_white-space: pre-wrap;
  --mixin-TgV0n4hpd4XU_font-family: "Inter";
  --mixin-TgV0n4hpd4XU_color: #000000;
  --mixin-TgV0n4hpd4XU_font-size: 24px;
  --mixin-TgV0n4hpd4XU_font-weight: 600;
  --mixin-TgV0n4hpd4XU_letter-spacing: -0.5px;
  --mixin-TgV0n4hpd4XU_line-height: 1.3;
  --mixin-TgV0n4hpd4XU_white-space: pre-wrap;
  --mixin-W8ZVKProy_hg_font-family: "Inter";
  --mixin-W8ZVKProy_hg_color: #000000;
  --mixin-W8ZVKProy_hg_font-size: 20px;
  --mixin-W8ZVKProy_hg_font-weight: 600;
  --mixin-W8ZVKProy_hg_letter-spacing: -0.3px;
  --mixin-W8ZVKProy_hg_line-height: 1.5;
  --mixin-W8ZVKProy_hg_white-space: pre-wrap;
  --mixin-QBuCrTprGpgR_font-family: "Inter";
  --mixin-QBuCrTprGpgR_color: #000000;
  --mixin-QBuCrTprGpgR_font-size: 16px;
  --mixin-QBuCrTprGpgR_font-weight: 600;
  --mixin-QBuCrTprGpgR_line-height: 1.5;
  --mixin-QBuCrTprGpgR_white-space: pre-wrap;
  --mixin-hgVxvovU0-Pd_border-left-color: #dddddd;
  --mixin-hgVxvovU0-Pd_border-left-style: solid;
  --mixin-hgVxvovU0-Pd_border-left-width: 3px;
  --mixin-hgVxvovU0-Pd_color: #888888;
  --mixin-hgVxvovU0-Pd_padding-left: 10px;
  --mixin-hgVxvovU0-Pd_white-space: pre-wrap;
  --mixin-aQgMIKMlP3j9_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-aQgMIKMlP3j9_border-bottom-color: #dddddd;
  --mixin-aQgMIKMlP3j9_border-bottom-style: solid;
  --mixin-aQgMIKMlP3j9_border-bottom-width: 1px;
  --mixin-aQgMIKMlP3j9_border-left-color: #dddddd;
  --mixin-aQgMIKMlP3j9_border-left-style: solid;
  --mixin-aQgMIKMlP3j9_border-left-width: 1px;
  --mixin-aQgMIKMlP3j9_border-right-color: #dddddd;
  --mixin-aQgMIKMlP3j9_border-right-style: solid;
  --mixin-aQgMIKMlP3j9_border-right-width: 1px;
  --mixin-aQgMIKMlP3j9_border-top-color: #dddddd;
  --mixin-aQgMIKMlP3j9_border-top-style: solid;
  --mixin-aQgMIKMlP3j9_border-top-width: 1px;
  --mixin-aQgMIKMlP3j9_border-bottom-left-radius: 3px;
  --mixin-aQgMIKMlP3j9_border-bottom-right-radius: 3px;
  --mixin-aQgMIKMlP3j9_border-top-left-radius: 3px;
  --mixin-aQgMIKMlP3j9_border-top-right-radius: 3px;
  --mixin-aQgMIKMlP3j9_font-family: "Inconsolata";
  --mixin-aQgMIKMlP3j9_padding-bottom: 1px;
  --mixin-aQgMIKMlP3j9_padding-left: 4px;
  --mixin-aQgMIKMlP3j9_padding-right: 4px;
  --mixin-aQgMIKMlP3j9_padding-top: 1px;
  --mixin-aQgMIKMlP3j9_white-space: pre-wrap;
  --mixin-E8S1WTGuE-A9_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-E8S1WTGuE-A9_border-bottom-color: #dddddd;
  --mixin-E8S1WTGuE-A9_border-bottom-style: solid;
  --mixin-E8S1WTGuE-A9_border-bottom-width: 1px;
  --mixin-E8S1WTGuE-A9_border-left-color: #dddddd;
  --mixin-E8S1WTGuE-A9_border-left-style: solid;
  --mixin-E8S1WTGuE-A9_border-left-width: 1px;
  --mixin-E8S1WTGuE-A9_border-right-color: #dddddd;
  --mixin-E8S1WTGuE-A9_border-right-style: solid;
  --mixin-E8S1WTGuE-A9_border-right-width: 1px;
  --mixin-E8S1WTGuE-A9_border-top-color: #dddddd;
  --mixin-E8S1WTGuE-A9_border-top-style: solid;
  --mixin-E8S1WTGuE-A9_border-top-width: 1px;
  --mixin-E8S1WTGuE-A9_border-bottom-left-radius: 3px;
  --mixin-E8S1WTGuE-A9_border-bottom-right-radius: 3px;
  --mixin-E8S1WTGuE-A9_border-top-left-radius: 3px;
  --mixin-E8S1WTGuE-A9_border-top-right-radius: 3px;
  --mixin-E8S1WTGuE-A9_font-family: "Inconsolata";
  --mixin-E8S1WTGuE-A9_padding-bottom: 3px;
  --mixin-E8S1WTGuE-A9_padding-left: 6px;
  --mixin-E8S1WTGuE-A9_padding-right: 6px;
  --mixin-E8S1WTGuE-A9_padding-top: 3px;
  --mixin-E8S1WTGuE-A9_white-space: pre-wrap;
  --mixin-D-T5g4wovPet_display: flex;
  --mixin-D-T5g4wovPet_flex-direction: column;
  --mixin-D-T5g4wovPet_align-items: stretch;
  --mixin-D-T5g4wovPet_justify-content: flex-start;
  --mixin-D-T5g4wovPet_list-style-position: outside;
  --mixin-D-T5g4wovPet_padding-left: 40px;
  --mixin-D-T5g4wovPet_position: relative;
  --mixin-D-T5g4wovPet_list-style-type: decimal;
  --mixin-D-T5g4wovPet_white-space: pre-wrap;
  --mixin-IphcTWRQ-t7k_display: flex;
  --mixin-IphcTWRQ-t7k_flex-direction: column;
  --mixin-IphcTWRQ-t7k_align-items: stretch;
  --mixin-IphcTWRQ-t7k_justify-content: flex-start;
  --mixin-IphcTWRQ-t7k_list-style-position: outside;
  --mixin-IphcTWRQ-t7k_padding-left: 40px;
  --mixin-IphcTWRQ-t7k_position: relative;
  --mixin-IphcTWRQ-t7k_list-style-type: disc;
  --mixin-IphcTWRQ-t7k_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-qA5vBD0zkxtl_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(--mixin-qA5vBD0zkxtl_box-shadow);
  --mixin-N1IXSOtGalpi_box-shadow: 0px 0px 0px 4px #0095ff80;
  --plasmic-mixin-focus-outline_box-shadow: var(
    --mixin-N1IXSOtGalpi_box-shadow
  );
  --mixin-C87iIxZVAeRu_box-shadow: 0px 1px 1px 1px #0000001a;
  --plasmic-mixin-extra-small-shadow_box-shadow: var(
    --mixin-C87iIxZVAeRu_box-shadow
  );
  --mixin-mX58zh5lMwnb_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-mX58zh5lMwnb_box-shadow
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-rBZ9HTX5zRVL_font-family);
  font-size: var(--mixin-rBZ9HTX5zRVL_font-size);
  font-weight: var(--mixin-rBZ9HTX5zRVL_font-weight);
  font-style: var(--mixin-rBZ9HTX5zRVL_font-style);
  color: var(--mixin-rBZ9HTX5zRVL_color);
  text-align: var(--mixin-rBZ9HTX5zRVL_text-align);
  text-transform: var(--mixin-rBZ9HTX5zRVL_text-transform);
  line-height: var(--mixin-rBZ9HTX5zRVL_line-height);
  letter-spacing: var(--mixin-rBZ9HTX5zRVL_letter-spacing);
  white-space: var(--mixin-rBZ9HTX5zRVL_white-space);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-BJe8Z-cBhvQ8_font-family);
  color: var(--mixin-BJe8Z-cBhvQ8_color);
  font-size: var(--mixin-BJe8Z-cBhvQ8_font-size);
  font-weight: var(--mixin-BJe8Z-cBhvQ8_font-weight);
  letter-spacing: var(--mixin-BJe8Z-cBhvQ8_letter-spacing);
  line-height: var(--mixin-BJe8Z-cBhvQ8_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-TgV0n4hpd4XU_font-family);
  color: var(--mixin-TgV0n4hpd4XU_color);
  font-size: var(--mixin-TgV0n4hpd4XU_font-size);
  font-weight: var(--mixin-TgV0n4hpd4XU_font-weight);
  letter-spacing: var(--mixin-TgV0n4hpd4XU_letter-spacing);
  line-height: var(--mixin-TgV0n4hpd4XU_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-W8ZVKProy_hg_font-family);
  color: var(--mixin-W8ZVKProy_hg_color);
  font-size: var(--mixin-W8ZVKProy_hg_font-size);
  font-weight: var(--mixin-W8ZVKProy_hg_font-weight);
  letter-spacing: var(--mixin-W8ZVKProy_hg_letter-spacing);
  line-height: var(--mixin-W8ZVKProy_hg_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-QBuCrTprGpgR_font-family);
  color: var(--mixin-QBuCrTprGpgR_color);
  font-size: var(--mixin-QBuCrTprGpgR_font-size);
  font-weight: var(--mixin-QBuCrTprGpgR_font-weight);
  line-height: var(--mixin-QBuCrTprGpgR_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-hgVxvovU0-Pd_color);
  padding-left: var(--mixin-hgVxvovU0-Pd_padding-left);
  border-left: var(--mixin-hgVxvovU0-Pd_border-left-width)
    var(--mixin-hgVxvovU0-Pd_border-left-style)
    var(--mixin-hgVxvovU0-Pd_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-aQgMIKMlP3j9_background);
  font-family: var(--mixin-aQgMIKMlP3j9_font-family);
  border-radius: var(--mixin-aQgMIKMlP3j9_border-top-left-radius)
    var(--mixin-aQgMIKMlP3j9_border-top-right-radius)
    var(--mixin-aQgMIKMlP3j9_border-bottom-right-radius)
    var(--mixin-aQgMIKMlP3j9_border-bottom-left-radius);
  padding: var(--mixin-aQgMIKMlP3j9_padding-top)
    var(--mixin-aQgMIKMlP3j9_padding-right)
    var(--mixin-aQgMIKMlP3j9_padding-bottom)
    var(--mixin-aQgMIKMlP3j9_padding-left);
  border-top: var(--mixin-aQgMIKMlP3j9_border-top-width)
    var(--mixin-aQgMIKMlP3j9_border-top-style)
    var(--mixin-aQgMIKMlP3j9_border-top-color);
  border-right: var(--mixin-aQgMIKMlP3j9_border-right-width)
    var(--mixin-aQgMIKMlP3j9_border-right-style)
    var(--mixin-aQgMIKMlP3j9_border-right-color);
  border-bottom: var(--mixin-aQgMIKMlP3j9_border-bottom-width)
    var(--mixin-aQgMIKMlP3j9_border-bottom-style)
    var(--mixin-aQgMIKMlP3j9_border-bottom-color);
  border-left: var(--mixin-aQgMIKMlP3j9_border-left-width)
    var(--mixin-aQgMIKMlP3j9_border-left-style)
    var(--mixin-aQgMIKMlP3j9_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-E8S1WTGuE-A9_background);
  font-family: var(--mixin-E8S1WTGuE-A9_font-family);
  border-radius: var(--mixin-E8S1WTGuE-A9_border-top-left-radius)
    var(--mixin-E8S1WTGuE-A9_border-top-right-radius)
    var(--mixin-E8S1WTGuE-A9_border-bottom-right-radius)
    var(--mixin-E8S1WTGuE-A9_border-bottom-left-radius);
  padding: var(--mixin-E8S1WTGuE-A9_padding-top)
    var(--mixin-E8S1WTGuE-A9_padding-right)
    var(--mixin-E8S1WTGuE-A9_padding-bottom)
    var(--mixin-E8S1WTGuE-A9_padding-left);
  border-top: var(--mixin-E8S1WTGuE-A9_border-top-width)
    var(--mixin-E8S1WTGuE-A9_border-top-style)
    var(--mixin-E8S1WTGuE-A9_border-top-color);
  border-right: var(--mixin-E8S1WTGuE-A9_border-right-width)
    var(--mixin-E8S1WTGuE-A9_border-right-style)
    var(--mixin-E8S1WTGuE-A9_border-right-color);
  border-bottom: var(--mixin-E8S1WTGuE-A9_border-bottom-width)
    var(--mixin-E8S1WTGuE-A9_border-bottom-style)
    var(--mixin-E8S1WTGuE-A9_border-bottom-color);
  border-left: var(--mixin-E8S1WTGuE-A9_border-left-width)
    var(--mixin-E8S1WTGuE-A9_border-left-style)
    var(--mixin-E8S1WTGuE-A9_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-D-T5g4wovPet_display);
  flex-direction: var(--mixin-D-T5g4wovPet_flex-direction);
  align-items: var(--mixin-D-T5g4wovPet_align-items);
  justify-content: var(--mixin-D-T5g4wovPet_justify-content);
  list-style-position: var(--mixin-D-T5g4wovPet_list-style-position);
  padding-left: var(--mixin-D-T5g4wovPet_padding-left);
  position: var(--mixin-D-T5g4wovPet_position);
  list-style-type: var(--mixin-D-T5g4wovPet_list-style-type);
  flex-column-gap: var(--mixin-D-T5g4wovPet_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-IphcTWRQ-t7k_display);
  flex-direction: var(--mixin-IphcTWRQ-t7k_flex-direction);
  align-items: var(--mixin-IphcTWRQ-t7k_align-items);
  justify-content: var(--mixin-IphcTWRQ-t7k_justify-content);
  list-style-position: var(--mixin-IphcTWRQ-t7k_list-style-position);
  padding-left: var(--mixin-IphcTWRQ-t7k_padding-left);
  position: var(--mixin-IphcTWRQ-t7k_position);
  list-style-type: var(--mixin-IphcTWRQ-t7k_list-style-type);
  flex-column-gap: var(--mixin-IphcTWRQ-t7k_flex-column-gap);
}
