.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__qr4Uy {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__qr4Uy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__qr4Uy > :global(.__wab_flex-container) > *,
.freeBox__qr4Uy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qr4Uy > :global(.__wab_flex-container) > picture > img,
.freeBox__qr4Uy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__qr4Uy {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__sGuZd {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.text__cZfq4 {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__lfG17 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__lfG17 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lfG17 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lfG17 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lfG17 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__cwI0E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__tvsJe:global(.__wab_instance) {
  position: relative;
}
.svg__mp0Sn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__e8XFd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__hyBr5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__aRhRz {
  position: relative;
  text-decoration-line: underline;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.freeBox__qYXmE {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox__qYXmE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__qYXmE > :global(.__wab_flex-container) > *,
.freeBox__qYXmE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qYXmE > :global(.__wab_flex-container) > picture > img,
.freeBox__qYXmE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__dxS5Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__wBgK {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  text-align: center;
}
.text__yNwSo {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: center;
  line-height: 28px;
  padding-bottom: 0px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  position: relative;
  display: none;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__zyIf6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___7JBps {
  height: auto;
  padding-bottom: 0px;
  max-width: 255px;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
}
.svg__rdyPn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__jdeqj {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  text-align: left;
}
.svg__l5Rex {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__pRoFq {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__rADb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___3S3Nz {
  max-width: 242px;
  width: 100%;
  min-width: 0;
}
.svg__af763 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wpbfw {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
}
.svg__pAs1U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__kGfcg {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__fWlrQ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__ffAD {
  padding-bottom: 0px;
  max-width: 247px;
  width: 100%;
  min-width: 0;
}
.svg__opomZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dSwI {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
}
.svg__rXzsI {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__fS9 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__bzlUu {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__p2NTv {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  height: auto;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 697px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  min-width: 0;
}
.columns__jGQr {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__jGQr > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__jGQr > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jGQr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jGQr > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fEaxU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__lnvaD:global(.__wab_instance) {
  position: relative;
  align-self: stretch;
}
.svg__esPh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__voMrg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__zypuv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 21px;
}
.button__fEOyd:global(.__wab_instance) {
  display: none;
}
.svg___3AMlw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___11XPu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__x9Af {
  display: flex;
  font-weight: 700;
}
.text__atVt6 {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-n7nA62H27xPU);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox___2PQv5 {
  flex-direction: column;
  display: flex;
}
.freeBox___2PQv5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___2PQv5 > :global(.__wab_flex-container) > *,
.freeBox___2PQv5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2PQv5 > :global(.__wab_flex-container) > picture > img,
.freeBox___2PQv5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___2Yy6B {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__h9Lz {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__wWjQw {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-left: 0px;
}
.freeBox__hNaf {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__hNaf > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__hNaf > :global(.__wab_flex-container) > *,
.freeBox__hNaf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hNaf > :global(.__wab_flex-container) > picture > img,
.freeBox__hNaf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__p10Ip {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__p10Ip > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__p10Ip > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__p10Ip > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__p10Ip > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__p10Ip > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__p10Ip > :global(.__wab_flex-container) > *,
.columns__p10Ip > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__p10Ip > :global(.__wab_flex-container) > picture > img,
.columns__p10Ip
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p10Ip {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p10Ip > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p10Ip > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__p10Ip > :global(.__wab_flex-container) > *,
  .columns__p10Ip > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__p10Ip > :global(.__wab_flex-container) > picture > img,
  .columns__p10Ip
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__kWfVm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__gHlbn:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ilY6T {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__lN4X {
  padding-left: 0px;
}
.column__w5H6T {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__aSi6N:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__xla0R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text___1LuP8 {
  padding-left: 0px;
}
.column__sAsCz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___19HuW:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__t2Yu4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__nQsk3 {
  padding-left: 0px;
}
.column__reUJt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__qryml:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__c3TJs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__vk3Q2 {
  padding-left: 0px;
}
.freeBox__hXoPy {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 355px;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.button__krAxB:global(.__wab_instance) {
  position: relative;
}
.svg__gzYt4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__yw5Xg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__t9RlH {
  position: relative;
}
.columns__afYm5 {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__afYm5 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__afYm5 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__afYm5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__afYm5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__odFo7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__tchFx {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__lvoxc {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__lvoxc > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__lvoxc > :global(.__wab_flex-container) > *,
.freeBox__lvoxc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lvoxc > :global(.__wab_flex-container) > picture > img,
.freeBox__lvoxc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lvoxc {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox___3Stih {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox___3Stih > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___3Stih > :global(.__wab_flex-container) > *,
.freeBox___3Stih > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Stih > :global(.__wab_flex-container) > picture > img,
.freeBox___3Stih
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__tL9Rn {
  flex-direction: column;
  display: flex;
}
.freeBox__tL9Rn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tL9Rn > :global(.__wab_flex-container) > *,
.freeBox__tL9Rn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tL9Rn > :global(.__wab_flex-container) > picture > img,
.freeBox__tL9Rn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__wAiyR {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__nzzR2 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__nzzR2 {
    text-align: center;
  }
}
.text__cy0G8 {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__tsiKn {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__tsiKn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__tsiKn > :global(.__wab_flex-container) > *,
.freeBox__tsiKn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tsiKn > :global(.__wab_flex-container) > picture > img,
.freeBox__tsiKn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tsiKn {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tsiKn > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tsiKn > :global(.__wab_flex-container) > *,
  .freeBox__tsiKn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__tsiKn > :global(.__wab_flex-container) > picture > img,
  .freeBox__tsiKn
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__fNuH:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__cmX7A:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__or55T {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__muGj5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9Khhs {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__yyxSh {
  height: auto;
}
.priceCard__dnm1C:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__zzLu6 {
  color: var(--token-dPpkVE5bFb5j);
}
.valueProp__rCbpK:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gtq1E {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yuEoS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__c1Iy1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__x6Xux:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lZxCs {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__b0OU4 {
  height: auto;
}
.priceCard__xlKS:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__d6MkQ {
  color: var(--token-pTKH6-tH8_-f);
}
.valueProp__sg3Xc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__o3XRu {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vd8AV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__imEqi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bXfxm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__m6D1I {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ipej:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mNnm1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__zqJ3W {
  height: auto;
}
.priceCard__st9CN:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___6CF7Q {
  color: var(--token-XtMYfNHa74Tv);
}
.valueProp__ewHoV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___0XDRg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__xo6Lk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__oomMw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kx9Lm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ecQax {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___0EluE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ljn51 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__xNutd {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
