.root {
  flex-direction: row;
  display: flex;
  position: relative;
  background: var(--token-nXWKqet0fltC);
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 48px;
}
.freeBox___1XOvW {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1XOvW {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.art {
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .art {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
    min-height: 320px;
    flex-column-gap: 0px;
  }
}
.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.blend {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  background: var(--token-vImgGkP7257E);
}
.freeBox__ieDrS {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__gP9Sx {
  flex-direction: column;
  display: flex;
  width: 100%;
  background: var(--token-_O7Q0lEa_LL0);
  min-width: 0;
  padding: 64px;
}
.freeBox__gP9Sx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__gP9Sx > :global(.__wab_flex-container) > *,
.freeBox__gP9Sx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gP9Sx > :global(.__wab_flex-container) > picture > img,
.freeBox__gP9Sx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gP9Sx {
    padding: 128px 32px;
  }
}
.copy {
  flex-direction: column;
  display: flex;
  width: 100%;
  max-width: 800px;
  min-width: 0;
}
.copy > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.copy > :global(.__wab_flex-container) > *,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.copy > :global(.__wab_flex-container) > picture > img,
.copy > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 32px;
}
.freeBox__hSkU0 {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__hSkU0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hSkU0 > :global(.__wab_flex-container) > *,
.freeBox__hSkU0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hSkU0 > :global(.__wab_flex-container) > picture > img,
.freeBox__hSkU0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__s8HQ0 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-Lti9oswZ1DWR);
}
.text__dd1W {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Lti9oswZ1DWR);
  line-height: 1;
}
.text__muNu5 {
  font-size: 20px;
  color: var(--token-truO5x1pubEB);
  line-height: 28px;
}
.freeBox__gy9B {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__gy9B > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__gy9B > :global(.__wab_flex-container) > *,
.freeBox__gy9B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gy9B > :global(.__wab_flex-container) > picture > img,
.freeBox__gy9B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__tVqu2:global(.__wab_instance) {
  position: relative;
}
.svg__zbJjK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__fAdLb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__lWcyO:global(.__wab_instance) {
  position: relative;
}
.svg__xkdoP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__y9Jex {
  height: auto;
  font-weight: 400;
}
.svg___1JM3U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
