.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__xeJPw {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__xeJPw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__xeJPw > :global(.__wab_flex-container) > *,
.freeBox__xeJPw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xeJPw > :global(.__wab_flex-container) > picture > img,
.freeBox__xeJPw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xeJPw {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.reveal__niUyl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text___0TWvF {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
  width: 100%;
  padding-right: 0px;
  max-width: 545px;
  min-width: 0;
  margin: 0px;
}
.reveal___7Yn6E:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__eqcSe {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.reveal___5W4Eb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__yADzB {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__yADzB > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__yADzB > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yADzB {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__yADzB > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__utZBr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__p3TPb:global(.__wab_instance) {
  position: relative;
}
.svg__u4A0N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__pf3Ia {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__esWJf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__yhMRq {
  position: relative;
  text-decoration-line: underline;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.reveal___7VsR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__tcxAa {
  flex-direction: column;
  display: flex;
  height: auto;
}
.freeBox__tcxAa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tcxAa > :global(.__wab_flex-container) > *,
.freeBox__tcxAa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tcxAa > :global(.__wab_flex-container) > picture > img,
.freeBox__tcxAa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__aOKs1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__zJr10 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  text-align: center;
}
.text__fH9A9 {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: center;
  line-height: 28px;
  padding-bottom: 0px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.reveal__sXbmf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp__h3Bma:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__pmsM {
  height: auto;
  padding-bottom: 0px;
  max-width: 255px;
  width: 100%;
  margin-right: 0px;
  min-width: 0;
}
.link__hHlGr {
  display: flex;
}
.text__nn1Ob {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  text-align: left;
  font-weight: 700;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg__fTuS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__pyi8W {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__i57Mi {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.reveal__hKwjK:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp__jb4Kz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__sohUz {
  max-width: 242px;
  width: 100%;
  min-width: 0;
}
.link__fZuj {
  display: flex;
}
.text__uaYf3 {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  font-weight: 700;
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg__rKPX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__nqCl0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xClG {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.reveal___0Kn31:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp___9IDsf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__atfv {
  padding-bottom: 0px;
  max-width: 247px;
  width: 100%;
  min-width: 0;
}
.link__a8CcV {
  display: flex;
}
.text___0HiJw {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  font-weight: 700;
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg__lySl2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tKS {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__lnctW {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__fqxjW {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.reveal__r7L3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__p2NTv {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  height: auto;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 697px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  min-width: 0;
}
.columns__jGQr {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__jGQr > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__jGQr > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jGQr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jGQr > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__fEaxU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__gk3XZ:global(.__wab_instance) {
  position: relative;
}
.svg__cc2W {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__smMuo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__zypuv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 21px;
}
.link__txxc5 {
  display: flex;
}
.text___5J6Bk {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  font-weight: 700;
}
.button__x6Iqm:global(.__wab_instance) {
  display: none;
}
.svg__zhXpq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__hgf9X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-n7nA62H27xPU);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__vDx8 {
  flex-direction: column;
  display: flex;
}
.freeBox__vDx8 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__vDx8 > :global(.__wab_flex-container) > *,
.freeBox__vDx8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vDx8 > :global(.__wab_flex-container) > picture > img,
.freeBox__vDx8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__eVVpU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.reveal__lAHR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2__x8CXj {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__rph8V {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-left: 0px;
}
.freeBox__ezKh2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__ezKh2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__ezKh2 > :global(.__wab_flex-container) > *,
.freeBox__ezKh2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ezKh2 > :global(.__wab_flex-container) > picture > img,
.freeBox__ezKh2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns___7OuJ {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns___7OuJ > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns___7OuJ > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___7OuJ > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___7OuJ > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___7OuJ > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns___7OuJ > :global(.__wab_flex-container) > *,
.columns___7OuJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___7OuJ > :global(.__wab_flex-container) > picture > img,
.columns___7OuJ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7OuJ {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7OuJ > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7OuJ > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7OuJ > :global(.__wab_flex-container) > *,
  .columns___7OuJ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___7OuJ > :global(.__wab_flex-container) > picture > img,
  .columns___7OuJ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column___2LxCp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__ebZq5:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__pXfzS {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text___1ClUa {
  padding-left: 0px;
}
.column___7D0Gh {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__cn9Fm:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__pb0Wo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__hj3Uo {
  padding-left: 0px;
}
.column__npe5 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___4VtNn:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__yeOpe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__lq4NL {
  padding-left: 0px;
}
.column__ln8Cs {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___5Dvid:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zu64X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__rS3T {
  padding-left: 0px;
}
.columns__rkAnM {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 445px;
  min-width: 0;
  padding: 8px;
}
.columns__rkAnM > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__rkAnM > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rkAnM {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rkAnM > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__kwKAv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__b1O6W:global(.__wab_instance) {
  position: relative;
}
.svg__a2YTg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xXiQw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__q05Ks {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__mkcaR {
  position: relative;
}
.freeBox__cQeVa {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__cQeVa > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__cQeVa > :global(.__wab_flex-container) > *,
.freeBox__cQeVa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cQeVa > :global(.__wab_flex-container) > picture > img,
.freeBox__cQeVa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cQeVa {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__l0S4N {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__l0S4N > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__l0S4N > :global(.__wab_flex-container) > *,
.freeBox__l0S4N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l0S4N > :global(.__wab_flex-container) > picture > img,
.freeBox__l0S4N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox___0BQrz {
  flex-direction: column;
  display: flex;
}
.freeBox___0BQrz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0BQrz > :global(.__wab_flex-container) > *,
.freeBox___0BQrz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0BQrz > :global(.__wab_flex-container) > picture > img,
.freeBox___0BQrz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__vPtQz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___5SJ {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5SJ {
    text-align: center;
  }
}
.text___9Nh0F {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__s4X {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__s4X > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__s4X > :global(.__wab_flex-container) > *,
.freeBox__s4X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__s4X > :global(.__wab_flex-container) > picture > img,
.freeBox__s4X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s4X {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s4X > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s4X > :global(.__wab_flex-container) > *,
  .freeBox__s4X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__s4X > :global(.__wab_flex-container) > picture > img,
  .freeBox__s4X
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__gcyD:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__kIt1I:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sY5Dy {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__muGj5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__shCso {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___0Eqdh {
  height: auto;
}
.priceCard__gDohR:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__winWo {
  color: var(--token-dPpkVE5bFb5j);
}
.valueProp__sP4Db:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kP1EX {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yuEoS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gHgnS {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__x6Xux:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__erLx {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__ltTv {
  height: auto;
}
.priceCard__jZdX:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__ffZnL {
  color: var(--token-pTKH6-tH8_-f);
}
.valueProp__cF7Jv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zdOhE {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vd8AV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mLYj8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bXfxm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___967WW {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ipej:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fWj6 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__wzRkK {
  height: auto;
}
.priceCard__aMcN:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__ziXoO {
  color: var(--token-XtMYfNHa74Tv);
}
.valueProp__wWNnv:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__eWxV0 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__xo6Lk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nyneX {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kx9Lm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__k4CoX {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___0EluE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__p4Rxc {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__kFjV8 {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
