.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: none;
  min-width: 0;
  min-height: 0;
  padding: 0em 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__rbIqS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  position: relative;
  box-shadow: 0px 10px 16px 0px #00000033;
  min-width: 0;
  padding: 0px;
}
.freeBox__suzfh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffffff;
  min-width: 0;
  padding: 0px;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.mainSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainSection {
    margin-top: calc(0px + 0px) !important;
    padding: 3em 15px 1.5em;
  }
}
.pageBanner {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#4a918e, #4a918e), #0091ff;
  min-width: 0;
  padding: 0px;
}
.freeBox__fUeTo {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  background: #4a918e;
  max-width: 1380px;
  min-width: 0;
  padding: 64px 32px 58px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fUeTo {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    background: none;
    max-width: 1380px;
    min-width: 0;
    padding: 58px 32px 41px;
  }
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 0px;
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: stretch;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 12px);
    height: calc(100% + 12px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 12px;
  }
}
.column__aKi5X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.freeBox___3UBEc {
  flex-direction: column;
  display: flex;
  position: absolute;
  background: #0f22229c;
  width: 100%;
  height: auto;
  margin-right: -373px;
  left: 187px;
  top: 98px;
  z-index: 111;
  min-width: 0;
  padding: 30px;
  border-left: 8px solid #f4efeb;
}
.freeBox___3UBEc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___3UBEc > :global(.__wab_flex-container) > *,
.freeBox___3UBEc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3UBEc > :global(.__wab_flex-container) > picture > img,
.freeBox___3UBEc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3UBEc {
    position: relative;
    left: auto;
    top: auto;
    display: flex;
    flex-direction: column;
    background: #0f22229c;
    width: 100%;
    height: auto;
    z-index: 111;
    min-width: 0;
    padding: 30px;
    margin: 0px;
    border-left: 8px solid #f4efeb;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3UBEc > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3UBEc > :global(.__wab_flex-container) > *,
  .freeBox___3UBEc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3UBEc > :global(.__wab_flex-container) > picture > img,
  .freeBox___3UBEc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.h1 {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1;
  letter-spacing: -1px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
}
.text__spvS2 {
  margin-top: calc(10px + 16px) !important;
  margin-bottom: 12px;
  padding-bottom: 0px;
  max-width: 602px;
  width: 100%;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
.column___272Uj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img > :global(.__wab_img-spacer) > img {
    object-fit: cover;
  }
}
.mainSection2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #f7f9fb;
  margin-top: calc(0px + 0px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: 0;
  padding: 4.17em 15px 3.33em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .mainSection2 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    max-width: 100%;
    background: #f7f9fb;
    margin-top: calc(0px + 0px) !important;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 3em 15px 1.5em;
  }
}
.container3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 1080px;
  background: #ffffff;
  padding: 30px;
}
.freeBox__xwZW {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__xwZW > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__xwZW > :global(.__wab_flex-container) > *,
.freeBox__xwZW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xwZW > :global(.__wab_flex-container) > picture > img,
.freeBox__xwZW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.h3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 912px;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  align-self: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 600;
  font-style: normal;
  color: #000000;
  text-align: left;
  text-transform: none;
  line-height: 1.2;
  letter-spacing: -0.8px;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3 {
    font-size: 32px;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    margin-top: calc(0px + 10px) !important;
    margin-right: 0px;
    margin-bottom: 16px;
    margin-left: 0px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    padding-top: 0px;
    line-height: 1.5;
    align-self: flex-start;
    min-width: 0;
  }
}
.text__dVy {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: calc(0px + 10px) !important;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  padding-top: 0px;
  align-self: flex-start;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__dVy {
    position: relative;
    width: 100%;
    height: auto;
    color: #000000;
    margin-top: calc(0px + 10px) !important;
    margin-right: 0px;
    margin-bottom: 1em;
    margin-left: 0px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.7;
    padding-top: 0px;
    min-width: 0;
  }
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
