.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    margin-left: 0px;
    max-width: 419px;
    width: 100%;
    min-width: 0;
  }
}
.columns__pWpqt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 1142px;
  height: auto;
  max-width: 100%;
  flex-shrink: 1;
  flex-wrap: nowrap;
  align-self: center;
  padding: 8px 8px 30px;
}
.columns__pWpqt > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__pWpqt > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pWpqt {
    width: 502px;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pWpqt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__k9KSv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 26px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__k9KSv {
    padding-left: 0px;
    padding-top: 0px;
  }
}
.freeBox__kkWb {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kkWb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kkWb > :global(.__wab_flex-container) > *,
.freeBox__kkWb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kkWb > :global(.__wab_flex-container) > picture > img,
.freeBox__kkWb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kkWb {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kkWb > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kkWb > :global(.__wab_flex-container) > *,
  .freeBox__kkWb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kkWb > :global(.__wab_flex-container) > picture > img,
  .freeBox__kkWb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__fGV {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox__fGV > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fGV > :global(.__wab_flex-container) > *,
.freeBox__fGV > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fGV > :global(.__wab_flex-container) > picture > img,
.freeBox__fGV
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___9AKEm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.columns___266P9 {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-_lqAwWtqgIF3);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___266P9 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns___266P9 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
  width: calc((100% - 1 * 64px) * 12 / 12);
}
.columns___266P9 > :global(.__wab_flex-container) > *,
.columns___266P9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___266P9 > :global(.__wab_flex-container) > picture > img,
.columns___266P9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___266P9 {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: 0px;
    max-width: 378px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___266P9 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___266P9 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___266P9 > :global(.__wab_flex-container) > *,
  .columns___266P9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___266P9 > :global(.__wab_flex-container) > picture > img,
  .columns___266P9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__xf487 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__bvKsF {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__bvKsF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__bvKsF > :global(.__wab_flex-container) > *,
.freeBox__bvKsF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bvKsF > :global(.__wab_flex-container) > picture > img,
.freeBox__bvKsF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__cFsEl {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__cFsEl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cFsEl > :global(.__wab_flex-container) > *,
.freeBox__cFsEl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cFsEl > :global(.__wab_flex-container) > picture > img,
.freeBox__cFsEl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cFsEl {
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cFsEl > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cFsEl > :global(.__wab_flex-container) > *,
  .freeBox__cFsEl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cFsEl > :global(.__wab_flex-container) > picture > img,
  .freeBox__cFsEl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.h1 {
  position: relative;
  width: 468px;
  height: auto;
  max-width: 724px;
  font-size: 60px;
  font-weight: 900;
  padding-right: 0px;
  margin-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    text-align: center;
    align-self: center;
    padding-bottom: 7px;
    margin-top: calc(0px + 16px) !important;
    width: 376px;
  }
}
.text__tDnC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__tDnC {
    text-align: center;
  }
}
.h2___91SbE {
  height: 96px;
  padding-right: 0px;
  width: 498px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___91SbE {
    width: 379px;
    text-align: center;
  }
}
.columns__n2Fvz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__n2Fvz > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__n2Fvz > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n2Fvz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__n2Fvz > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dCSdY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
.button__lKlv:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__lKlv:global(.__wab_instance) {
    position: relative;
    align-self: center;
  }
}
.svg___4LDcc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wy011 {
  height: auto;
}
.svg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__ddNe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 4px;
}
.learnMore {
  position: relative;
  display: flex;
}
.text___0Faao {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___0Faao {
    align-self: center;
  }
}
.reveal__wyLv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__wyLv:global(.__wab_instance) {
    display: flex;
  }
}
.img__asb8S {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  display: none !important;
}
.img__asb8S > picture > img {
  object-fit: cover;
}
.img__asb8S > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__asb8S {
    display: inline-block !important;
  }
}
.column__kp8IR {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 73px 0px 8px 31px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__kp8IR {
    display: none;
  }
}
.reveal__eMcWw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img___6C8A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 0px;
  height: 514px;
}
.img___6C8A > picture > img {
  object-fit: cover;
}
.img___6C8A > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___6C8A {
    width: 400px;
  }
}
.freeBox__cVzYe {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  background: var(--token-n7nA62H27xPU);
  margin-bottom: 0px;
  min-width: 0;
  padding: 50px 8px 49px;
}
.freeBox__rOUj {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox__rOUj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rOUj > :global(.__wab_flex-container) > *,
.freeBox__rOUj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rOUj > :global(.__wab_flex-container) > picture > img,
.freeBox__rOUj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2__aWj9Z {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-v6LfSbn-y);
  line-height: 1;
  text-align: center;
  margin-top: calc(0px + 16px) !important;
}
.text___1Nbvq {
  font-size: 20px;
  color: var(--token-tPMwc8PX0I8d);
  text-align: center;
  line-height: 28px;
  padding-right: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  max-width: 981px;
  width: 100%;
  min-width: 0;
}
.freeBox___59GSh {
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  display: none;
  padding: 50px 8px 51px;
}
.text__jQpZq {
  font-size: 20px;
  color: #5856d6;
  text-align: center;
  line-height: 28px;
  font-weight: 900;
  align-self: auto;
  margin-right: 0px;
}
.freeBox__farFl {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 70px;
  min-width: 0;
  padding: 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__farFl {
    padding-top: 0px;
    margin-top: 2px;
  }
}
.freeBox___7SpDz {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 0px;
}
.freeBox___7SpDz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___7SpDz > :global(.__wab_flex-container) > *,
.freeBox___7SpDz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7SpDz > :global(.__wab_flex-container) > picture > img,
.freeBox___7SpDz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7SpDz {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7SpDz > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7SpDz > :global(.__wab_flex-container) > *,
  .freeBox___7SpDz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___7SpDz > :global(.__wab_flex-container) > picture > img,
  .freeBox___7SpDz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h2___7HUdJ {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  text-align: right;
  max-width: 811px;
  width: 100%;
  margin-right: 2px;
  padding-left: 0px;
  margin-top: calc(7px + 48px) !important;
  padding-right: 76px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___7HUdJ {
    max-width: 490px;
    width: 100%;
    margin-left: calc(0px + 0px) !important;
    padding-left: 57px;
    padding-right: 113px;
    margin-top: calc(7px + 24px) !important;
    min-width: 0;
  }
}
.columns__muDez {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__muDez > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__muDez {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__muDez > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__m0126 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text___7BYMg {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-right: 0px;
  margin-left: 39px;
  max-width: 822px;
  width: 100%;
  padding-right: 0px;
  height: 148px;
  padding-left: 116px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___7BYMg {
    max-width: 384px;
    width: 100%;
    padding-left: 29px;
    text-align: left;
    min-width: 0;
  }
}
.link {
  color: var(--token-n7nA62H27xPU);
}
.freeBox__hsPgE {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hsPgE {
    padding-top: 6px;
  }
}
.columns__fzovy {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__fzovy > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__fzovy > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fzovy {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fzovy > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__t9U3L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 77px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__t9U3L {
    padding-top: 0px;
  }
}
.h3__wcEmw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 403px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  padding-right: 146px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__wcEmw {
    margin-top: 73px;
    text-align: left;
  }
}
.text___5AVsC {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 407px;
  width: 100%;
  margin-top: 10px;
  padding-bottom: 32px;
  padding-right: 15px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5AVsC {
    text-align: left;
  }
}
.h3__s6Rrz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__s6Rrz {
    text-align: left;
  }
}
.text__kn2D8 {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  max-width: 410px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kn2D8 {
    text-align: left;
  }
}
.column__rAicW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.reveal__kActz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__nf09Y {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img__nf09Y > picture > img {
  object-fit: cover;
}
.img__nf09Y > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__jY9X {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  min-width: 0;
  padding: 0px 8px 5px;
}
.freeBox__dUuQj {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 0px;
  padding-top: 0px;
  height: 1066px;
}
.freeBox__dUuQj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__dUuQj > :global(.__wab_flex-container) > *,
.freeBox__dUuQj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dUuQj > :global(.__wab_flex-container) > picture > img,
.freeBox__dUuQj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dUuQj {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 0px;
    height: 1124px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dUuQj > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dUuQj > :global(.__wab_flex-container) > *,
  .freeBox__dUuQj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__dUuQj > :global(.__wab_flex-container) > picture > img,
  .freeBox__dUuQj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h2__u2I7H {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  text-align: center;
  margin-top: calc(50px + 48px) !important;
  padding-top: 0px;
  padding-right: 0px;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__u2I7H {
    padding-right: 0px;
    margin-top: calc(50px + 24px) !important;
  }
}
.columns__jDUn8 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 887px;
  min-width: 0;
  padding: 8px;
}
.columns__jDUn8 > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jDUn8 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__jDUn8 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sal8P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  padding: 8px 27px 0px 20px;
}
.text__q2EaS {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: center;
  line-height: 28px;
  margin-right: 1px;
  margin-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  height: 91px;
  max-width: 779px;
  width: 100%;
  align-self: center;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__q2EaS {
    max-width: 360px;
    width: 100%;
    height: 114px;
    min-width: 0;
    flex-shrink: 0;
  }
}
.text__rZyTf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 587px;
  padding-bottom: 1px;
  min-width: 0;
}
.ol {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 652px;
  text-align: left;
  height: 165px;
  margin-left: 0px;
  padding-left: 50px;
  margin-right: 3px;
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .ol {
    width: 519px;
    margin-right: 0px;
    margin-left: 0px;
    text-align: center;
    padding-left: 110px;
  }
}
.li__iSlmE {
  width: 458px;
  color: var(--token-3btyuIOaZa0x);
  font-size: 20px;
  margin-right: 0px;
  text-align: left;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__iSlmE {
    width: 315px;
    padding-left: 0px;
    margin-left: 0px;
  }
}
.li__d6QgW {
  width: 209px;
  color: var(--token-3btyuIOaZa0x);
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__d6QgW {
    width: 289px;
    padding-left: 6px;
    margin-right: 98px;
  }
}
.li__emM9A {
  width: 545px;
  color: var(--token-3btyuIOaZa0x);
  font-size: 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__emM9A {
    width: 319px;
  }
}
.li__pDmlc {
  width: 538px;
  color: var(--token-3btyuIOaZa0x);
  font-size: 20px;
  text-align: left;
  margin-right: 2px;
  padding-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__pDmlc {
    margin-right: 0px;
    width: 349px;
  }
}
.li__nqNwt {
  width: 563px;
  color: var(--token-3btyuIOaZa0x);
  font-size: 20px;
  margin-right: 0px;
  text-align: left;
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .li__nqNwt {
    width: 336px;
  }
}
.columns__e7QV {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: calc(0px + 48px) !important;
  min-width: 0;
  padding: 0px 8px 8px;
}
.columns__e7QV > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__e7QV > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__e7QV {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px + 24px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__e7QV > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__p8NfS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 11px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__p8NfS {
    padding-top: 75px;
  }
}
.h2___0T55H {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  padding-bottom: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___0T55H {
    padding-top: 25px;
  }
}
.h3__u1MSh {
  padding-right: 0px;
  color: #5856d6;
  text-align: left;
  padding-left: 0px;
  width: 399px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3__u1MSh {
    width: 337px;
    height: 50px;
    margin-top: 27px;
    text-align: left;
  }
}
.text__cvXnT {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  padding-bottom: 0px;
  padding-top: 0px;
  max-width: 406px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cvXnT {
    margin-right: 0px;
    max-width: 332px;
    width: 100%;
    padding-right: 8px;
    min-width: 0;
  }
}
.column__t5AuA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.reveal__vgCn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img___5NvVz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___5NvVz > picture > img {
  object-fit: cover;
}
.img___5NvVz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img___5NvVz {
    width: 400px;
  }
}
.freeBox__zzdsr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__zzdsr {
    padding-top: 64px;
    margin-top: 229px;
  }
}
.freeBox___5P5Ru {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 921px;
  max-width: 100%;
  min-width: 0;
  padding: 0px 8px;
}
.h2___2Ng2C {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  position: relative;
  width: 100%;
  height: 65px;
  max-width: 800px;
  background: #ffffff;
  text-align: center;
  padding-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  min-width: 0;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___2Ng2C {
    padding-left: 0px;
  }
}
.text__p4Wn7 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 809px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  font-size: 20px;
  margin-top: 63px;
  padding-bottom: 0px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__p4Wn7 {
    text-align: center;
    max-width: 414px;
    width: 100%;
    min-width: 0;
  }
}
.columns___7F8Qj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 55px 8px 8px;
}
.columns___7F8Qj > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___7F8Qj > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7F8Qj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    padding-top: 10px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7F8Qj > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__noKk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.reveal__xh6IL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__xh6IL:global(.__wab_instance) {
    display: flex;
  }
}
.img__aJnz7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
  display: none !important;
}
.img__aJnz7 > picture > img {
  object-fit: cover;
}
.img__aJnz7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__aJnz7 {
    display: inline-block !important;
  }
}
.reveal__cUmX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__woUxC {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 400px;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  box-shadow: 0px 4px 16px 0px #00000033;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.img__woUxC > picture > img {
  object-fit: cover;
}
.img__woUxC > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__woUxC {
    margin-left: 0px;
    width: 100%;
    min-width: 0;
    display: none !important;
  }
}
.column__nUq6Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.reveal__dCWm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__dCWm:global(.__wab_instance) {
    display: flex;
  }
}
.img__gbgKe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
  margin-bottom: 0px;
  display: none !important;
}
.img__gbgKe > picture > img {
  object-fit: cover;
}
.img__gbgKe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__gbgKe {
    display: inline-block !important;
  }
}
.reveal__wVshl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__xhqWq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 400px;
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img__xhqWq > picture > img {
  object-fit: cover;
}
.img__xhqWq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__xhqWq {
    display: none !important;
  }
}
.freeBox__g9N3N {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px 8px;
  margin: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g9N3N {
    margin-top: 478px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
}
.freeBox___5XduE {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 0px;
  height: 483px;
  padding-bottom: 0px;
}
.freeBox___5XduE > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___5XduE > :global(.__wab_flex-container) > *,
.freeBox___5XduE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5XduE > :global(.__wab_flex-container) > picture > img,
.freeBox___5XduE
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5XduE {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 0px;
    height: 856px;
    padding-top: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5XduE > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5XduE > :global(.__wab_flex-container) > *,
  .freeBox___5XduE > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5XduE > :global(.__wab_flex-container) > picture > img,
  .freeBox___5XduE
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.h2___5WJyl {
  font-size: 48px;
  font-weight: 800;
  color: #000000;
  line-height: 1;
  text-align: center;
  margin-top: calc(100px + 48px) !important;
  padding-top: 0px;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2___5WJyl {
    margin-top: calc(100px + 24px) !important;
  }
}
.columns__eAbfJ {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__eAbfJ > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__eAbfJ > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eAbfJ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__eAbfJ > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__uRtKl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
.text__n2Ie9 {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__n2Ie9 {
    padding-top: 0px;
    max-width: 341px;
    width: 100%;
    margin-right: 3px;
    margin-left: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    min-width: 0;
  }
}
.column__yb6K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__yb6K {
    padding-bottom: 0px;
  }
}
.text__fSsyG {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: left;
  line-height: 28px;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 0px;
  margin-top: 0px;
  max-width: 456px;
  width: 100%;
  max-height: 244px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fSsyG {
    padding-bottom: 0px;
    text-align: center;
    padding-right: 0px;
    max-width: 383px;
    width: 100%;
    min-width: 0;
  }
}
.freeBox__a1EzJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-n7nA62H27xPU);
  margin-top: 61px;
  min-width: 0;
  padding: 63px 8px 79px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__a1EzJ {
    margin-top: 45px;
  }
}
.h2__fWo1Z {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-nXWKqet0fltC);
  line-height: 1;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__df1JK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-tPMwc8PX0I8d);
  text-align: center;
  margin-top: 60px;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__df1JK {
    max-width: 400px;
    width: 100%;
    min-width: 0;
  }
}
.reveal___442N:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  box-shadow: none;
}
.img__cyleg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-bottom: 0px;
  height: 548px;
  margin-top: 69px;
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img__cyleg > picture > img {
  object-fit: cover;
}
.img__cyleg > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__cyleg {
    margin-bottom: 0px;
    margin-right: 0px;
    width: 100%;
    height: 295px;
    min-width: 0;
  }
}
.freeBox__rA2Uf {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1689px;
  height: auto;
  max-width: 100%;
  margin-bottom: 47px;
  align-self: center;
  padding: 8px 8px 7px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rA2Uf {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}
.h2__n4JgO {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-top: 71px;
  margin-bottom: 58px;
  padding-bottom: 2px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__n4JgO {
    max-width: 422px;
    width: 100%;
    min-width: 0;
  }
}
.text___51Vb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  margin-bottom: 3px;
  margin-top: 0px;
  font-size: 20px;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___51Vb {
    padding-bottom: 1px;
    max-width: 406px;
    width: 100%;
    min-width: 0;
  }
}
.reveal__qHuiO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  text-align: center;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .reveal__qHuiO:global(.__wab_instance) {
    margin-top: 42px;
  }
}
.img__qPcUo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 980px;
  align-self: center;
  transition-property: all;
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  margin: 0px 0px 59px;
}
.img__qPcUo > picture > img {
  object-fit: cover;
}
.img__qPcUo > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-Fp84Xuw2Y);
  padding: 64px 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .section {
    margin-top: 0px;
  }
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__fZgm {
  flex-direction: column;
  display: flex;
}
.freeBox__fZgm > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__fZgm > :global(.__wab_flex-container) > *,
.freeBox__fZgm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fZgm > :global(.__wab_flex-container) > picture > img,
.freeBox__fZgm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__srNOl {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__pyhUu {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
  text-align: center;
}
.text__oqq2X {
  font-size: 20px;
  color: var(--token-tPMwc8PX0I8d);
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: center;
  padding-right: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__oqq2X {
    max-width: 399px;
    width: 100%;
    min-width: 0;
  }
}
.columns__b2Jkr {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__b2Jkr > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b2Jkr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__b2Jkr > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sHrOh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__t9NLe:global(.__wab_instance) {
  position: relative;
}
.svg___9XfH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___7B9X0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .fathymFooter:global(.__wab_instance) {
    margin-left: 29px;
    width: 489px;
    margin-right: 0px;
  }
}
