.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__gB8N8 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__gB8N8 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__gB8N8 > :global(.__wab_flex-container) > *,
.freeBox__gB8N8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gB8N8 > :global(.__wab_flex-container) > picture > img,
.freeBox__gB8N8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gB8N8 {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__ncb7 {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.text__hrBH {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns___2LnY5 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___2LnY5 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___2LnY5 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2LnY5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2LnY5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__g9CLb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__fkSyb:global(.__wab_instance) {
  position: relative;
}
.svg__dpEBq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__eTgK3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__zj6Ac {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__kjbdQ {
  position: relative;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__bYoB {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox__bYoB > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bYoB > :global(.__wab_flex-container) > *,
.freeBox__bYoB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bYoB > :global(.__wab_flex-container) > picture > img,
.freeBox__bYoB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__aCpFc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__iIuN4 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__iIuN4 {
    text-align: center;
  }
}
.text__auadc {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: center;
  line-height: 28px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__qRp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__qLeqf {
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qLeqf {
    max-width: 249px;
    width: 100%;
    min-width: 0;
  }
}
.link__tzCcK {
  display: flex;
  font-weight: 700;
}
.text__mglrP {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  text-align: left;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg___7UgCu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___4UV3G {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__quvZd {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__t23L:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___3A7Mh {
    max-width: 241px;
    width: 100%;
    min-width: 0;
  }
}
.link__bywyd {
  display: flex;
  font-weight: 700;
}
.text___759G8 {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg__rWWns {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__ysBjB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__r9T2I {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__oHjX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__cr6Et {
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__cr6Et {
    max-width: 247px;
    width: 100%;
    min-width: 0;
  }
}
.link___1Pczu {
  display: flex;
  font-weight: 700;
}
.text__vVgMu {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg___7EBaT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__waYD {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tz5QL {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__kRXfg {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__p2NTv {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  height: auto;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ciVwm {
    font-size: 18px;
  }
}
.columns__lu3Pu {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns__lu3Pu > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lu3Pu > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lu3Pu {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lu3Pu > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1EOxr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__yZPxe:global(.__wab_instance) {
  position: relative;
}
.svg__gb8Aa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__taUoY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__hWyXc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link___2MNx7 {
  display: flex;
  font-weight: 700;
}
.text___7Pb1F {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
}
.button___4ZbXy:global(.__wab_instance) {
  display: none;
}
.svg__lGuAn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__hYAv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-n7nA62H27xPU);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__jX90P {
  flex-direction: column;
  display: flex;
}
.freeBox__jX90P > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__jX90P > :global(.__wab_flex-container) > *,
.freeBox__jX90P > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jX90P > :global(.__wab_flex-container) > picture > img,
.freeBox__jX90P
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__lcp10 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__jr0Pt {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__j5CTt {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-top: 0px;
}
.freeBox__bhNxu {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__bhNxu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__bhNxu > :global(.__wab_flex-container) > *,
.freeBox__bhNxu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bhNxu > :global(.__wab_flex-container) > picture > img,
.freeBox__bhNxu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__dAzPa {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__dAzPa > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__dAzPa > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__dAzPa > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__dAzPa > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__dAzPa > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__dAzPa > :global(.__wab_flex-container) > *,
.columns__dAzPa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__dAzPa > :global(.__wab_flex-container) > picture > img,
.columns__dAzPa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dAzPa {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dAzPa > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dAzPa > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__dAzPa > :global(.__wab_flex-container) > *,
  .columns__dAzPa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__dAzPa > :global(.__wab_flex-container) > picture > img,
  .columns__dAzPa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column___3I4Z5 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__s3LFj:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__hXiTh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__fsY3Q {
  padding-left: 0px;
}
.column__ic8Rk {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__nRx7D:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__oCevp {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text___86I8C {
  padding-left: 0px;
}
.column__xbFz5 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__end9S:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___3M04P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__oL0Jn {
  padding-left: 0px;
}
.column__cc0R4 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__kbMmB:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__sNzOs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text___9ETpx {
  padding-left: 0px;
}
.freeBox__zayM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 355px;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.button__rgWxD:global(.__wab_instance) {
  position: relative;
}
.svg__rnvfp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__wdTrk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__sba7O {
  position: relative;
}
.columns__cw0L {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__cw0L > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__cw0L > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cw0L {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cw0L > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___8YkY {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__i6Dp9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__jmNXr {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__jmNXr > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__jmNXr > :global(.__wab_flex-container) > *,
.freeBox__jmNXr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jmNXr > :global(.__wab_flex-container) > picture > img,
.freeBox__jmNXr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jmNXr {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__ll0ME {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__ll0ME > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__ll0ME > :global(.__wab_flex-container) > *,
.freeBox__ll0ME > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ll0ME > :global(.__wab_flex-container) > picture > img,
.freeBox__ll0ME
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__zlc7J {
  flex-direction: column;
  display: flex;
}
.freeBox__zlc7J > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__zlc7J > :global(.__wab_flex-container) > *,
.freeBox__zlc7J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zlc7J > :global(.__wab_flex-container) > picture > img,
.freeBox__zlc7J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__j6GLa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__ewl68 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ewl68 {
    text-align: center;
  }
}
.text__iYy7B {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__l1Wn6 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__l1Wn6 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__l1Wn6 > :global(.__wab_flex-container) > *,
.freeBox__l1Wn6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__l1Wn6 > :global(.__wab_flex-container) > picture > img,
.freeBox__l1Wn6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l1Wn6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l1Wn6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__l1Wn6 > :global(.__wab_flex-container) > *,
  .freeBox__l1Wn6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__l1Wn6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__l1Wn6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__rxAfp:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__rT7Xg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jzxtq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___1W8Nz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__iJvJh {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__o5Ga2 {
  height: auto;
}
.priceCard__uvAeE:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__dg4S9 {
  color: var(--token-dPpkVE5bFb5j);
}
.valueProp__tM8Ev:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rvu0X {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a5Gpi:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___92Aqz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yXoom:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hUPp7 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__rMfhm {
  height: auto;
}
.priceCard__yiYnY:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__myQsf {
  color: var(--token-pTKH6-tH8_-f);
}
.valueProp__rvvoJ:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__fiIhO {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__lQylr:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__mFkWv {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__pBnk9:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___6ToGq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ov97W:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__e0Cqw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__vxyAn {
  height: auto;
}
.priceCard__kaUj:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__bbGux {
  color: var(--token-XtMYfNHa74Tv);
}
.valueProp__ajg3M:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lEJsU {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__k63La:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zQtuW {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vtMyj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kVMlK {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__gBhak:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__h8Gi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__z1VKm {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
