.root:global(.__wab_instance) {
  position: relative;
}
.svg__zsym7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text {
  height: auto;
}
.svg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
