.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: #ffffff80;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerHeroSection {
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
    right: auto;
    z-index: auto;
    background: linear-gradient(#ffffff80, #ffffff80),
      url("/plasmic/new_fathym_com/images/wavey.png") top 50% left 50% / cover repeat;
    padding: 0px 7px 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerHeroSection > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerHeroSection > :global(.__wab_flex-container) > *,
  .headerHeroSection
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > *,
  .headerHeroSection > :global(.__wab_flex-container) > picture > img,
  .headerHeroSection
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    margin-left: calc(0px + 0px) !important;
    max-width: 419px;
    width: 100%;
    min-width: 0;
  }
}
.columns__seAuK {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-_lqAwWtqgIF3);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__seAuK > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__seAuK > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__seAuK > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__seAuK > :global(.__wab_flex-container) > *,
.columns__seAuK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__seAuK > :global(.__wab_flex-container) > picture > img,
.columns__seAuK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__seAuK {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: calc(0px + 64px) !important;
    max-width: 378px;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__seAuK > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__seAuK > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__seAuK > :global(.__wab_flex-container) > *,
  .columns__seAuK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__seAuK > :global(.__wab_flex-container) > picture > img,
  .columns__seAuK
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column__sVxUt {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__aZBgb {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__aZBgb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__aZBgb > :global(.__wab_flex-container) > *,
.freeBox__aZBgb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aZBgb > :global(.__wab_flex-container) > picture > img,
.freeBox__aZBgb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__onNZh {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__onNZh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__onNZh > :global(.__wab_flex-container) > *,
.freeBox__onNZh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__onNZh > :global(.__wab_flex-container) > picture > img,
.freeBox__onNZh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__onNZh {
    display: flex;
    position: relative;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__onNZh > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__onNZh > :global(.__wab_flex-container) > *,
  .freeBox__onNZh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__onNZh > :global(.__wab_flex-container) > picture > img,
  .freeBox__onNZh
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.freeBox__e79UD {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e79UD {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    height: auto;
    flex-row-gap: 0px;
  }
}
.text__ghYyo {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-3btyuIOaZa0x);
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 8px;
  background: #ffffff;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ghYyo {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--token-3btyuIOaZa0x);
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 8px;
    background: #ffffff;
  }
}
.text__ghgeg {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-Gh2swhE2QtwV);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ghgeg {
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    line-height: 1;
    color: var(--token-Gh2swhE2QtwV);
  }
}
.text__st5D9 {
  font-size: 35px;
  color: var(--token-3btyuIOaZa0x);
  line-height: 28px;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__st5D9 {
    text-align: center;
    font-size: 20px;
    color: var(--token-3btyuIOaZa0x);
    line-height: 28px;
    margin-bottom: 0px;
  }
}
.text___5Ayt4 {
  font-size: 18px;
  color: var(--token-3btyuIOaZa0x);
  line-height: 28px;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5Ayt4 {
    text-align: center;
    font-size: 20px;
    color: var(--token-3btyuIOaZa0x);
    line-height: 28px;
    margin-bottom: 0px;
  }
}
.freeBox__coLUd {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__coLUd > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__coLUd > :global(.__wab_flex-container) > *,
.freeBox__coLUd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__coLUd > :global(.__wab_flex-container) > picture > img,
.freeBox__coLUd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__coLUd {
    display: flex;
    position: relative;
    flex-direction: row;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__coLUd > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__coLUd > :global(.__wab_flex-container) > *,
  .freeBox__coLUd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__coLUd > :global(.__wab_flex-container) > picture > img,
  .freeBox__coLUd
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.button___5OnsK:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___5OnsK:global(.__wab_instance) {
    position: relative;
  }
}
.svg__g53Pr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__y0OlU {
  height: auto;
}
.svg__kwg5Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___0YlIx:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button___0YlIx:global(.__wab_instance) {
    position: relative;
  }
}
.svg__rMv2I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__tKfB {
  height: auto;
  font-weight: 400;
}
.svg___8Zhbk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__roneA {
  display: flex;
  position: relative;
  flex-direction: column;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___4ZPIa {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox___4ZPIa > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___4ZPIa > :global(.__wab_flex-container) > *,
.freeBox___4ZPIa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4ZPIa > :global(.__wab_flex-container) > picture > img,
.freeBox___4ZPIa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4ZPIa {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4ZPIa > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___4ZPIa > :global(.__wab_flex-container) > *,
  .freeBox___4ZPIa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4ZPIa > :global(.__wab_flex-container) > picture > img,
  .freeBox___4ZPIa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__oqJ4E {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox__oqJ4E > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__oqJ4E > :global(.__wab_flex-container) > *,
.freeBox__oqJ4E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oqJ4E > :global(.__wab_flex-container) > picture > img,
.freeBox__oqJ4E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__gLviZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__zo1R1 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
.text__rwtUj {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: center;
  line-height: 28px;
}
.freeBox___6Rfho {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___6Rfho > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox___6Rfho > :global(.__wab_flex-container) > *,
.freeBox___6Rfho > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___6Rfho > :global(.__wab_flex-container) > picture > img,
.freeBox___6Rfho
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Rfho {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Rfho > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___6Rfho > :global(.__wab_flex-container) > *,
  .freeBox___6Rfho > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___6Rfho > :global(.__wab_flex-container) > picture > img,
  .freeBox___6Rfho
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__xro0B:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rzdr {
    padding-right: 49px;
  }
}
.svg___3A6Ji {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp___8TmHa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__e0Dds {
    max-width: 302px;
    width: 100%;
    min-width: 0;
  }
}
.svg__rm3Vf {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__b0Qka:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__vq0Hk {
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vq0Hk {
    max-width: 305px;
    width: 100%;
    padding-bottom: 0px;
    min-width: 0;
  }
}
.svg__r05I {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.freeBox__xbJiN {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__xbJiN > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__xbJiN > :global(.__wab_flex-container) > *,
.freeBox__xbJiN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xbJiN > :global(.__wab_flex-container) > picture > img,
.freeBox__xbJiN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xbJiN {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xbJiN > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xbJiN > :global(.__wab_flex-container) > *,
  .freeBox__xbJiN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xbJiN > :global(.__wab_flex-container) > picture > img,
  .freeBox__xbJiN
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp___4Y5F6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__m5Mu9 {
    margin-right: 0px;
    max-width: 306px;
    width: 100%;
    min-width: 0;
  }
}
.svg___2YBg {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text___4UpxD {
  height: auto;
}
.valueProp__zLhDo:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__h3QnU {
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__h3QnU {
    max-width: 310px;
    width: 100%;
    padding-left: 0px;
    min-width: 0;
  }
}
.svg__kF83 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__loyWh:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fxoVt {
    max-width: 312px;
    width: 100%;
    min-width: 0;
  }
}
.svg__gRzFy {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-n7nA62H27xPU);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__ysIsj {
  flex-direction: column;
  display: flex;
}
.freeBox__ysIsj > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ysIsj > :global(.__wab_flex-container) > *,
.freeBox__ysIsj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ysIsj > :global(.__wab_flex-container) > picture > img,
.freeBox__ysIsj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__s7QfZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__jp7Mf {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__m4Dm2 {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-left: 0px;
}
.freeBox__bm0Kh {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__bm0Kh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__bm0Kh > :global(.__wab_flex-container) > *,
.freeBox__bm0Kh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bm0Kh > :global(.__wab_flex-container) > picture > img,
.freeBox__bm0Kh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__mZsGm {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__mZsGm > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__mZsGm > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__mZsGm > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__mZsGm > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__mZsGm > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__mZsGm > :global(.__wab_flex-container) > *,
.columns__mZsGm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__mZsGm > :global(.__wab_flex-container) > picture > img,
.columns__mZsGm
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mZsGm {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mZsGm > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mZsGm > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mZsGm > :global(.__wab_flex-container) > *,
  .columns__mZsGm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__mZsGm > :global(.__wab_flex-container) > picture > img,
  .columns__mZsGm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column___4BvNo {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__m1E8W:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__ewbdd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__kxxn9 {
  padding-left: 0px;
}
.column__hVnJf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__y7Iix:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___0Eoz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__tbVcr {
  padding-left: 0px;
}
.column___9U5R9 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__x5Kwr:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__hvtzm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__hzbh0 {
  padding-left: 0px;
}
.column___4VIez {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__ieejF:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__fXoHe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text___821Fq {
  padding-left: 0px;
}
.columns__tPTt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__tPTt > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__tPTt > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tPTt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tPTt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__tbOyc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___7Pw6B:global(.__wab_instance) {
  position: relative;
}
.svg__faN4J {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__oCuPg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__w6PBw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link {
  position: relative;
}
.freeBox___8ZCkT {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox___8ZCkT > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___8ZCkT > :global(.__wab_flex-container) > *,
.freeBox___8ZCkT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8ZCkT > :global(.__wab_flex-container) > picture > img,
.freeBox___8ZCkT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8ZCkT {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__edd3O {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__edd3O > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__edd3O > :global(.__wab_flex-container) > *,
.freeBox__edd3O > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__edd3O > :global(.__wab_flex-container) > picture > img,
.freeBox__edd3O
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox___8Rvuk {
  flex-direction: column;
  display: flex;
}
.freeBox___8Rvuk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___8Rvuk > :global(.__wab_flex-container) > *,
.freeBox___8Rvuk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Rvuk > :global(.__wab_flex-container) > picture > img,
.freeBox___8Rvuk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__qYFk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__xxDhW {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xxDhW {
    text-align: center;
  }
}
.text__gxpeQ {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__vtpB {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__vtpB > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__vtpB > :global(.__wab_flex-container) > *,
.freeBox__vtpB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vtpB > :global(.__wab_flex-container) > picture > img,
.freeBox__vtpB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vtpB {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vtpB > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vtpB > :global(.__wab_flex-container) > *,
  .freeBox__vtpB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__vtpB > :global(.__wab_flex-container) > picture > img,
  .freeBox__vtpB
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__kbKyq:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__l9Dy7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tHrZg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__muGj5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lOy2O {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__aMLvk {
  height: auto;
}
.priceCard__fIhYa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__doZ7B {
  color: var(--token-dPpkVE5bFb5j);
}
.valueProp___6BdqE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dHYsH {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yuEoS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ruCzQ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__x6Xux:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__iuimI {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__dKsUe {
  height: auto;
}
.priceCard__f8Dv5:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__uJxUx {
  color: var(--token-pTKH6-tH8_-f);
}
.valueProp__iqiot:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wXfsi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__vd8AV:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xOud1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bXfxm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__pe0Jm {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ipej:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__b9J5R {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__gaPL {
  height: auto;
}
.priceCard___6HDjg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___93AKv {
  color: var(--token-XtMYfNHa74Tv);
}
.valueProp__gIGse:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dpVaA {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__xo6Lk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gy3Bk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kx9Lm:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__b36G {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___0EluE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___4FkOm {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___0Z4J {
  height: auto;
}
.habistackFooter:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
