.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__t9Fd0 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__t9Fd0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__t9Fd0 > :global(.__wab_flex-container) > *,
.freeBox__t9Fd0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__t9Fd0 > :global(.__wab_flex-container) > picture > img,
.freeBox__t9Fd0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__t9Fd0 {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__ob6Aw {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.text__sQy3S {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__ch6I {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ch6I > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__ch6I > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ch6I {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ch6I > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jYLcN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___0V0KA:global(.__wab_instance) {
  position: relative;
}
.svg___2D8Mp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__poAuo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__sQbX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__ga7KS {
  position: relative;
  text-decoration-line: underline;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___0WLbl {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox___0WLbl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0WLbl > :global(.__wab_flex-container) > *,
.freeBox___0WLbl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0WLbl > :global(.__wab_flex-container) > picture > img,
.freeBox___0WLbl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__axpVj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2___5UQFx {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  text-align: center;
}
.text__ncIYd {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: center;
  line-height: 28px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__oq7He:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__a6IKr {
  height: auto;
  padding-bottom: 0px;
  max-width: 245px;
  width: 100%;
  min-width: 0;
}
.link__uGuJw {
  display: flex;
}
.text__tQvg {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  text-align: left;
  font-weight: 700;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg__whf4V {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__snUkk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__tyZv1 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__pspMy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__d7OZu {
  padding-bottom: 0px;
  max-width: 245px;
  width: 100%;
  min-width: 0;
}
.link__gXbDf {
  display: flex;
  font-weight: 700;
}
.text___0D9Zy {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  padding-left: 0px;
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg__xh5Xe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___3PtV0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___5Qrk {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__xeVvE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__zaoyr {
  padding-bottom: 0px;
  max-width: 234px;
  width: 100%;
  min-width: 0;
}
.link__yqV4L {
  display: flex;
}
.text__nrnh3 {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  font-weight: 700;
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg__xiC37 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__h7A4U {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__y6Ybg {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__zUHoo {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__p2NTv {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  height: auto;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  padding-top: 0px;
  min-width: 0;
}
.columns___7M9On {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns___7M9On > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___7M9On > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7M9On {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7M9On > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__h1Bni {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__tvymk:global(.__wab_instance) {
  position: relative;
}
.svg__lzqEv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___9TVip {
  height: auto;
}
.svg__aRmzu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__a20Vb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 21px;
}
.link__ihMgO {
  display: flex;
  font-weight: 700;
}
.text__cx9Lv {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
}
.button__jsB55:global(.__wab_instance) {
  display: none;
}
.svg__jVvki {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__fSuAr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-n7nA62H27xPU);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__y68E9 {
  flex-direction: column;
  display: flex;
}
.freeBox__y68E9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__y68E9 > :global(.__wab_flex-container) > *,
.freeBox__y68E9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__y68E9 > :global(.__wab_flex-container) > picture > img,
.freeBox__y68E9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__nRqqh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2___6XTeq {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__t4Fhn {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-top: 0px;
}
.freeBox__gyTcl {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__gyTcl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__gyTcl > :global(.__wab_flex-container) > *,
.freeBox__gyTcl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gyTcl > :global(.__wab_flex-container) > picture > img,
.freeBox__gyTcl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__qpKSp {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__qpKSp > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__qpKSp > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__qpKSp > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__qpKSp > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__qpKSp > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__qpKSp > :global(.__wab_flex-container) > *,
.columns__qpKSp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__qpKSp > :global(.__wab_flex-container) > picture > img,
.columns__qpKSp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qpKSp {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qpKSp > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qpKSp > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qpKSp > :global(.__wab_flex-container) > *,
  .columns__qpKSp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__qpKSp > :global(.__wab_flex-container) > picture > img,
  .columns__qpKSp
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__xzy9R {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___1BmfI:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__qrdbx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text___5C4V {
  padding-left: 0px;
}
.column__vc9Xy {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__jQqDe:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___3Ncuj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text___54NB {
  padding-left: 0px;
}
.column___2TAy {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__eV8T:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__lKgQv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__m82Y2 {
  padding-left: 0px;
}
.column__rY5Lb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__qtudK:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__smgVf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text___9Nm8H {
  padding-left: 0px;
}
.freeBox__op8CK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 355px;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.button__v1Kaa:global(.__wab_instance) {
  position: relative;
}
.svg__aF7HF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__nGcRf {
  height: auto;
  text-align: left;
}
.svg__zUCpN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__hmdGq {
  position: relative;
}
.columns__fVRfg {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__fVRfg > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__fVRfg > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fVRfg {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__fVRfg > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__xzcuo {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.column__mTjMs {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__xWp5 {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__xWp5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__xWp5 > :global(.__wab_flex-container) > *,
.freeBox__xWp5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xWp5 > :global(.__wab_flex-container) > picture > img,
.freeBox__xWp5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xWp5 {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__gzRk {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__gzRk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__gzRk > :global(.__wab_flex-container) > *,
.freeBox__gzRk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gzRk > :global(.__wab_flex-container) > picture > img,
.freeBox__gzRk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__cuPz {
  flex-direction: column;
  display: flex;
}
.freeBox__cuPz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__cuPz > :global(.__wab_flex-container) > *,
.freeBox__cuPz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cuPz > :global(.__wab_flex-container) > picture > img,
.freeBox__cuPz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__gGkhH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__x4Nrr {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__x4Nrr {
    text-align: center;
  }
}
.text___6UZ90 {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox___80Tpv {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___80Tpv > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___80Tpv > :global(.__wab_flex-container) > *,
.freeBox___80Tpv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___80Tpv > :global(.__wab_flex-container) > picture > img,
.freeBox___80Tpv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___80Tpv {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___80Tpv > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___80Tpv > :global(.__wab_flex-container) > *,
  .freeBox___80Tpv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___80Tpv > :global(.__wab_flex-container) > picture > img,
  .freeBox___80Tpv
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__uay0K:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__gg8E6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__v2Wp {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__djFae:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tYps5 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__w9Fp9 {
  height: auto;
}
.priceCard___3B6MW:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__ct6S4 {
  color: var(--token-dPpkVE5bFb5j);
}
.valueProp___8QfPy:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nt0On {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___1Pctf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__a3BFt {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kv6G4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vrykN {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__evai9 {
  height: auto;
}
.priceCard__ypN5C:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__xs5Qj {
  color: var(--token-pTKH6-tH8_-f);
}
.valueProp__oGek:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__wdi9I {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__oepPk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sKpN9 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__p57N5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nKm9T {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___4DcRn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kd5Io {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__yjSdp {
  height: auto;
}
.priceCard__oNMy:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___63Uia {
  color: var(--token-XtMYfNHa74Tv);
}
.valueProp__mGHtP:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nfD38 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kQaEt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dqEo {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__onnQc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hcBYw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__f74Vb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__xPwua {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__pmIos {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
