.root {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 400px;
  background: var(--token-nXWKqet0fltC);
  position: relative;
  border-radius: 16px;
}
.rootprimary {
  border: 4px solid var(--token-pTKH6-tH8_-f);
}
.rootborders_flatLeft {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.rootborders_flatRight {
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.freeBox__yvxQx {
  flex-direction: column;
  display: flex;
  position: relative;
  padding: 32px;
}
.freeBox__yvxQx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yvxQx > :global(.__wab_flex-container) > *,
.freeBox__yvxQx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yvxQx > :global(.__wab_flex-container) > picture > img,
.freeBox__yvxQx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__plYmx {
  display: flex;
  flex-direction: row;
}
.freeBox___5GRKo {
  display: flex;
  position: relative;
}
.slotTargetLabel {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.freeBox__lkElX {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__lkElX > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__lkElX > :global(.__wab_flex-container) > *,
.freeBox__lkElX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lkElX > :global(.__wab_flex-container) > picture > img,
.freeBox__lkElX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__vf2Yp {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__weZx {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: var(--token-Gh2swhE2QtwV);
  width: auto;
}
.freeBox__hcnPg {
  display: flex;
  position: relative;
  width: auto;
}
.slotTargetDollars {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
.text___0Werw {
  line-height: 28px;
  color: var(--token-3btyuIOaZa0x);
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  height: auto;
}
.divider:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__vHry7 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: var(--token-tPMwc8PX0I8d);
  height: 100%;
  min-height: 0;
  padding: 32px;
}
.freeBox__vHry7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-height: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__vHry7 > :global(.__wab_flex-container) > *,
.freeBox__vHry7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vHry7 > :global(.__wab_flex-container) > picture > img,
.freeBox__vHry7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.svg__wu2Uh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__tkOLu {
  height: auto;
}
.svg__wMoAv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__yeub {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__yeub > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__yeub > :global(.__wab_flex-container) > *,
.freeBox__yeub > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yeub > :global(.__wab_flex-container) > picture > img,
.freeBox__yeub
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__m5P8H {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 336px;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 8px;
}
.valueProp__lPs2I:global(.__wab_instance) {
  width: 100%;
  max-width: 335px;
  min-width: 0;
}
.svg__c1Mpf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___5Wp1F:global(.__wab_instance) {
  width: 100%;
  max-width: 335px;
  min-width: 0;
}
.svg___5ZBtk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
