.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__iaEt7 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__iaEt7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__iaEt7 > :global(.__wab_flex-container) > *,
.freeBox__iaEt7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iaEt7 > :global(.__wab_flex-container) > picture > img,
.freeBox__iaEt7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iaEt7 {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.reveal__qpegX:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__xYbnc {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.reveal__qPdp6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__t1Px {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.reveal__qxMe9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 640px;
  max-height: 100%;
  max-width: 100%;
  position: relative;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns___3IKKx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___3IKKx > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___3IKKx > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3IKKx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___3IKKx > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___1ZiQw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__qwIde:global(.__wab_instance) {
  position: relative;
}
.svg__oqDt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__zzBDm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__uo6Us {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__yylwt {
  position: relative;
  text-decoration-line: underline;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.reveal__uOukR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__sI9D5 {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox__sI9D5 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sI9D5 > :global(.__wab_flex-container) > *,
.freeBox__sI9D5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sI9D5 > :global(.__wab_flex-container) > picture > img,
.freeBox__sI9D5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__xvVmD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__fCrpV {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  text-align: center;
}
.text__dwkUh {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: center;
  line-height: 28px;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.reveal__eqFvW:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp__gclpD:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__dSVs {
  height: auto;
  padding-bottom: 0px;
  max-width: 245px;
  width: 100%;
  min-width: 0;
}
.link__uGuJw {
  display: flex;
}
.text__tQvg {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  text-align: left;
  font-weight: 700;
}
.button__orvOt:global(.__wab_instance) {
  display: none;
}
.svg___2ZGd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__xuvVl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__w9NVw {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.reveal__tqnQ2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp__tfk4R:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___7TuNa {
  padding-bottom: 0px;
  max-width: 245px;
  width: 100%;
  min-width: 0;
}
.link__gXbDf {
  display: flex;
  font-weight: 700;
}
.text___0D9Zy {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  padding-left: 0px;
}
.button__jc7Vf:global(.__wab_instance) {
  display: none;
}
.svg__ea5H0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__si3Gg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___2H75V {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.reveal__aYb6M:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.valueProp___9Hsl1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__mKwsd {
  padding-bottom: 0px;
  max-width: 234px;
  width: 100%;
  min-width: 0;
}
.link__yqV4L {
  display: flex;
}
.text__nrnh3 {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
  font-weight: 700;
}
.button__tcixz:global(.__wab_instance) {
  display: none;
}
.svg__z8A6N {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__nHadj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__sqVO {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.banner:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__zJ1Ru {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.reveal__wb0Ak:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__p2NTv {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  height: auto;
}
.text__ciVwm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-right: 0px;
  margin-right: 0px;
  font-size: 18px;
  padding-top: 0px;
  min-width: 0;
}
.columns___7M9On {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 8px;
}
.columns___7M9On > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___7M9On > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7M9On {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___7M9On > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__h1Bni {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button___4IE1A:global(.__wab_instance) {
  position: relative;
}
.svg___8PjtW {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___9QmZp {
  height: auto;
}
.svg__uWko0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__a20Vb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 8px 21px;
}
.link__ihMgO {
  display: flex;
  font-weight: 700;
}
.text__cx9Lv {
  height: auto;
  width: auto;
  color: var(--token-vImgGkP7257E);
}
.button__uedFo:global(.__wab_instance) {
  display: none;
}
.svg__mtg5O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__yoRow {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-n7nA62H27xPU);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__odUlw {
  flex-direction: column;
  display: flex;
}
.freeBox__odUlw > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__odUlw > :global(.__wab_flex-container) > *,
.freeBox__odUlw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__odUlw > :global(.__wab_flex-container) > picture > img,
.freeBox__odUlw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__eEuC4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.reveal__ojadh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2__hPu6 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__kqDAb {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  padding-bottom: 0px;
  padding-top: 0px;
}
.freeBox__uAeoz {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__uAeoz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__uAeoz > :global(.__wab_flex-container) > *,
.freeBox__uAeoz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uAeoz > :global(.__wab_flex-container) > picture > img,
.freeBox__uAeoz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__cMcdT {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__cMcdT > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__cMcdT > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__cMcdT > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__cMcdT > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__cMcdT > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__cMcdT > :global(.__wab_flex-container) > *,
.columns__cMcdT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__cMcdT > :global(.__wab_flex-container) > picture > img,
.columns__cMcdT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cMcdT {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cMcdT > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cMcdT > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cMcdT > :global(.__wab_flex-container) > *,
  .columns__cMcdT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__cMcdT > :global(.__wab_flex-container) > picture > img,
  .columns__cMcdT
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column___8VXkX {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__p9Toj:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__siZv8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__rmn6G {
  padding-left: 0px;
}
.column__iqYng {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__aGpFu:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__qLoJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__n58Pc {
  padding-left: 0px;
}
.column__qmD8J {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__cPtsE:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__xkuKm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text___0KYdn {
  padding-left: 0px;
}
.column__mvAvO {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__avyhR:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__rkB3D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text___1EgRg {
  padding-left: 0px;
}
.freeBox__mHfBf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 355px;
  height: auto;
  max-width: 100%;
  background: none;
  padding: 8px;
}
.button__x8LqL:global(.__wab_instance) {
  position: relative;
}
.svg__jv5Lt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__v6XxD {
  height: auto;
  text-align: left;
}
.svg__egHw {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__beO3F {
  position: relative;
}
.columns__lwiU5 {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__lwiU5 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__lwiU5 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lwiU5 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lwiU5 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__mbKn1 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.column___0UBp4 {
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  display: none;
  padding: 8px;
}
.freeBox__wxhsI {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox__wxhsI > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__wxhsI > :global(.__wab_flex-container) > *,
.freeBox__wxhsI > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wxhsI > :global(.__wab_flex-container) > picture > img,
.freeBox__wxhsI
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wxhsI {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox___7KHx7 {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox___7KHx7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox___7KHx7 > :global(.__wab_flex-container) > *,
.freeBox___7KHx7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___7KHx7 > :global(.__wab_flex-container) > picture > img,
.freeBox___7KHx7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__lfXkt {
  flex-direction: column;
  display: flex;
}
.freeBox__lfXkt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lfXkt > :global(.__wab_flex-container) > *,
.freeBox__lfXkt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lfXkt > :global(.__wab_flex-container) > picture > img,
.freeBox__lfXkt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___5HfC8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__saPl7 {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__saPl7 {
    text-align: center;
  }
}
.text__mz1Pi {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox___64XOz {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___64XOz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___64XOz > :global(.__wab_flex-container) > *,
.freeBox___64XOz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___64XOz > :global(.__wab_flex-container) > picture > img,
.freeBox___64XOz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___64XOz {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___64XOz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___64XOz > :global(.__wab_flex-container) > *,
  .freeBox___64XOz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___64XOz > :global(.__wab_flex-container) > picture > img,
  .freeBox___64XOz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__ktYIs:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp___9Edc5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zT6T {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__djFae:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jaqfg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__utrE7 {
  height: auto;
}
.priceCard__aG2Gz:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___7Bqnx {
  color: var(--token-dPpkVE5bFb5j);
}
.valueProp__yud0T:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__nDcz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___1Pctf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__e3NG1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kv6G4:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___6Ea3B {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__hmXn4 {
  height: auto;
}
.priceCard__zsJox:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__kqq5L {
  color: var(--token-pTKH6-tH8_-f);
}
.valueProp__otQqI:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___9XRBr {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__oepPk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jlTng {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__p57N5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lGeds {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___4DcRn:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qaKzp {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text___70WbS {
  height: auto;
}
.priceCard__f1F5V:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__kygAa {
  color: var(--token-XtMYfNHa74Tv);
}
.valueProp__dL3Su:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__bIWeI {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kQaEt:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__btM96 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__onnQc:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7VC8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__f74Vb:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__qlvSp {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__v64R {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
