.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
  margin-left: 0px;
}
.freeBox__okr51 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: none;
  padding: 64px;
}
.freeBox__okr51 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__okr51 > :global(.__wab_flex-container) > *,
.freeBox__okr51 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__okr51 > :global(.__wab_flex-container) > picture > img,
.freeBox__okr51
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__okr51 {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.reveal___6VzfR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__styzw {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
  text-align: center;
}
.reveal__dTuo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__niyH8 {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.reveal___0GndM:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 564px;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    height: 256px;
  }
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__r4Qik {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__r4Qik > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__r4Qik > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__r4Qik {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__r4Qik > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dv5KU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__uhf4E:global(.__wab_instance) {
  position: relative;
}
.svg__dLzE2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___9IzGc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__i1YYg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__gvDlt {
  position: relative;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-n7nA62H27xPU);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__sa7Zz {
  flex-direction: column;
  display: flex;
}
.freeBox__sa7Zz > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sa7Zz > :global(.__wab_flex-container) > *,
.freeBox__sa7Zz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sa7Zz > :global(.__wab_flex-container) > picture > img,
.freeBox__sa7Zz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___8SRl2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.reveal__nSkEz:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  padding-left: 0px;
}
.text__ohC8K {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
  margin-bottom: 0px;
  align-self: center;
}
.freeBox__xlWo {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__xlWo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__xlWo > :global(.__wab_flex-container) > *,
.freeBox__xlWo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xlWo > :global(.__wab_flex-container) > picture > img,
.freeBox__xlWo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns__ypDt {
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
}
.columns__ypDt > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns__ypDt > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__ypDt > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__ypDt > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__ypDt > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns__ypDt > :global(.__wab_flex-container) > *,
.columns__ypDt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ypDt > :global(.__wab_flex-container) > picture > img,
.columns__ypDt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ypDt {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ypDt > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ypDt > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ypDt > :global(.__wab_flex-container) > *,
  .columns__ypDt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ypDt > :global(.__wab_flex-container) > picture > img,
  .columns__ypDt
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__ylM0J {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__pHr:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__vGd56 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__oRllX {
  padding-left: 0px;
}
.column__jgqra {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__s4Xj3:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__yR5M3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__yAskf {
  padding-left: 0px;
}
.column__ao9BA {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__pq6Gp:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg___4EtIr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__vzu1K {
  padding-left: 0px;
}
.column__b4MD {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__cpINe:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__k32OE {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-nXWKqet0fltC);
  width: 28px;
  height: 28px;
}
.text__cUkbe {
  padding-left: 0px;
}
.columns__wirN0 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__wirN0 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__wirN0 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wirN0 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wirN0 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__f5S2H {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.button__dTohK:global(.__wab_instance) {
  position: relative;
}
.svg__h218W {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__x4OjO {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__zzDuE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.link__spQ78 {
  position: relative;
}
.freeBox___2Bfw {
  flex-direction: column;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  display: none;
  padding: 64px;
}
.freeBox___2Bfw > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox___2Bfw > :global(.__wab_flex-container) > *,
.freeBox___2Bfw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2Bfw > :global(.__wab_flex-container) > picture > img,
.freeBox___2Bfw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___2Bfw {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__goaFh {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__goaFh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__goaFh > :global(.__wab_flex-container) > *,
.freeBox__goaFh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__goaFh > :global(.__wab_flex-container) > picture > img,
.freeBox__goaFh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__hSvy {
  flex-direction: column;
  display: flex;
}
.freeBox__hSvy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__hSvy > :global(.__wab_flex-container) > *,
.freeBox__hSvy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hSvy > :global(.__wab_flex-container) > picture > img,
.freeBox__hSvy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__hzm0K {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__hUHzl {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hUHzl {
    text-align: center;
  }
}
.text__n8NrV {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox__bo1W1 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__bo1W1 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__bo1W1 > :global(.__wab_flex-container) > *,
.freeBox__bo1W1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bo1W1 > :global(.__wab_flex-container) > picture > img,
.freeBox__bo1W1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bo1W1 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bo1W1 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bo1W1 > :global(.__wab_flex-container) > *,
  .freeBox__bo1W1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__bo1W1 > :global(.__wab_flex-container) > picture > img,
  .freeBox__bo1W1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__ibRSx:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__moNl0:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__kATd5 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__hZlOj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rDg2E {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__yF65J {
  height: auto;
}
.priceCard__idLpU:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__huvo4 {
  color: var(--token-dPpkVE5bFb5j);
}
.valueProp__tcGwE:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__t0Tfl {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__dNvG1:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__lk4I9 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__hBEa:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__w4FNo {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__lODlo {
  height: auto;
}
.priceCard__u32DW:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__y5Egr {
  color: var(--token-pTKH6-tH8_-f);
}
.valueProp___5CEtP:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7Tlo5 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___7Z4Lg:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__rVoKz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___9KLQw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__jTo {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__mFeo7:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__hBaEq {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__v0McP {
  height: auto;
}
.priceCard__n9QYy:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___9DweK {
  color: var(--token-XtMYfNHa74Tv);
}
.valueProp__rztej:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___4VLAz {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__oXzu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uYl3N {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__fb8PN:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tjnai {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__sIdK8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__whTj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__zkvqJ {
  height: auto;
}
.fathymFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
