.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background: linear-gradient(#ffffff80, #ffffff80),
    url("/plasmic/new_fathym_com/images/wavey.png") top 50% left 50% / cover repeat;
  padding: 0px 32px 64px;
}
.headerHeroSection > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.headerHeroSection > :global(.__wab_flex-container) > *,
.headerHeroSection > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.headerHeroSection > :global(.__wab_flex-container) > picture > img,
.headerHeroSection
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .headerHeroSection {
    padding-left: 7px;
    padding-right: 7px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .navbar:global(.__wab_instance) {
    margin-left: 0px;
    max-width: 419px;
    width: 100%;
    min-width: 0;
  }
}
.columns__wKphM {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-_lqAwWtqgIF3);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns__wKphM > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns__wKphM > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__wKphM > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns__wKphM > :global(.__wab_flex-container) > *,
.columns__wKphM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__wKphM > :global(.__wab_flex-container) > picture > img,
.columns__wKphM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wKphM {
    width: 100%;
    height: auto;
    flex-direction: row;
    margin-top: calc(0px + 64px) !important;
    max-width: 378px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wKphM > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wKphM > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__wKphM > :global(.__wab_flex-container) > *,
  .columns__wKphM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__wKphM > :global(.__wab_flex-container) > picture > img,
  .columns__wKphM
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__pnJkM {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__g9OT7 {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__g9OT7 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__g9OT7 > :global(.__wab_flex-container) > *,
.freeBox__g9OT7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g9OT7 > :global(.__wab_flex-container) > picture > img,
.freeBox__g9OT7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__byo3C {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox__byo3C > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__byo3C > :global(.__wab_flex-container) > *,
.freeBox__byo3C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__byo3C > :global(.__wab_flex-container) > picture > img,
.freeBox__byo3C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox___25SQw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  height: auto;
}
.text__aRe94 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--token-3btyuIOaZa0x);
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 8px;
  background: #ffffff;
}
.text___9L6Z8 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-Gh2swhE2QtwV);
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___9L6Z8 {
    text-align: center;
  }
}
.text___96MzJ {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  line-height: 28px;
  margin-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___96MzJ {
    text-align: center;
  }
}
.freeBox__ko75B {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__ko75B > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__ko75B > :global(.__wab_flex-container) > *,
.freeBox__ko75B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ko75B > :global(.__wab_flex-container) > picture > img,
.freeBox__ko75B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__qhYkb:global(.__wab_instance) {
  position: relative;
}
.svg__vz8Dy {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__d74D {
  height: auto;
}
.svg__dUjRk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ynVlc:global(.__wab_instance) {
  position: relative;
}
.svg___5IhK1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__tzQw {
  height: auto;
  font-weight: 400;
}
.svg__hVlNl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__jMht7 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.img___9MwKm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___9MwKm > picture > img {
  object-fit: cover;
}
.img___9MwKm > .__wab_img-spacer > img {
  object-fit: cover;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__kO3Mc {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  margin-top: 64px;
}
.freeBox__kO3Mc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__kO3Mc > :global(.__wab_flex-container) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
.freeBox__kO3Mc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kO3Mc > :global(.__wab_flex-container) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kO3Mc > :global(.__wab_flex-container) > picture > img,
  .freeBox__kO3Mc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.freeBox__gqRpN {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  height: auto;
}
.freeBox__gqRpN > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gqRpN > :global(.__wab_flex-container) > *,
.freeBox__gqRpN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gqRpN > :global(.__wab_flex-container) > picture > img,
.freeBox__gqRpN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__iGrkH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2__bQqKl {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
}
.text__pwywb {
  font-size: 20px;
  color: var(--token-3btyuIOaZa0x);
  text-align: center;
  line-height: 28px;
}
.freeBox__nuOoY {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__nuOoY > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox__nuOoY > :global(.__wab_flex-container) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
.freeBox__nuOoY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nuOoY > :global(.__wab_flex-container) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__nuOoY > :global(.__wab_flex-container) > picture > img,
  .freeBox__nuOoY
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__vEm5T:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xyFkF {
    padding-right: 49px;
  }
}
.svg__l0C6Y {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__vTlWs:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hD4Sl {
    max-width: 302px;
    width: 100%;
    min-width: 0;
  }
}
.svg__hBcu {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__eJoXj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__xfEoa {
  padding-bottom: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xfEoa {
    max-width: 305px;
    width: 100%;
    min-width: 0;
  }
}
.svg__u0Hd6 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.freeBox___1OEyf {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___1OEyf > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.freeBox___1OEyf > :global(.__wab_flex-container) > *,
.freeBox___1OEyf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___1OEyf > :global(.__wab_flex-container) > picture > img,
.freeBox___1OEyf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1OEyf {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1OEyf > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 48px);
    width: calc(100% + 48px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___1OEyf > :global(.__wab_flex-container) > *,
  .freeBox___1OEyf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___1OEyf > :global(.__wab_flex-container) > picture > img,
  .freeBox___1OEyf
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 48px;
    margin-top: 24px;
  }
}
.valueProp__pSv2:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__uwWlb {
    margin-right: 0px;
    max-width: 306px;
    width: 100%;
    min-width: 0;
  }
}
.svg__bHpeT {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.text__tasdK {
  height: auto;
}
.valueProp__qWwlD:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__kptgf {
  padding-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kptgf {
    max-width: 310px;
    width: 100%;
    min-width: 0;
  }
}
.svg__cCni9 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__l1Xxd:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__aEHd {
    max-width: 312px;
    width: 100%;
    min-width: 0;
  }
}
.svg__fxWb {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns___2LEpk {
  flex-direction: row;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns___2LEpk > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns___2LEpk > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns___2LEpk > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 64px) * 6 / 12);
}
.columns___2LEpk > :global(.__wab_flex-container) > *,
.columns___2LEpk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___2LEpk > :global(.__wab_flex-container) > picture > img,
.columns___2LEpk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2LEpk {
    max-width: var(--token-_lqAwWtqgIF3);
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2LEpk > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 64px);
    width: calc(100% + 64px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2LEpk > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___2LEpk > :global(.__wab_flex-container) > *,
  .columns___2LEpk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns___2LEpk > :global(.__wab_flex-container) > picture > img,
  .columns___2LEpk
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 64px;
    margin-top: 64px;
  }
}
.column___3OmCe {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__nx643 {
  flex-direction: column;
  display: flex;
  width: 100%;
  min-width: 0;
}
.freeBox__nx643 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nx643 > :global(.__wab_flex-container) > *,
.freeBox__nx643 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nx643 > :global(.__wab_flex-container) > picture > img,
.freeBox__nx643
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__pw0B {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-ZRWHIKQtuwzd);
}
.h2__ouT6I {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Lti9oswZ1DWR);
  line-height: 1;
}
.text__bwMw5 {
  font-size: 20px;
  color: var(--token-truO5x1pubEB);
  line-height: 28px;
  height: auto;
}
.button__uo0B:global(.__wab_instance) {
  position: relative;
}
.svg___5Uq0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__yFnfr {
  color: var(--token-Ly8-quLqNjbX);
}
.svg__xxeu0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-Ly8-quLqNjbX);
}
.column__nD9Cb {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__yewr {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__oNfH6:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__oNfH6:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__u7Ljx {
  color: var(--token-Lti9oswZ1DWR);
}
.svg___4SNqU {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-ZRWHIKQtuwzd);
}
.listItem__aBan:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__hXc9N {
  color: var(--token-Lti9oswZ1DWR);
}
.svg__eZaua {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-ZRWHIKQtuwzd);
}
.listItem__luXaV:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__nC1T {
  height: auto;
  color: var(--token-Lti9oswZ1DWR);
}
.svg___7QErx {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-ZRWHIKQtuwzd);
}
.listItem__i5DAi:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__vjxFf {
  height: auto;
  color: var(--token-Lti9oswZ1DWR);
}
.svg__zSzXb {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-ZRWHIKQtuwzd);
}
.listItem__rRgXs:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__iJLnI {
  height: auto;
  color: var(--token-Lti9oswZ1DWR);
}
.svg___9YgIb {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-ZRWHIKQtuwzd);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
  display: flex;
}
.freeBox__isBzs {
  flex-direction: column;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  top: auto;
  left: auto;
}
.freeBox__isBzs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__isBzs > :global(.__wab_flex-container) > *,
.freeBox__isBzs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__isBzs > :global(.__wab_flex-container) > picture > img,
.freeBox__isBzs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__isBzs {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    position: relative;
    flex-direction: column;
    top: auto;
    left: auto;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__isBzs > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__isBzs > :global(.__wab_flex-container) > *,
  .freeBox__isBzs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__isBzs > :global(.__wab_flex-container) > picture > img,
  .freeBox__isBzs
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__sutpy {
  flex-direction: column;
  display: flex;
}
.freeBox__sutpy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__sutpy > :global(.__wab_flex-container) > *,
.freeBox__sutpy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sutpy > :global(.__wab_flex-container) > picture > img,
.freeBox__sutpy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__aHxC {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text___8DnmW {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Lti9oswZ1DWR);
  line-height: 1;
}
.text__m1Cdo {
  font-size: 20px;
  color: var(--token-truO5x1pubEB);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.button__i0LNw:global(.__wab_instance) {
  position: relative;
}
.svg__eolmV {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__scUsI {
  padding-left: 0px;
}
.svg__ui5Q {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.columns__shNq7 {
  flex-direction: row;
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__shNq7 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
}
.columns__shNq7 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__shNq7 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__shNq7 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__shNq7 {
    flex-direction: row;
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__shNq7 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__shNq7 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__shNq7 > :global(.__wab_flex-container) > *,
  .columns__shNq7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__shNq7 > :global(.__wab_flex-container) > picture > img,
  .columns__shNq7
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column___4ARb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__pelfy:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__pelfy:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__uz4Q:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uTrdP {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___6Ifyf:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ndXqt {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__o8IsP:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg___7NbO {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__j6HN:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uViU6 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__iFaWu {
  height: auto;
}
.column__fJc2B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__v39Ei:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__l28HD:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__xlpZn {
  padding-right: 0px;
}
.svg__vmgyn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__htJ3J:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__cy1Te {
  height: auto;
}
.svg__bcQmM {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__q1Kxp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__aorDm {
  padding-left: 0px;
}
.svg__hl1Bk {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__os7V3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__yoLQd {
  height: auto;
  padding-left: 0px;
}
.svg__r6BpP {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__nkd24:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__eu9Zq {
  height: auto;
  padding-left: 0px;
}
.svg__uzcI3 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__nm25W:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text___1V4Fl {
  height: auto;
  padding-left: 0px;
}
.svg__a7Hw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__anJd5 {
  height: auto;
}
.column__fVRz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__ruQ4G:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__ruQ4G:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__o58Sx {
  width: auto;
}
.valueProp__hRqGu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__vlb5M {
  padding-left: 0px;
}
.svg__eE8Qf {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__uPlvp:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__s9B3H {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__prZEj:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__gubU1 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__p9Hdo {
  height: auto;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__kRwYx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.freeBox__kRwYx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__kRwYx > :global(.__wab_flex-container) > *,
.freeBox__kRwYx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kRwYx > :global(.__wab_flex-container) > picture > img,
.freeBox__kRwYx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kRwYx {
    position: relative;
  }
}
.freeBox__g6Buz {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__g6Buz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__g6Buz > :global(.__wab_flex-container) > *,
.freeBox__g6Buz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g6Buz > :global(.__wab_flex-container) > picture > img,
.freeBox__g6Buz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g6Buz {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g6Buz > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__g6Buz > :global(.__wab_flex-container) > *,
  .freeBox__g6Buz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__g6Buz > :global(.__wab_flex-container) > picture > img,
  .freeBox__g6Buz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .banner__ny58A:global(.__wab_instance) {
    max-width: 359px;
    width: 100%;
    min-width: 0;
  }
}
.text__xluvF {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__sN2VP {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  height: auto;
}
.text__elnSi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 20px;
}
.svg__bC4K {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__acUSm {
  height: auto;
  width: auto;
}
.svg__ky1Fn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner__gwHsw:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .banner__gwHsw:global(.__wab_instance) {
    max-width: 359px;
    width: 100%;
    min-width: 0;
  }
}
.text__w7A53 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__dBNjp {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  height: auto;
}
.text__cUowN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 20px;
  min-width: 0;
}
.svg__q0Egx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__jnEe3 {
  height: auto;
  width: auto;
}
.svg__faaj2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__akIiw {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__akIiw > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__akIiw > :global(.__wab_flex-container) > *,
.freeBox__akIiw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__akIiw > :global(.__wab_flex-container) > picture > img,
.freeBox__akIiw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__akIiw {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__akIiw > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__akIiw > :global(.__wab_flex-container) > *,
  .freeBox__akIiw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__akIiw > :global(.__wab_flex-container) > picture > img,
  .freeBox__akIiw
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .banner__mkNZh:global(.__wab_instance) {
    max-width: 359px;
    width: 100%;
    min-width: 0;
  }
}
.text__fq4NR {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__sN2VP {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  height: auto;
}
.text__elnSi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 0px;
}
.svg___7KBx3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__dlk5L {
  height: auto;
  width: auto;
}
.svg__pMeX6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner__zs06B:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .banner__zs06B:global(.__wab_instance) {
    max-width: 359px;
    width: 100%;
    min-width: 0;
  }
}
.text__qwGzh {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__dBNjp {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  height: auto;
}
.text__cUowN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 20px;
  min-width: 0;
}
.svg__pPMyB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__jseEx {
  height: auto;
  width: auto;
}
.svg__b5Vnj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__yzbyu {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 1920px;
  width: 100%;
  min-width: 0;
}
.freeBox__yzbyu > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__yzbyu > :global(.__wab_flex-container) > *,
.freeBox__yzbyu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yzbyu > :global(.__wab_flex-container) > picture > img,
.freeBox__yzbyu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yzbyu {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yzbyu > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yzbyu > :global(.__wab_flex-container) > *,
  .freeBox__yzbyu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yzbyu > :global(.__wab_flex-container) > picture > img,
  .freeBox__yzbyu
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .banner__dhUxY:global(.__wab_instance) {
    max-width: 359px;
    width: 100%;
    min-width: 0;
  }
}
.text__c7Q0Z {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__sN2VP {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  height: auto;
}
.text__elnSi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 20px;
}
.svg___8Tr3S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___4VPta {
  height: auto;
  width: auto;
}
.svg__z494Y {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner___3JPl:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .banner___3JPl:global(.__wab_instance) {
    max-width: 359px;
    width: 100%;
    min-width: 0;
  }
}
.text__f0Aj {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__dBNjp {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  height: auto;
}
.text__cUowN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 20px;
  min-width: 0;
}
.svg___6SCSq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ptSpx {
  height: auto;
  width: auto;
}
.svg__gvgn1 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.banner__gVWhn:global(.__wab_instance) {
  margin-right: 0px;
  margin-top: calc(0px + 32px) !important;
  margin-bottom: 0px;
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .banner__gVWhn:global(.__wab_instance) {
    margin-top: calc(0px + 32px) !important;
  }
}
.text__zGYf7 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__j0GnU {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Gh2swhE2QtwV);
  line-height: 1;
  height: auto;
  padding-bottom: 0px;
}
.text__rVxsW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 20px;
  min-width: 0;
}
.svg__jjvon {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ljDK {
  height: auto;
  width: auto;
}
.svg__qEHcq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox__me3Ag {
  flex-direction: row;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
}
.freeBox__me3Ag > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__me3Ag > :global(.__wab_flex-container) > *,
.freeBox__me3Ag > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__me3Ag > :global(.__wab_flex-container) > picture > img,
.freeBox__me3Ag
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 64px;
}
.img__va5U {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__va5U > picture > img {
  object-fit: cover;
}
.img__va5U > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__cjlZ6 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__cjlZ6 > picture > img {
  object-fit: cover;
}
.img__cjlZ6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__uhUp1 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__uhUp1 > picture > img {
  object-fit: cover;
}
.img__uhUp1 > .__wab_img-spacer > img {
  object-fit: cover;
}
.img__l2Shi {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__l2Shi > picture > img {
  object-fit: cover;
}
.img__l2Shi > .__wab_img-spacer > img {
  object-fit: cover;
}
.img___8Oy9K {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___8Oy9K > picture > img {
  object-fit: cover;
}
.img___8Oy9K > .__wab_img-spacer > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
  display: none;
}
.columns__kImvT {
  flex-direction: row;
  max-width: var(--token-_lqAwWtqgIF3);
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.columns__kImvT > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__kImvT > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__kImvT > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__kImvT > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__kImvT > :global(.__wab_flex-container) > *,
.columns__kImvT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kImvT > :global(.__wab_flex-container) > picture > img,
.columns__kImvT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kImvT {
    max-width: var(--token-_lqAwWtqgIF3);
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kImvT > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 32px);
    width: calc(100% + 32px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kImvT > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kImvT > :global(.__wab_flex-container) > *,
  .columns__kImvT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__kImvT > :global(.__wab_flex-container) > picture > img,
  .columns__kImvT
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 32px;
    margin-top: 32px;
  }
}
.column__x3I7B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__kqq0N:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__zvXzJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__pSEn:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__saXlP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__vr7Rq:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___6GQAz {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___0SpL {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___0SpL > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0SpL > :global(.__wab_flex-container) > *,
.freeBox___0SpL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0SpL > :global(.__wab_flex-container) > picture > img,
.freeBox___0SpL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__u2Kkz {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-Lti9oswZ1DWR);
}
.text__iNkTu {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-Lti9oswZ1DWR);
  line-height: 1;
}
.text__joLu8 {
  font-size: 20px;
  color: var(--token-truO5x1pubEB);
  line-height: 28px;
}
.freeBox__q7QsW {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__q7QsW > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__q7QsW > :global(.__wab_flex-container) > *,
.freeBox__q7QsW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q7QsW > :global(.__wab_flex-container) > picture > img,
.freeBox__q7QsW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__tyhOz:global(.__wab_instance) {
  position: relative;
}
.svg__in1Re {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg___3T2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__as2:global(.__wab_instance) {
  position: relative;
}
.svg__yGgYf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__arFo4 {
  height: auto;
  font-weight: 400;
}
.svg__veCgK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.habistackFooter:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
