@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Encode+Sans+Semi+Condensed%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-8fgRcA8MIWoy: rgb(234, 234, 234);
  --plasmic-token-divider: var(--token-8fgRcA8MIWoy);
  --token-P6AIK44GUcUa: rgb(255, 255, 255);
  --plasmic-token-white: var(--token-P6AIK44GUcUa);
  --token-qEtqsP0-AcEg: #666666;
  --plasmic-token-text: var(--token-qEtqsP0-AcEg);
  --token--_9hWElktusQ: 632px;
  --plasmic-token-max-content-width: var(--token--_9hWElktusQ);
}

.plasmic_default_styles {
  --mixin-ewwVZgjRjST9_font-family: "Inter";
  --mixin-ewwVZgjRjST9_font-size: 18px;
  --mixin-ewwVZgjRjST9_font-weight: 400;
  --mixin-ewwVZgjRjST9_font-style: normal;
  --mixin-ewwVZgjRjST9_color: var(--token-qEtqsP0-AcEg);
  --mixin-ewwVZgjRjST9_text-align: left;
  --mixin-ewwVZgjRjST9_text-transform: none;
  --mixin-ewwVZgjRjST9_line-height: 1.5;
  --mixin-ewwVZgjRjST9_letter-spacing: normal;
  --mixin-ewwVZgjRjST9_white-space: pre-wrap;
  --mixin-ewwVZgjRjST9_user-select: text;
  --mixin-ewwVZgjRjST9_text-decoration-line: none;
  --mixin-ewwVZgjRjST9_text-overflow: clip;
  --mixin-PBnW414n1_font-family: "Inter";
  --mixin-PBnW414n1_color: #000000;
  --mixin-PBnW414n1_font-size: 72px;
  --mixin-PBnW414n1_font-weight: 900;
  --mixin-PBnW414n1_letter-spacing: -4px;
  --mixin-PBnW414n1_line-height: 1;
  --mixin-YuA-l23dKy_font-family: "Inter";
  --mixin-YuA-l23dKy_color: #000000;
  --mixin-YuA-l23dKy_font-size: 48px;
  --mixin-YuA-l23dKy_font-weight: 700;
  --mixin-YuA-l23dKy_letter-spacing: -1px;
  --mixin-YuA-l23dKy_line-height: 1.1;
  --mixin-Iwl9HStoql_font-family: "Inter";
  --mixin-Iwl9HStoql_color: #000000;
  --mixin-Iwl9HStoql_font-size: 32px;
  --mixin-Iwl9HStoql_font-weight: 600;
  --mixin-Iwl9HStoql_letter-spacing: -0.8px;
  --mixin-Iwl9HStoql_line-height: 1.2;
  --mixin-56B3I_d9J0_font-family: "Inter";
  --mixin-56B3I_d9J0_color: #000000;
  --mixin-56B3I_d9J0_font-size: 24px;
  --mixin-56B3I_d9J0_font-weight: 600;
  --mixin-56B3I_d9J0_letter-spacing: -0.5px;
  --mixin-56B3I_d9J0_line-height: 1.3;
  --mixin-lerN-__foG_font-family: "Inter";
  --mixin-lerN-__foG_color: #000000;
  --mixin-lerN-__foG_font-size: 20px;
  --mixin-lerN-__foG_font-weight: 600;
  --mixin-lerN-__foG_letter-spacing: -0.3px;
  --mixin-lerN-__foG_line-height: 1.5;
  --mixin-WVUyB02BCO_font-family: "Inter";
  --mixin-WVUyB02BCO_color: #000000;
  --mixin-WVUyB02BCO_font-size: 16px;
  --mixin-WVUyB02BCO_font-weight: 600;
  --mixin-WVUyB02BCO_line-height: 1.5;
  --mixin-4FmTHjIIgu_border-left-color: #dddddd;
  --mixin-4FmTHjIIgu_border-left-style: solid;
  --mixin-4FmTHjIIgu_border-left-width: 3px;
  --mixin-4FmTHjIIgu_color: #888888;
  --mixin-4FmTHjIIgu_padding-left: 10px;
  --mixin-eBTNqdTCKU_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-eBTNqdTCKU_border-bottom-color: #dddddd;
  --mixin-eBTNqdTCKU_border-bottom-style: solid;
  --mixin-eBTNqdTCKU_border-bottom-width: 1px;
  --mixin-eBTNqdTCKU_border-left-color: #dddddd;
  --mixin-eBTNqdTCKU_border-left-style: solid;
  --mixin-eBTNqdTCKU_border-left-width: 1px;
  --mixin-eBTNqdTCKU_border-right-color: #dddddd;
  --mixin-eBTNqdTCKU_border-right-style: solid;
  --mixin-eBTNqdTCKU_border-right-width: 1px;
  --mixin-eBTNqdTCKU_border-top-color: #dddddd;
  --mixin-eBTNqdTCKU_border-top-style: solid;
  --mixin-eBTNqdTCKU_border-top-width: 1px;
  --mixin-eBTNqdTCKU_border-bottom-left-radius: 3px;
  --mixin-eBTNqdTCKU_border-bottom-right-radius: 3px;
  --mixin-eBTNqdTCKU_border-top-left-radius: 3px;
  --mixin-eBTNqdTCKU_border-top-right-radius: 3px;
  --mixin-eBTNqdTCKU_font-family: "Inconsolata";
  --mixin-eBTNqdTCKU_padding-bottom: 1px;
  --mixin-eBTNqdTCKU_padding-left: 4px;
  --mixin-eBTNqdTCKU_padding-right: 4px;
  --mixin-eBTNqdTCKU_padding-top: 1px;
  --mixin-mxUChNYvgH_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-mxUChNYvgH_border-bottom-color: #dddddd;
  --mixin-mxUChNYvgH_border-bottom-style: solid;
  --mixin-mxUChNYvgH_border-bottom-width: 1px;
  --mixin-mxUChNYvgH_border-left-color: #dddddd;
  --mixin-mxUChNYvgH_border-left-style: solid;
  --mixin-mxUChNYvgH_border-left-width: 1px;
  --mixin-mxUChNYvgH_border-right-color: #dddddd;
  --mixin-mxUChNYvgH_border-right-style: solid;
  --mixin-mxUChNYvgH_border-right-width: 1px;
  --mixin-mxUChNYvgH_border-top-color: #dddddd;
  --mixin-mxUChNYvgH_border-top-style: solid;
  --mixin-mxUChNYvgH_border-top-width: 1px;
  --mixin-mxUChNYvgH_border-bottom-left-radius: 3px;
  --mixin-mxUChNYvgH_border-bottom-right-radius: 3px;
  --mixin-mxUChNYvgH_border-top-left-radius: 3px;
  --mixin-mxUChNYvgH_border-top-right-radius: 3px;
  --mixin-mxUChNYvgH_font-family: "Inconsolata";
  --mixin-mxUChNYvgH_padding-bottom: 3px;
  --mixin-mxUChNYvgH_padding-left: 6px;
  --mixin-mxUChNYvgH_padding-right: 6px;
  --mixin-mxUChNYvgH_padding-top: 3px;
  --mixin-mFH0y27C9A_display: flex;
  --mixin-mFH0y27C9A_flex-direction: column;
  --mixin-mFH0y27C9A_align-items: stretch;
  --mixin-mFH0y27C9A_justify-content: flex-start;
  --mixin-mFH0y27C9A_list-style-position: outside;
  --mixin-mFH0y27C9A_padding-left: 40px;
  --mixin-mFH0y27C9A_position: relative;
  --mixin-mFH0y27C9A_list-style-type: decimal;
  --mixin-kLLsQvpJ6H_display: flex;
  --mixin-kLLsQvpJ6H_flex-direction: column;
  --mixin-kLLsQvpJ6H_align-items: stretch;
  --mixin-kLLsQvpJ6H_justify-content: flex-start;
  --mixin-kLLsQvpJ6H_list-style-position: outside;
  --mixin-kLLsQvpJ6H_padding-left: 40px;
  --mixin-kLLsQvpJ6H_position: relative;
  --mixin-kLLsQvpJ6H_list-style-type: disc;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-ewwVZgjRjST9_font-family);
  font-size: var(--mixin-ewwVZgjRjST9_font-size);
  font-weight: var(--mixin-ewwVZgjRjST9_font-weight);
  font-style: var(--mixin-ewwVZgjRjST9_font-style);
  color: var(--mixin-ewwVZgjRjST9_color);
  text-align: var(--mixin-ewwVZgjRjST9_text-align);
  text-transform: var(--mixin-ewwVZgjRjST9_text-transform);
  line-height: var(--mixin-ewwVZgjRjST9_line-height);
  letter-spacing: var(--mixin-ewwVZgjRjST9_letter-spacing);
  white-space: var(--mixin-ewwVZgjRjST9_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  font-family: var(--mixin-PBnW414n1_font-family);
  color: var(--mixin-PBnW414n1_color);
  font-size: var(--mixin-PBnW414n1_font-size);
  font-weight: var(--mixin-PBnW414n1_font-weight);
  letter-spacing: var(--mixin-PBnW414n1_letter-spacing);
  line-height: var(--mixin-PBnW414n1_line-height);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-YuA-l23dKy_font-family);
  color: var(--mixin-YuA-l23dKy_color);
  font-size: var(--mixin-YuA-l23dKy_font-size);
  font-weight: var(--mixin-YuA-l23dKy_font-weight);
  letter-spacing: var(--mixin-YuA-l23dKy_letter-spacing);
  line-height: var(--mixin-YuA-l23dKy_line-height);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-Iwl9HStoql_font-family);
  color: var(--mixin-Iwl9HStoql_color);
  font-size: var(--mixin-Iwl9HStoql_font-size);
  font-weight: var(--mixin-Iwl9HStoql_font-weight);
  letter-spacing: var(--mixin-Iwl9HStoql_letter-spacing);
  line-height: var(--mixin-Iwl9HStoql_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-56B3I_d9J0_font-family);
  color: var(--mixin-56B3I_d9J0_color);
  font-size: var(--mixin-56B3I_d9J0_font-size);
  font-weight: var(--mixin-56B3I_d9J0_font-weight);
  letter-spacing: var(--mixin-56B3I_d9J0_letter-spacing);
  line-height: var(--mixin-56B3I_d9J0_line-height);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-lerN-__foG_font-family);
  color: var(--mixin-lerN-__foG_color);
  font-size: var(--mixin-lerN-__foG_font-size);
  font-weight: var(--mixin-lerN-__foG_font-weight);
  letter-spacing: var(--mixin-lerN-__foG_letter-spacing);
  line-height: var(--mixin-lerN-__foG_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-WVUyB02BCO_font-family);
  color: var(--mixin-WVUyB02BCO_color);
  font-size: var(--mixin-WVUyB02BCO_font-size);
  font-weight: var(--mixin-WVUyB02BCO_font-weight);
  line-height: var(--mixin-WVUyB02BCO_line-height);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-4FmTHjIIgu_color);
  padding-left: var(--mixin-4FmTHjIIgu_padding-left);
  border-left: var(--mixin-4FmTHjIIgu_border-left-width)
    var(--mixin-4FmTHjIIgu_border-left-style)
    var(--mixin-4FmTHjIIgu_border-left-color);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-eBTNqdTCKU_background);
  font-family: var(--mixin-eBTNqdTCKU_font-family);
  border-radius: var(--mixin-eBTNqdTCKU_border-top-left-radius)
    var(--mixin-eBTNqdTCKU_border-top-right-radius)
    var(--mixin-eBTNqdTCKU_border-bottom-right-radius)
    var(--mixin-eBTNqdTCKU_border-bottom-left-radius);
  padding: var(--mixin-eBTNqdTCKU_padding-top)
    var(--mixin-eBTNqdTCKU_padding-right) var(--mixin-eBTNqdTCKU_padding-bottom)
    var(--mixin-eBTNqdTCKU_padding-left);
  border-top: var(--mixin-eBTNqdTCKU_border-top-width)
    var(--mixin-eBTNqdTCKU_border-top-style)
    var(--mixin-eBTNqdTCKU_border-top-color);
  border-right: var(--mixin-eBTNqdTCKU_border-right-width)
    var(--mixin-eBTNqdTCKU_border-right-style)
    var(--mixin-eBTNqdTCKU_border-right-color);
  border-bottom: var(--mixin-eBTNqdTCKU_border-bottom-width)
    var(--mixin-eBTNqdTCKU_border-bottom-style)
    var(--mixin-eBTNqdTCKU_border-bottom-color);
  border-left: var(--mixin-eBTNqdTCKU_border-left-width)
    var(--mixin-eBTNqdTCKU_border-left-style)
    var(--mixin-eBTNqdTCKU_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-mxUChNYvgH_background);
  font-family: var(--mixin-mxUChNYvgH_font-family);
  border-radius: var(--mixin-mxUChNYvgH_border-top-left-radius)
    var(--mixin-mxUChNYvgH_border-top-right-radius)
    var(--mixin-mxUChNYvgH_border-bottom-right-radius)
    var(--mixin-mxUChNYvgH_border-bottom-left-radius);
  padding: var(--mixin-mxUChNYvgH_padding-top)
    var(--mixin-mxUChNYvgH_padding-right) var(--mixin-mxUChNYvgH_padding-bottom)
    var(--mixin-mxUChNYvgH_padding-left);
  border-top: var(--mixin-mxUChNYvgH_border-top-width)
    var(--mixin-mxUChNYvgH_border-top-style)
    var(--mixin-mxUChNYvgH_border-top-color);
  border-right: var(--mixin-mxUChNYvgH_border-right-width)
    var(--mixin-mxUChNYvgH_border-right-style)
    var(--mixin-mxUChNYvgH_border-right-color);
  border-bottom: var(--mixin-mxUChNYvgH_border-bottom-width)
    var(--mixin-mxUChNYvgH_border-bottom-style)
    var(--mixin-mxUChNYvgH_border-bottom-color);
  border-left: var(--mixin-mxUChNYvgH_border-left-width)
    var(--mixin-mxUChNYvgH_border-left-style)
    var(--mixin-mxUChNYvgH_border-left-color);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-mFH0y27C9A_display);
  flex-direction: var(--mixin-mFH0y27C9A_flex-direction);
  align-items: var(--mixin-mFH0y27C9A_align-items);
  justify-content: var(--mixin-mFH0y27C9A_justify-content);
  list-style-position: var(--mixin-mFH0y27C9A_list-style-position);
  padding-left: var(--mixin-mFH0y27C9A_padding-left);
  position: var(--mixin-mFH0y27C9A_position);
  list-style-type: var(--mixin-mFH0y27C9A_list-style-type);
  flex-column-gap: var(--mixin-mFH0y27C9A_flex-column-gap);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-kLLsQvpJ6H_display);
  flex-direction: var(--mixin-kLLsQvpJ6H_flex-direction);
  align-items: var(--mixin-kLLsQvpJ6H_align-items);
  justify-content: var(--mixin-kLLsQvpJ6H_justify-content);
  list-style-position: var(--mixin-kLLsQvpJ6H_list-style-position);
  padding-left: var(--mixin-kLLsQvpJ6H_padding-left);
  position: var(--mixin-kLLsQvpJ6H_position);
  list-style-type: var(--mixin-kLLsQvpJ6H_list-style-type);
  flex-column-gap: var(--mixin-kLLsQvpJ6H_flex-column-gap);
}
