.root {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__o4MUa {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-8fgRcA8MIWoy);
}
.img {
  position: relative;
  object-fit: contain;
  max-width: 75%;
  margin-bottom: 0px;
  height: 185px;
  max-height: 75px;
  object-position: center center;
  align-self: center;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
  object-position: center center;
}
.img > .__wab_img-spacer > img {
  object-fit: contain;
  object-position: center center;
}
.freeBox__yh9U6 {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token--_9hWElktusQ);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__yh9U6 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__yh9U6 > :global(.__wab_flex-container) > *,
.freeBox__yh9U6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yh9U6 > :global(.__wab_flex-container) > picture > img,
.freeBox__yh9U6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yh9U6 {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yh9U6 > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yh9U6 > :global(.__wab_flex-container) > *,
  .freeBox__yh9U6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__yh9U6 > :global(.__wab_flex-container) > picture > img,
  .freeBox__yh9U6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox___9WTvX {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___9WTvX > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___9WTvX > :global(.__wab_flex-container) > *,
.freeBox___9WTvX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9WTvX > :global(.__wab_flex-container) > picture > img,
.freeBox___9WTvX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9WTvX {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9WTvX > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9WTvX > :global(.__wab_flex-container) > *,
  .freeBox___9WTvX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9WTvX > :global(.__wab_flex-container) > picture > img,
  .freeBox___9WTvX
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__kj2W {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__kj2W > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__kj2W > :global(.__wab_flex-container) > *,
.freeBox__kj2W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kj2W > :global(.__wab_flex-container) > picture > img,
.freeBox__kj2W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__uu6G5 {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.httpswwwfathymcom {
  position: relative;
  color: var(--token-qEtqsP0-AcEg);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwfathymcom:hover {
  color: var(--token-NEon4Y--Z);
}
.httpswwwfathymcomiot {
  position: relative;
  color: var(--token-qEtqsP0-AcEg);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwfathymcomiot:hover {
  color: var(--token-NEon4Y--Z);
}
.httpswwwhabistackcom {
  position: relative;
  color: var(--token-qEtqsP0-AcEg);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwhabistackcom:hover {
  color: var(--token-NEon4Y--Z);
}
.httpswwwproadjectcom {
  position: relative;
  color: var(--token-qEtqsP0-AcEg);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwproadjectcom:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__bVuy {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__bVuy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__bVuy > :global(.__wab_flex-container) > *,
.freeBox__bVuy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bVuy > :global(.__wab_flex-container) > picture > img,
.freeBox__bVuy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__aQKqR {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.httpswwwfathymcomdocs {
  position: relative;
  color: var(--token-qEtqsP0-AcEg);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwfathymcomdocs:hover {
  color: var(--token-NEon4Y--Z);
}
.httpswwwfathymcomblog {
  position: relative;
  color: var(--token-qEtqsP0-AcEg);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .httpswwwfathymcomblog:hover {
  color: var(--token-NEon4Y--Z);
}
.mailtosupportfathymcom {
  position: relative;
  color: var(--token-qEtqsP0-AcEg);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.root .mailtosupportfathymcom:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__e8C2 {
  flex-direction: column;
  display: flex;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__e8C2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__e8C2 > :global(.__wab_flex-container) > *,
.freeBox__e8C2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__e8C2 > :global(.__wab_flex-container) > picture > img,
.freeBox__e8C2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___6NUk {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.httpswwwfathymcom2 {
  color: var(--token-qEtqsP0-AcEg);
  font-size: 14px;
  margin-right: 0px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.httpswwwfathymcom3 {
  position: relative;
  color: var(--token-qEtqsP0-AcEg);
  font-size: 14px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.httpswwwfathymcom4 {
  position: relative;
  color: var(--token-qEtqsP0-AcEg);
  font-size: 14px;
  max-width: 153px;
  width: 100%;
  font-family: "Encode Sans Semi Condensed", sans-serif;
  min-width: 0;
}
.freeBox__iwpD {
  flex-direction: column;
  position: relative;
  width: 200px;
  flex-shrink: 0;
  display: none;
}
.freeBox__iwpD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__iwpD > :global(.__wab_flex-container) > *,
.freeBox__iwpD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iwpD > :global(.__wab_flex-container) > picture > img,
.freeBox__iwpD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__wX3Lh {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.text__cy5Gi {
  position: relative;
  font-size: 14px;
  color: var(--token-qEtqsP0-AcEg);
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__ns2Ob {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__n38Ec {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  width: 1em;
  height: 1em;
}
.svg___1ZgSa {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__uyZfb {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox__znNa {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-8fgRcA8MIWoy);
}
.freeBox__jqjPm {
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: var(--token--_9hWElktusQ);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__jqjPm > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jqjPm {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jqjPm > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jqjPm > :global(.__wab_flex-container) > *,
  .freeBox__jqjPm > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jqjPm > :global(.__wab_flex-container) > picture > img,
  .freeBox__jqjPm
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox___8JHt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.text__zEbF {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-qEtqsP0-AcEg);
  font-family: "Encode Sans Semi Condensed", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__zEbF {
    padding-right: 45px;
  }
}
.freeBox__q2LUz {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__q2LUz > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__q2LUz > :global(.__wab_flex-container) > *,
.freeBox__q2LUz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__q2LUz > :global(.__wab_flex-container) > picture > img,
.freeBox__q2LUz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.httpstwittercomFathymIt {
  position: relative;
  display: flex;
}
.fathymIt:global(.__wab_instance) {
  flex-shrink: 0;
}
.twitter {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .twitter:hover {
  color: var(--token-dph1wZ7NjV9);
}
.httpswwwinstagramcomfathymit2 {
  position: relative;
  display: flex;
}
.httpswwwinstagramcomfathymit:global(.__wab_instance) {
  flex-shrink: 0;
}
.instagram {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .instagram:hover {
  color: var(--token-dph1wZ7NjV9);
}
.httpsgithubcomfathym {
  position: relative;
  display: flex;
}
.httpsgithubcomfathym4:global(.__wab_instance) {
  flex-shrink: 0;
}
.gitHub2 {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .gitHub2:hover {
  color: var(--token-dph1wZ7NjV9);
}
.httpswwwlinkedincomcompanyfathym2 {
  position: relative;
  display: flex;
}
.httpswwwlinkedincomcompanyfathym:global(.__wab_instance) {
  flex-shrink: 0;
}
.linkedin {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 16px;
  height: 16px;
}
.root .linkedin:hover {
  color: var(--token-dph1wZ7NjV9);
}
.httpswwwfacebookcomFathymInc2 {
  position: relative;
  display: flex;
}
.httpswwwfacebookcomFathymInc:global(.__wab_instance) {
  flex-shrink: 0;
}
.facebook {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .facebook:hover {
  color: var(--token-dph1wZ7NjV9);
}
